        <!-- Begin List Item -->
        <li class="btn-group-vertical center-block">
        
        <!-- Begin Button - Name - New Category -->
        <button type="button" class="btn btn-med"><hgroup class="text-center"><h3>New Category</h3></hgroup>

        <!-- Examples -->

        <!-- Begin Button - Name - Navigator -->
        <button type="button" class="btn btn-med"><hgroup class="text-center"><h3>Navigator</h3></hgroup>
        <!-- Begin button - Name - Social -->     
        <button type="button" class="btn btn-med"><hgroup class="text-center"><h3>Social</h3></hgroup>

        <!-- End -->

        <!-- Begin Dropdown Toggle - New Category - Magic Icon -->
        <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown"><i class="icon-large icon-magic"></i></button>

        <!-- Examples -->
        
        <!-- Begin Dropdown Toggle - Navigator - Screenshot Icon -->
        <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown"><i class="icon-large icon-screenshot"></i></button>
        <!-- Begin Dropdown Toggle - Social - Fire Icon -->
        <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown"><i class="icon-large icon-fire"></i></button>
        
        <!-- End -->

        <!-- Begin - Unordered List - Dropdown Submenu -->
        <ul class="btn-group-lg dropdown-menu" role="menu">

        <!-- Extra li's w Icons -->

        <!-- VS Code - Page - Check - Icon -->
        <li class="btn-group-med"><a href="../VSCode/#.htm" class="btn btn-med btn-success" title="Click to Jump To the Visual Studio Code # Page" target="_self">Home Page <i class="glyphicon glyphicon-check"></i></a></li>
        
        <!-- Javascript - Page - Wrench - Icon -->
        <li class="btn-group-med"><a href="../Javascript/#.htm" class="btn btn-med btn-success" title="Click to Jump To the # Javascript Page" target="_self">Square It <i class="glyphicon glyphicon-wrench"></i></a></li> 
        
        <!-- Examples -->

        <!-- Education - Page - Education - Icon -->
        <li class="btn-group-med"><a href="../#/#.htm" class="btn btn-med btn-success" title="Click to Jump To the '#' Page" target="_self"># <i class="glyphicon glyphicon-education"></i></a></li>

        <!-- Globe - Page - Globe - Icon -->
        <li class="btn-group-med"><a href="../#/#.htm" class="btn btn-med btn-success" title="Click to Jump To the '#' Page" target="_self"># <i class="glyphicon glyphicon-globe"></i></a></li>

        <!-- Piggy Bank - Page - Piggy Bank - Icon -->
        <li class="btn-group-med"><a href="../#/#.htm" class="btn btn-med btn-success" title="Click to Jump To the '#' Page" target="_self"># <i class="glyphicon glyphicon-piggy-bank"></i></a></li>

        <!-- Ruble - Page - Ruble - Icon -->
        <li class="btn-group-med"><a href="../#/#.htm" class="btn btn-med btn-success" title="Click to Jump To the '#' Page" target="_self"># <i class="glyphicon glyphicon-ruble"></i></a></li>

        <!-- Phone - Page - Phone - Icon -->
        <li class="btn-group-med"><a href="../#/#.htm" class="btn btn-med btn-success" title="Click to Jump To the '#' Page" target="_self"># <i class="glyphicon glyphicon-phone"></i></a></li>
        
        <!-- End -->

        <!-- Home Page - Divider - Home Icon -->
        <li class="divider"></li>
        <li class="btn-group-med"><a href="/index.htm" class="btn btn-med btn-success" title="Click to Jump To the Home Page" target="_self">Home Page <i class="glyphicon glyphicon-home"></i></a></li>

        <!-- Close Open Tags -->
        </ul>
        </button>
        </li>
        