<li class="btn-group-med">
        <button type="button" class="btn btn-med"><span>Math</span>
        <button type="button" class="btn btn-med dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-star-empty"></i></button>
        <ul class="dropdown-menu" role="menu">
        <li class="btn-group-med"><a href="../pages/square-me.htm" class="btn btn-med" title="Clik to Jump To the Square Me Page" target="_self">Square Me <i class="glyphicon glyphicon-wrench"></i></a></li>
        
        <li class="divider"></li>
	<li class="btn-group-med"><a href="../pages/learn-html5.htm" class="btn btn-med btn-success" title="Clik to Jump To the Learn Landraces Page" target="_self">Learn Html5 <i class="glyphicon glyphicon-wrench"></i></a></li> -->

        </ul>
        </button>
        </li>       
        
        <!-- Extra li's -->'
        <li class="btn-group-med"><a href="#" class="btn btn-med" title="Clik to Jump To the '#' Page" target="_self"># <i class="glyphicon glyphicon-wrench"></i></a></li>
        <li class="btn-group-med"><a href="#" class="btn btn-med" title="Clik to Jump To the '#' Page" target="_self"># <i class="glyphicon glyphicon-education"></i></a></li>
        <li class="btn-group-med"><a href="#" class="btn btn-med" title="Clik to Jump To the '#' Page" target="_self"># <i class="glyphicon glyphicon-globe"></i></a></li>
        <li class="btn-group-med"><a href="#" class="btn btn-med" title="Clik to Jump To the '#' Page" target="_self"># <i class="glyphicon glyphicon-piggy-bank"></i></a></li>
        <li class="btn-group-med"><a href="#" class="btn btn-med" title="Clik to Jump To the '#' Page" target="_self"># <i class="glyphicon glyphicon-ruble"></i></a></li>
        