<!-- Comment out the liquid tag markdown-old from within the html comment.
			See markdown-old dot rb in _plugins to pages subdirectory.
			Error Message: Not rendered in ver 104 remotely ...
		{% comment %}
		{% markdown-old Canna_BC_Northern_Lights_Carbon_Free_Footprint_Solar_Electricty_Notes.md %}
		{% endcomment %}
		-->

<!-- Comment out liquid tags separately ...

{% comment %}

{\%

\%}

{% endcomment %}

Comment out html tags from within an html comment tag

<li><a href="../pages/landraces/Russian.cshtml">Russian</a></li>
<li><a href="../pages/landraces/Mongolian.cshtml">Mongolian</a></li>
<li><a href="../pages/landraces/Unknown_landrace.cshtml">Unknown</a></li>

-->

<!-- Comment Out: Pre n Code Lines
<pre>
    <code class="language-markup">

<div style="text-align: center; font-size: 12px">
	<p>
		<b>Copyright ©2016 <a href="https://mminail.github.io/"
			title="Clik to Jump To the Home Page of the MMINAIL"
				target="_blank">The Medical Marijuana Initiative of North America - International Limited</a>. All rights reserved.</b>
	</p>
	
	<p>
		<b>This Webpage is being hosted via:&nbsp;</b>
		<a href="https://pages.github.com/"
			title="Clik to Jump To GitHub Pages"
				target="_blank">GitHub Pages</a> 
	</p>
</div>

	</code>
</pre>
Comment Out: Pre n Code Lines -->

<!-- <li class="btn-group-med"><a href="#" class="btn btn-med" title="Clik to Jump To the Blak Page" target="_self">Blanks <i class="glyphicon glyphicon-leaf"></i></a></li> -->
        <!-- <li class="btn-group-med"><a href="../pages/html5.htm" class="btn btn-med" title="Clik to Jump To the Html5 Page" target="_self">Html5 <i class="glyphicon glyphicon-star-empty"></i></a></li> -->

<!-- <ul class="list-inline"> -->
    <!-- <ul class="nav nav-pills nav-stacked"> -->
    <!-- <li class="btn btn-info btn-lg"> -->

		<!-- <i class="caret" ></i> -->

		<!-- Note: the switch 'data-manual'' may be added AFTER the src to invoke No highlight -->