<h4>Mongo Command - Function Template</h4>
<p>
	<span>Intro to the MongoDB 'template()' function ...</span>
</p>

<p>
	<span>Intro to the MongoDB 'Template' command</span>
</p>
<!--
<pre>
<span>Highlighting MongoDB code w Rouge via liquid</span>
<code> -->
{% highlight javascript linenos %}
// where db is the wake-up command to the Mongo Server (MS) to provide general help
db.help();
{% endhighlight %}
<!--
</code>
</pre>
-->
<h5>For Example ( <span lang="es" title="For Example">Por Ejemplo</span> ) ...</h5>
<p>
	<span>(MS) will provide specific 'help', too ...</span>
	<span>Whenever a collection is specified within the 'help' function.</span>
</p>
<!--
<pre>
<span>Highlighting MongoDB code w Rouge via liquid</span>
<code> -->
{% highlight javascript linenos %}
// where 'frame' is the name of a collection of documents within the current working database
db.frame.help();
{% endhighlight %}
<!--
</code>
</pre>
-->