<h4>Css Classes</h4>
<p>
	<span>Intro to Css Classes ...</span>
</p>

<p>
	<span>Here is the list of Css classes used at this website.</span>
</p>

<h5>Css dot largo</h5>
<p>
	<span>Establish the 'largo' class via css by setting the double-xx font size for the Immediate tag, as follows:</span>
</p>

<pre>
<span>Setting the double-xx font size for the Immediate tag</span>
{% highlight css linenos %}
i.largo {
    font-size: xx-large;
}
{% endhighlight %}
<span lang="es" title="Sp. 'For Finish'">Finito!</span>&nbsp;...&nbsp;<i class="icon-large icon-flower"></i>
</pre>
