---
layout: default
title: Shell Page | MMINAIL
---
<div class="container-fluid">
	<div class="row-fluid">

<main>
<article>

<hgroup class="text-left">
	<h3>Shell Article</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Shell page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />
	
<p>
	<span>More to come ...</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>Shell Topic</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>More to come ...</span>
</p>

<footer class="page-footer center-block">
	<br />
	<p>
		<span><b>Source</b>:</span>
    	<span><a href="https://www.syncfusion.com/resources/techportal/ebooks"
        title="Click to Review Javascript Succinctly by Cody Lindley"
        target="_blank">Javascript Succinctly</a></span>
	</p>

	<p>
		<span>See: The </span>
        <span><a href="https://www.syncfusion.com/resources/techportal/details/ebooks/javascript"
        title="Click to Review Javascript Succinctly by Cody Lindley"
        target="_blank">eBook</a>
		<span>by</span>
		<a href="http://www.codylindley.com/"
        title="Click to Review the Author Cody Lindley"
        target="_blank">Cody Lindley</a></span>
	</p>

	<p>
		<span>Original Copyright 2012 Syncfusion, Inc.</span>
        <br />
        <span>| Technology Resource Portal |</span>
		<br />
		<span>Morrisville, NC USA</span>
	</p>
		<hr class="green-groove" />
		
	{% include footer.htm %}
</footer>

</article>
</main>

</div>
</div>