<hgroup class="text-left">
	<h4>Responsive Image</h4>
</hgroup>
	<hr class="green-groove" />

<picture>
	<!-- <source srcset="../images/Canna-Solar-32-Panel-Array-8-x-4-w-Dual-Axis-Tracking-Label-360-x-270-px.png" media"(max-width: 360px)">
	<source srcset="../images/Canna-Solar-32-Panel-Array-8-x-4-w-Dual-Axis-Tracking-Label-640-x-480-px.png"> -->
	<img class="img-responsive img-rounded" src="../images/Canna-Solar-32-Panel-Array-8-x-4-w-Dual-Axis-Tracking-Label-640-x-480-px.png" alt="Solar Array of 32 panels on pedestal" />
	<!-- <img class="img-responsive img-circle" /> -->
</picture>
	<hr class="green-groove" />