/* The main .css file for the mminail.gihub.io Git repo */

/* Set the font-face(s) for the Website */

/*  Note. C=> https://www.google.com/fonts for the entire 'eurostyle' group */
@font-face {
    font-family: 'eurostyle';
    /* src: url(‘../fonts/euro/eurostyle.eot’); */
    /* src: url('../fonts/euro/eurostyle.eot?#iefix') format(‘embedded-opentype’), */
    src: url('../fonts/euro/eurostyle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/glyph/fontawesome-webfont.eot');
    src: url('../fonts/glyph/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/glyph/fontawesome-webfont.woff2') format('woff2'),
        url('../fonts/glyph/fontawesome-webfont.woff') format('woff'),
        url('../fonts/glyph/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/glyph/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glyphicon-halflings-regular';
    src: url('../fonts/glyph/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyph/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
        url('../css/fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../css/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('../fonts/glyph/glyphicons-halflings-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*  Note. C=> https://www.google.com/fonts for the entire 'trattatello' group  */
@font-face {
    font-family: 'trattatello';
    /* src: url(‘../fonts/serif/trattatello.eot’); */
    /* src: url('../fonts/serif/trattatello.eot?#iefix') format(‘embedded-opentype’), */
    src: url('../fonts/serif/trattatello.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Set the html for the Website */
html {
    margin: 0;
    padding: 0;
    width: calc(100% - 0px);
    height: 100%;
}

/* Set the body for the page */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* font: normal 100%/1.4 Georgia, serif; */
    background-color: rgb(155,155,204);
    /* opacity: 0.5; /* ¡Cuidado! Both the Background-color AND the Text color are affected by the opacity level! */
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    width: calc(100% - 0px);
    height: 100%;
    /* overflow: auto; */
}

a {
    text-decoration: none;
}

a[href^="https:"] {
    font-family: 'eurostyle';
    font-size: 1.25em;
    color: #004B23; /* Forest Green */
    letter-spacing: 1px;
}

a[href^="http:"] {
    color: rgb(207,103,75); /* Indian Red */ 
}

/* Set the background color and image for the header masthead */
.masthead {
    min-height: 230px;
    max-height: 230px;
    /* max-width: 100%; */
    width: calc(100% - 0px); 
    /* padding-right: .5em; */
    /* padding-bottom: .5em; */
    /* padding-left: .5em; */
    padding-top: .25em;
    /* color: black; */
    color: #000531; 
    background: rgb(155,155,204) url("../images/svg/GH-GitHub-Profile-Banner-MMINAIL-Left-Logo-two-1400-x-230.svg") no-repeat; /* center center */
    background-size: cover;
    /* background-size: contain; */
}

/* Titles */
h1 {
    text-align: center;
    /* min-width: 480px; */
    width: calc(100% - 20px);
    font-size: x-large;
    margin-top: 0px;
}

/* Set the double-xx font size for the Immediate tag */
i.largo {
    font-size: xx-large;
}

/* Subtitles */

h2 {
    font-size: large;
}

h3 {
    /* font-size: medium; */
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: small;
}

h6 {
    font-size: x-small;
}

h7 {
    font-size: xx-small;
}

/* Direct Classes */

.canvas-text {
    position: relative;
    /* font-size: x-large; */
    /* color: darkblue; */
    /* text-align: center; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border: 5px red groove;
}

/* Color Text Classes */
.forest-green-text {
    color: #004B23; /* Forest Green */
}

.neon-text {
    color:lime; /* Neon Green */
}

/* Typeface Classes */
.euro {
    font-family: 'eurostyle';
}

.font-awesome {
    font-family: 'fontawesome';
}

.glyph {
    font-family: 'glyphicon-halflings-regular';
}

.text-glyph {
    font-family: 'glyphicon-halflings-regular';
}

.text-euro {
    font-family: 'eurostyle';
}

.text-trat {
    font-family: 'trattatello';
}

/* Styled Text Classes */

/* Imgage Zoom-out From thumb */
.icon-thumb {
    width: 25px;
    height: auto;
}

/* The Adjacent Sibling */
.icon-zoom {
    position: absolute;
    width: 0px;
    -webkit-transition: width 0.3s linear 0s;
    transition: width 0.3s linear 0s;
    z-index: 5;
}

/* Where the "plus" sign represents the adjacent sibling selector in Css3 */
.icon-thumb:hover + .icon-zoom {
    width: 100px;
}

.oblique-text {
    font-family: 'eurostyle';
    /* font-style: oblique; */
    font-size: 1.25em;
    color: #CC6600; /* Ashley Gold */
    /* border: 2px black groove; */
    letter-spacing: 1px;
    /* letter-spacing: normal; /* zero length */
}

.script-text {
    font-style: italic;
    font-family: cursive;
}

/* Directional Text Classes */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.right-justify {
    text-align: right;
}

/* Set the header elements */

hgroup {
    text-align: center;
}

/* Set the basic classes */

.panel-padding {
    padding: 1%;
}

.more-link {
    display: inline-block;
    margin-left: 10px;
}

/* Set the rule for a custom <hr /> 'hard return' tag */
.green-groove {
    border: 1px groove green;
}

.small-caps {
    font-variant: small-caps;
    font-weight: 700;
}

/* Nav semantic container classes */
.menu {
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    max-width: 100%;
}
.menu li {
    padding: 1%;
    margin-bottom: 1%;
    /* display: inline-block; */
    /* max-width: 50%; /* limit width */
    /* background-color: #33b5e5 */
    background-color : rgb(155,155,204); /* Medium Purple */
    /* text-align: left; */
    color: #fff;
    /* color: dodgerblue; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: rgb(207,103,75); /* Indian Red */
    /* text-align: left; */
    /* background-color: #0099cc; /* Dodger Blue */
}

.dropdown-menu {
    text-align: center;
}

div.container {
    background-color: #fff; /* White */
}

div.container-fluid {
    /* background-color: skyblue; */
    background-color: powderblue;
    /* padding-right: 1%; */
    /* padding-left: 1%; */
    padding: 1%;
    margin-right: auto;
    margin-left: auto;
}

article.main-article {
    position: relative;
    text-align: left;
    /* min-width: 200px; */
    width: calc(81% - 0px);
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-top: 1%;
    /* background: hsl(220, 80%, 90%); /* sky blue */
    /* background-color: cornsilk; */
    /* background-color: lightyellow; */
    /* background-color: rgb(254,254,205); /* full-moon yellow */
    /* background-color: lightgoldenrodyellow; */
    /* background-color: papayawhip; */
    /* background-color: honeydew; */
    /* background-color: palegoldenrod; */
    /* background-color: linen; */
    background-color:rgb(255,255,229); /* moonlight */
    /* border-right: 2px solid #fff; */
}

aside#navigator {
    right: 0;
    /* margin-left: 73%; */
    position: absolute;
    float: right;
    /* max-width: 27%; */
    width: calc(19% - 0px);
    /* min-width: 160px; */
    padding: 1%;
    background-color: rgb(155,155,204); /* medium purple */
    /* border-left: 2px solid #fff; */
}

aside#supporting-content {
    text-align: left;
    /* float: right; */
    /* width: 20%; */
    background-color: rgb(155,155,204); /* Medium Purple */
    padding: 1%;
    /* border-left: 2px solid #fff; */
    /* margin-right: auto; */
    /* margin-left: auto; */
}

/* Set the background color for the currently selected Nav tab */
.currentlySelected {
    background-color: #000531;
    color: #fff;
}

/* Wordwrap and highlight the lines of code  */
pre {
    /* height: 100%; */
    display: block;
    /* display: inline; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: monospace; */
    font-size: small;
    margin: 1em 0;
    /* Is the text-wrap selector now deprecated? */
    /* text-wrap: normal; */
    /* text-wrap: none; */
    /* text-wrap: avoid; */
    white-space: pre-wrap;
    /* white-space: normal; */
    /* white-space: nowrap; */
    /* white-space: pre; */
    /* white-space: pre-line; */
    word-break: keep-all;
    /* word-break: break-all; */
    word-wrap: normal;
    /* word-wrap: break-word; */
    overflow-wrap: normal; /* hyphenate */
    /* overflow-wrap: break-word; */
    overflow: hidden;
    /* overflow: scroll; */
    /* overflow: auto; */
    text-overflow:  ellipsis;
    /* text-overflow: clip; */
    background-color: rgb(255,255,229); /* light yellow */
    /* background: hsl(30,80%,90%); /* full moon yellow */
}

pre.flex-box {
    display: flex;
    /* flex-direction: row;
    - where the default option is 'row' */
    /* flex-direction: row-reverse; */
    flex-direction: column;
    /* flex-direction: column-reverse; */

    /* -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; */

    /* -webkit-flex-flow: row;
        -ms-flex-flow: row;
	        flex-flow: row; */

    /* margin-right: -0.625rem;
    margin-bottom: 0.75rem;
    margin-left: -0.625rem; */
}

code {
    /* height: 100%; */
    /* text-justify: auto */
    /* text-justify: initial */
    /* text-justify: inter-word; */
    /* text-justify: inter-cluster; */
    /* text-justify: inter-ideograph; */
    /* text-justify: distribute */
    /* text-justify: kashida; */
    /* text-justify: trim */
    text-align: left;
    /* Is the text-wrap selector deprecated? */
    /* text-wrap: normal; */
    /* text-wrap: none; */
    /* text-wrap: avoid; */
    white-space: nowrap;
    /* white-space: normal; */
    /* white-space: pre; */
    /* white-space: pre-line; */
    /* white-space: pre-wrap; */
    word-break: keep-all;
    /* word-break: break-all; */
    word-wrap: normal;
    /* word-wrap: break-word; */
    overflow-wrap: normal; /* hyphenate */
    /* overflow-wrap: break-word; */
    overflow: hidden;
    /* overflow: scroll; */
    /* overflow: auto; */
    text-overflow:  ellipsis;
    /* text-overflow: clip; */
    background: hsl(220, 80%, 90%); /* sky blue */
}

mark,
.mark {
  /* padding: .2em; */
  background-color: lime;
}

/* Set an alternative to default button 'medium' */
.btn-med,
.btn-group-med > .btn {
    text-align: center;
    font-size: 16px;
    line-height: 1.3333333;
    color: rgb(51,122,183); /* dark blue */
    background-color: rgb(155,155,204); /* Medium Purple */
    /* padding: 10px 16px; */
    padding: 1%;
    /* border-radius: 6px; */
    border-radius: 4px;
}

/* Set the collapsable Responsive Image 'min-width' */
img {
    /* min-width: 340px; */
    /* max-width: 100%; */
    height: auto;
    border: 1px solid transparent;
    /* border: 1px solid red; */
}

.img-responsive {
    width: calc(100% - 0px);
    max-width: 210px;
    }

ul.none {
    list-style-type: none;
    /* margin: 0; */
    /* padding: 0; */
}

/* Set the page-footer template for each page */
.page-footer {
    display: block;
    text-align: center;
    font-size: small;
    font-weight: 700;
    padding: 1%;
    left: auto;
    right: auto;
    min-width: 340px;
    min-height: 160px;
    z-index: 8;
    /* position: absolute; */
    /* bottom: 1%; */
    background-color:rgb(255,255,229); /* moonlight */
    /* background-color: #eebb55; /* orange-yellow */
	/* background-color: #ffeebb; /* medium-wheat */
    border-radius: 7pt;
    border: 1px solid rgb(155,155,204); /* Medium Purple */
    }

/* Set the global site-footer for the Website */
.site-footer {
    position: relative;
    /* position: absolute; */
    display: block;
    text-align: center;
    font-size: small;
    font-weight: 700;
    padding: 1%;
    margin: 1% 0% 0% 0%;
    /* bottom: 1%; */
    width: calc(80% - 0px);
    /* width: calc(100% - 20px); */
    /* max-width: 350px; */
    /* max-width: 630px; */
    /* background-color: linen; */
    z-index: 10;
    border-radius: 7pt;
    border: 1px solid rgb(207,103,75); /* Indian Red */
    }

/* MEDIA QUERY SECTION */

@media only screen and (max-width: 1200px) and (min-width: 801px)  {

.masthead {
    min-height: 230px;
    max-height: 230px;
    /* max-width: 100%; */
    width: calc(100% - 0px);
    }

h1 {
    /* display: inline-block; */
    /* overflow: hidden; */
    text-align: center;
    width: calc(100% - 00px);
    font-size: x-large;
    }

h2 {
    font-size: large;
    }

h3 {
    font-size: 20px;
    }

article.main-article {
    width: calc(81% - 0px);
    }

aside#navigator {
    /* position: relative; */
    /* max-width: 35%; */
    width: calc(19% - 0px);
    /* min-width: 120px; */
    }

.site-footer {
    position: relative;
    margin: 1% 0% 0% 0%;
    /* width: calc(100% - 20px); */
    width: calc(80% - 0px);
    /* max-width: 350px; */
    /* max-width: 630px; */
    }
}

@media only screen and (max-width: 800px) and (min-width: 641px)  {

.masthead {
    min-height: 230px; 
    /* max-width: 100%; */
    width: calc(100% - 0px);
    }

h1 {
    /* display: inline-block; */
    /* overflow: hidden; */
    text-align: center;
    width: calc(100% - 00px);
    font-size: x-large;
    }

h2 {
    font-size: large;
    }

h3 {
    font-size: 18px;
    }

article.main-article {
    width: calc(70% - 0px);
    }

aside#navigator {
    /* position: relative; */
    /* max-width: 35%; */
    width: calc(30% - 0px);
    /* min-width: 120px; */
    }

.site-footer {
    position: relative;
    margin: 2% 0% 0% 0%;
    /* width: calc(100% - 20px); */
    width: calc(69% - 0px);
    /* max-width: 350px; */
    /* max-width: 620px; */
    }
}

@media only screen and (max-width: 640px) and (min-width: 341px)   {

.masthead {
    min-height: 230px; 
    /* max-width: 100%; */
    width: calc(100% - 0px);
    }

h1 {
    width: calc(100% - 20px);
    max-width: 70%;
    /* display: inline-block; */
    /* overflow: hidden; */
    text-align: center;
    /* max-width: 180px; */
    font-size: x-large;
    /* margin-left: 250px; */
    }

h2 {
    font-size: large;
    }

h3 {
    font-size: 16px;
    }

article.main-article {
    width: calc(70% - 0px);
    }

aside#navigator {
    /* position: relative; */
    /* max-width: 30%; */
    width: calc(30% - 0px);
    /* min-width: 140px; */
    }

.btn-med, .btn-group-med > .btn {
    text-align: left;
    }

.site-footer {
    position: relative;
    margin: 3% 0% 0% 0%;
    /* width: calc(100% - 20px); */
    width: calc(69% - 0px);
    /* max-width: 350px; */
    /* max-width: 630px; */
    }
}

@media only screen and (max-width: 360px) {

.masthead {
    min-height: 230px; 
    /* max-width: 100%; */
    width: calc(100% - 0px);
    }

h1 {
    width: calc(100% - 10px);
    max-width: 70%;
    /* 200px / 360px */
    /* display: inline-block; */
    /* overflow: hidden; */
    text-align: center;
    /* max-width: 180px; */
    /* max-height: 1px; */
    font-size: large;
    /* margin-top: 100 px; */
    }

h2 {
    font-size: large;
    }

h3 {
    font-size: medium;
    }

article.main-article {
    width: calc(70% - 0px);
    }

aside#navigator {
    /* position: relative; */
    /* max-width: 35%; */
    width: calc(30% - 0px);
    /* min-width: 120px; */
    }

.btn-med, .btn-group-med > .btn {
    text-align: left;
    }

.img-responsive {
    width: calc(100% - 0px);
    max-width: 100%;
    }

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    max-width: 100%;
}

.menu li {
    max-width: 100%;
    padding: 1%;
    margin-bottom: 1%;
    /* display: inline-block; */
    /* max-width: 50%; /* limit width */
    /* background-color: #33b5e5 */
    background-color : rgb(155,155,204); /* Medium Purple */
    /* text-align: left; */
    color: #fff;
    /* color: dodgerblue; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.page-footer {
    left: 0;
    right: 0;
    max-width: 210px;
    min-width: 210px;
    }

.site-footer {
    position: relative;
    margin: 5% 0% 0% 0%;
    /* width: calc(100% - 20px); */
    width: calc(69% - 0px);
    /* max-width: 350px; */
    /* max-width: 630px; */
    }
}

/* SMALLEST MEDIA QUERY END */
