---
title: Source Links
layout: default
version: Carbon Free Source Links Template htm Dtd 02-06-18
categories: template
topic: Carbon Free
---
<!-- {{ page.version }} -->
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h4>Very Special Carbon Free Links</h4>
    </hgroup>
    <hr class="green-groove" />

    <p>
      <span>This is a container for some <em>Very Special</em> Carbon Free lesson links.</span>
    </p>

    <p>
      <span>Created especially for our viewers at the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
    </p>

    <p>
      <span>Each hyperlink points to an individual <em>Article or Lesson</em> crafted by expert authors.</span>
    </p>

    <p>
      <span>Scroll down to the <b>Link Construction</b> section to review the hyperlinks.</span>
    </p>
      <hr class="green-groove" />
    
    {% include navigate-it.htm %}

    {% include topic-lesson-template.htm %}
    
    {% include external-source-links.htm %}

    <hgroup class="text-left">
      <h4>Link Construction</h4>
    </hgroup>
    <hr class="green-groove" />

    <p class="lead">
      <span>The following group of pages refer to the Carbon Free Footprint Project at GitHub Pages.</span>
    </p>

    <ul>
      <li><span>Click on any of the following hyperlinks to be transported directly to the underlying Article or Lesson at the <b>Carbon Free Lessons Project</b>.</span></li>
    </ul>
      <hr class='green-groove' />

    <ol type="1">
      <li>
        <a href="https://rwebaz.github.io/Carbon-Free-Footprint-Project/" 
        title="Click to Visit the Home Page of the Carbon Free Footprint Project at GitHub Pages"
        target="_blank">Home Page</a>: {{ site.tagline }} ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Carbon-Free-Footprint-Project/pages/Northern-Lights.html" 
        title="Click to Visit the Northern Lights page of the Carbon Free Footprint Project at GitHub Pages"
        target="_blank">Northern Lights</a>: The Venture CFFP is a Solar Power analysis and blueprint designed to establish a Carbon Free
        Footprint when operating a BC Northern Lights Bloombox full blast 24/7 ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Carbon-Free-Footprint-Project/pages/Solar-Electricity.html" 
        title="Click to Visit the Solar Electricity page of the Carbon Free Footprint Project at GitHub Pages"
        target="_blank">Solar Electricity</a>: The components of Solar Electricity and how Solar Electricity is measured ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Carbon-Free-Footprint-Project/pages/The-Flammarion.html" 
        title="Click to Visit The Flammarion page of the Carbon Free Footprint Project at GitHub Pages"
        target="_blank">The Flammarion</a>: The Flammarion is an ancient portrait of a medieval man poking his head into the ether ...</li>
      <br />

    </ol>
      <hr class='green-groove' />

    <hgroup class='text-left'>
      <h4>Gists</h4>
    </hgroup>
    <hr class='green-groove' />

    <p class="lead">
      <span>
        <b>Gists</b> are pages of <em>Markdown</em> and/or <em>Html</em> that are not yet ready for prime time.</span>
    </p>

    <ul>
      <li><span>Something has yet to jell on the page that is precluding its official publishment</span>.</li>
      <br />
      <li><span>Perhaps the <em>gist</em> is simply a new <em>Topic of Interest</em> and the author of this website simply has not yet had the time to fully expound the details</span>.</li>
      <br />
      <li><span>These pages of the gist type are ripe for pulling</span>.</li>
    </ul>
      <hr class='green-groove' />

    <ol type='1'>
      <li>
        <a href="https://rwebaz.github.io/Carbon-Free-Lessons-Project/_gists/New-Title.html" 
        title="Click to Visit the New Title page of the Carbon Free Lessons Project at GitHub Pages"
        target="_blank">New Title</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Carbon-Free-Footprint-Project/_gists/Solar-Panels.html" 
        title="Click to Visit the Solar Panels page of the Carbon Free Footprint Project at GitHub Pages"
        target="_blank">Solar Panels</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Carbon-Free-Footprint-Project/_gists/Solar-Power.html" 
        title="Click to Visit the Solar Power page of the Carbon Free Footprint Project at GitHub Pages"
        target="_blank">Solar Power</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Carbon-Free-Footprint-Project/_gists/Sungevity-Solar.html" 
        title="Click to Visit the Sungevity Solar page of the Carbon Free Footprint Project at GitHub Pages"
        target="_blank">Sungevity Solar</a>: Time to buck-up for #Solar! Go Green and Earn your tax rebate today! ...</li>
      <br />
    </ol>
      <hr class='green-groove' />
      
      {% include sources-and-uses.htm %}
      
      {% include alt-footer-cash-me.htm %}

  </div>
</div>
