---
layout: default
title: New Page
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h3>New Sub Title #1</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>Lead in statement</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span>More to come ...</span>
      </p>
    </div>
    <hr class="green-groove" />

    <hgroup class="text-left">
      <h3>New Sub Title #2</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>Lead in statement</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span>More to come ...</span>
      </p>

      <p>
        <span>More to come ...</span>
      </p>
    </div>
    <hr class="green-groove" />
  </div>
  <hr class="green-groove" />

  {% include sources-and-uses.htm %}

  {% include alt-footer-cash-me.htm %}

</div>
</div>
