---
layout: default
title: Shell Lesson
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

{% include welcome-title.htm %}
		
  <p>
		<span>The following group of pages refer to Markdown Lessons of Table Construction ...</span>
	</p>
		<hr class='green-groove' />
		
	  <ol type="1">
			<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Citrus-Table.html" title="Click to Visit the Citrus Table Lesson at GitHub" target="_blank">Citrus Table</a>: How To Create A Table In Pure Markdown</li>
			<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Spanish-Tables.html" title="Click to Visit the Spanish Tables Page at GitHub" target="_blank">Spanish Tables</a>: How To Force a New Target Blank When Clicking A GFM Hyperlink</li>
			<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Markdown-Table.html" title="Click to Visit the Markdown Table Lesson at GitHub" target="_blank">Markdown Table</a>: How To Create A Table In Markdown</li>
		</ol>
			<hr class='green-groove' />

{% include jquery-library.htm %}

{% include sources-and-uses.htm %}

{% include alt-footer-cash-me.htm %}

</div>
</div>

<script src='../js/jquery.min.js'></script>
<script src='../js/scripts/corresponding-javascript-file.js'></script>
