---
layout: default
title: Learn Shell
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<hgroup class="text-left">
	<h3>Learn Shell {% include case-icon-svg.htm icon="MMINAIL" %}</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Learn Shell Now page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />
	
<hgroup class='text-left'>
	<h4>Navigate It</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Learn-Shell' selection just north of the <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at the 'Learn-Shell-Now' page.</span>
</p>
	<hr class="green-groove" />
		
{% include working-repo.htm %}

<hgroup class='text-left'>
	<h4>Concepts Library</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>For example, here is a set of external source links to the various sources used in the 'Shell Lessons Project'.</span>
</p>
		
<p>
	<span>The source links are segregated first by 'Shell Lessons Project' topic, secondly by 'title', and then thirdly by 'author'.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Shell Lessons Project - Home Page</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span><b>Note</b>.</span>
	<span>The first link connects the end-user with the Home page of the 'Shell-Lessons-Project'.</span>
</p>

<ol type="1">
	<li><a href="https://rwebaz.github.io/Shell-Lessons-Project/" title="Click to Visit the Shell Lessons Project - Home Page at GitHub pages" target="_blank">Home Page</a>: Shell Lessons Project</li>

</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Shell Lesson Topics</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following set of topics segregate the lessons for easy find by the end user.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Topic A</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to Shell Lessons of ...</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Shell-Lessons-Project/pages/Shell-Lists.html" title="Click to Visit the Shell page of the Shell Lessons Project at GitHub pages" target="_blank">Shell Lists</a>: Place the introducing line of text ie.) the 'tagline' here ...</li>
	
</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Topic B</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to Shell Lessons of ...</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Shell-Lessons-Project/pages/Shell-Lists.html" title="Click to Visit the Shell page of the Shell Lessons Project at GitHub pages" target="_blank">Shell Lists</a>: Place the introducing line of text ie.) the 'tagline' here ...</li>
		
</ol>
	<hr class='green-groove' />

{% include sources-and-uses.htm %}

</div>
</div>
