---
layout: default
title: Shell Source Links
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

{% include welcome-title-zoom-mminail.htm %}

<hgroup class="text-left">
	<h4>Very Special Shell Links</h4>
</hgroup>
	<hr class="green-groove" />

	<p>
		<span>This is a container for some <em>Very Special</em> Shell lesson links.</span>
  </p>
  
  <p>
    <span>Created especially for our <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr> viewers ...</span>
  </p>

  <p>
    <span>Each hyperlink points to an individual <em>Article or Lesson</em> crafted by expert authors.</span>
  </p>

	<p>
		<span>Scroll down to the <b>Link Construction</b> section to review the hyperlinks.</span>
	</p>
		<hr class="green-groove" />

{% include navigate-it.htm %}

{% include external-source-links.htm %}

<hgroup class="text-left">
	<h4>Link Construction</h4>
</hgroup>
	<hr class="green-groove" />
		
	<p>
		<span>The following group of pages refer to the Shell Lessons Project at GitHub Pages.</span>
	</p>
		
	<p>
		<span>Click on any of the following hyperlinks to be transported directly to the underlying lesson or article at the Shell Lessons Project.</span>
	</p>
		<hr class='green-groove' />
    
<ol type="1">
  <li><a href="https://rwebaz.github.io/Shell-Lessons-Project/" title="Click to Visit the Home Page of the Shell Lessons Project at GitHub Pages" target="_blank">Home Page</a>: {{ site.tagline }} ...</li>
  <br />
  <li><a href="https://rwebaz.github.io/Shell-Lessons-Project/pages/New-Title.html" title="Click to Visit the For New Title page of the Shell Lessons Project at GitHub Pages" target="_blank">New Title</a>: Place intro line (lead) of article here ... ...</li>
  <br />
  <li><a href="https://rwebaz.github.io/Shell-Lessons-Project/pages/The-Flammarion.html" title="Click to Visit The Flammarion page of the Shell Lessons Project at GitHub Pages" target="_blank">The Flammarion</a>: The Flammarion is an ancient portrait of a medieval man poking his head into the ether ...</li>

</ol>
  <hr class='green-groove' />

{% include sources-and-uses.htm %}

{% include alt-footer-cash-me.htm %}

	</div>
</div>
