---
title: Learn Shell
layout: default
version: Learn Shell Now Template htm Dtd 02-07-18
categories: template
Topic: Shell
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}
    
    {% include navigate-it.htm %}
    
    {% include learn-topic.htm %}
    
    {% include external-source-links.htm %}
    
    {% include sources-and-uses.htm %}

    <hgroup class="text-left">
      <h4>Version</h4>
    </hgroup>
    <hr class="green-groove" />

    <p>
      <span>
        <b>Note</b>.</span>
      <span>This page crafted with {{ page.version }}.</span>
    </p>

    {% include alt-footer-cash-me.htm %}

  </div>
</div>
