---
layout: default
title: Shell Lesson
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

{% include welcome-title-zoom-mminail.htm %}

<hgroup class="text-left">
	<h4>Very Special Shell Lesson</h4>
</hgroup>
	<hr class="green-groove" />

	<p>
		<span>This is a container for a Very Special Shell lesson.</span>
	</p>

	<p>
		<span>This Very Special Shell lesson is currently in draft.</span>
	</p>

	<p>
		<span>More to come ...</span>
	</p>
		<hr class="green-groove" />

<hgroup class="text-left">
	<h4>El Futuro Shell Lesson</h4>
</hgroup>
	<hr class="green-groove" />

	<p>
		<span>This is a container for the El Futuro Shell lesson.</span>
	</p>
	
  <p>
	  <span>This El Futuro Shell lesson is currently in draft.</span>
  </p>

  <p>
	  <span>More to come ...</span>
  </p>
    <hr class="green-groove" />
    
<hgroup class="text-left">
  <h4>Link Construction</h4>
</hgroup>
  <hr class="green-groove" />
		
  <p>
		<span>The following group of pages refer to Shell Lessons of Link Construction ...</span>
	</p>
		<hr class='green-groove' />
		
	<ol type="1">
		<li><a href="https://rwebaz.github.io/Shell-Lessons-Project/pages/shell-one.html" title="Click to Visit the Shell One Lesson Page at GitHub" target="_blank">Shell One</a>: How To ...</li>
		<li><a href="https://rwebaz.github.io/Shell-Lessons-Project/pages/shell-two.html" title="Click to Visit the Shell Two Lesson Page at GitHub" target="_blank">Shell Two</a>: How To ...</li>
		<li><a href="https://rwebaz.github.io/Shell-Lessons-Project/pages/shell-three.html" title="Click to Visit the Shell Three Lesson Page at GitHub" target="_blank">Shell Three</a>: How To ...</li>
	</ol>
		<hr class='green-groove' />

{% include jquery-library.htm %}

{% include sources-and-uses.htm %}

{% include alt-footer-cash-me.htm %}

</div>
</div>

<script src='../js/jquery.min.js'></script>
<script src='../js/scripts/corresponding-javascript-file.js'></script>
