---
layout: default
title: Home Page
---
<div class="container-fluid">
	<div class="row-fluid">

<main>

<hgroup class="text-left">
	<h3>MMINAIL</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Client-facing Home page for the <b><abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr></b> Central Live Repository.</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>Concept Library</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>The goal of the Central Live Repository (CLR) at the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr> ...</span>
</p>

<p>
	<span>Is to create a Client-facing portal that will encompass all of the company's Central Working Repo (CWR) located at</span>
	<span><a href='https://github.com/MMINAIL/mminail.github.io' title='Click To Fork the MMINAIL Central Working Repo at GitHub' target='_blank'>GitHub</a> into a <b>Concept Library</b>.</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>Central Working Repo</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>A Concept Library may be centrally located at a single Central Working Repo (CWR) with many topical pathways to follow.</span>
</p>

<p>
	<span>Granting a project or research team an easy area of collection and collaboration is the purpose of a <abbr class='oblique-text' title='Central Working Repo'>CWR</abbr>.</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>Project Management</h4>
</hgroup>
	<hr class="green-groove" />

<p>
<span>A Central Working Repo (CWR) housing a Concept Library also grants the Project Manager a window into the progress of his or her team.</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>The Medical Marijuana Initiative of North America - International Limited</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>In a connective cartography of ideas and hyperlinks spanning the entire connectome of the modern <b>Medical Marijuana Initiative</b> ...</span>
</p>

<p>
	<span>The open source authors of this project hope to enlighten the world to the plight of the common medical patient.</span> 
</p>

<p>
	<span>Due to a labyrinth of government regulations and costs, today's common medical patient is virtually devoid of healing phyto-cannabinoids and other beneficial terpenes globally for no other reason than his or her current residential address.</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>Character of Business</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>The Benefit Corporation behind this effort initially intends to conduct itself as a news and information business providing direction to state-legal dispensaries in a thoroughly muddled federal regulatory environment.</span>
</p>

<p>
	<span>No limitation of concept provided under Section 4 of the Articles of Incorporation is required at this time.</span>
</p>
	<hr class="green-groove" />
	
<hgroup class="text-left">
	<h4>Articles of Incorporation</h4>
</hgroup>
	<hr class="green-groove" />

<blockquote>
<p>
	<span>"To provide a general public benefit by managing and operating a network of production facilities designed to extract limonene and other terpenoids from herbaceous plant materials."</span>
</p>
</blockquote>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>The World of Coding</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>Along the way, the reader may find pertinent tips on coding, as well, that could tip the balance of knowledge power in his or her favor.</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>Working Donations</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>If you find this Live Central Repo beneficial ...</span>
</p>

<p>
	<span>Then, hurry on over to our <a href='../Donate/how-to-donate.htm' title='Click to Jump To the Donation Page' target='_self'>Donation <i class='glyphicon glyphicon-thumbs-up'></i></a>&nbsp;</span>
	<span>page post haste for a link to our</span> 
	<a href='https://www.cash.me/MMINAIL' title='Click to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up - Cash Me' target='_blank'>Cash Me</a> 
	<span>account located at</span> 
	<a href='https://www.cash.me/MMINAIL' title='Click to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up - Cash Me' target='_blank'>Square Up</a>.</span>
</p>
	<hr class="green-groove" />
	
<hgroup class="text-left">
	<h4>How To Navigate This Website</h4>
</hgroup>
	<hr class="green-groove" />

<ul>
<li>
	<span>The Navigation to your right is set up to return to this <kbd>Home</kbd> page</span>
	<span>by clicking on the <a href="/index.htm" title="Click to Jump To the Home Page" target="_self">Home icon <i class="glyphicon glyphicon-home"></i></a>&nbsp;</span>
	<span>south of the divider.</span>
</li>

<li>
	<span>To select any of the other topics or subtopics, simply click on the corresponding glyphicon to open up the referenced file.</span>
</li>

<li>
	<span>If you get stuck, simply click on the <a href="/index.htm" title="Click to Jump To the Home Page" target="_self">Home icon <i class="glyphicon glyphicon-home"></i></a>&nbsp;</span>
	<span>below the divider to be hyperlinked back to this Home page.</span>
</li>
</ul>
	<hr class="green-groove" />

{% include forkit.htm %}

<footer class="page-footer center-block">
	<br />
	<p>
		<span><b>Source</b>:</span>
    	<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Square Up</a>
	</p>

	<p>
		<span>See: <a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Cash Me</a>
		<span>by</span>
		<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Today</a>
	</p>
		<hr class="green-groove" />
	
	{% include footer.htm %}
</footer>

</main>

</div>
</div>