---
layout: default
title: Ether Lessons | MMINAIL
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<hgroup class="text-left">
	<h3>Ether Lessons</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Ether Lessons page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />
	
<hgroup class='text-left'>
	<h3>Navigate It</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Learn-Topic' selection just north of the <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at one of those 'Learn-Topic' pages ...</span>
</p>
	
<p>
	<pan>Specifically, the 'Learn Ether Now' page.</span>
</p>
		<hr class="green-groove" />
		
{% include working-repo.htm %}

<hgroup class='text-left'>
	<h3>Concepts Library</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>For example, here is a set of external links to the current 'Ether Lessons Project' markdown pages segregated first by the 'Ether Lessons Project - Home Page', and then secondly by 'Ether Lessons Project - Topics'.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Ether Lessons Project - Home Page</h3>
</hgroup>
	<hr class='green-groove' />

<ul type="">
	<li><a href="https://rwebaz.github.io/Ether-Lessons-Project/" title="Click to Visit the Ether Lessons Project - Home Page at GitHub" target="_blank">Lesson Template</a>: State the Issue of the Problem in the Form of a Question</li>
</ul>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Ether Lesson Topics</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following set of topics segregate the lessons for easy find by the end user.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Segregate Topics</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to Ether Lessons of ...</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Ether-Lists.html" title="Click to Visit the Ether Lists page at GitHub" target="_blank">Ether Lists</a>: Place the introducing line of text ie.) the 'tagline' here ...</li>
	
</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Project Sources</h4>
</hgroup>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Source-Links.html" title="Click to Visit the Source Links page for the Ether Lessons Project at GitHub" target="_blank">Source Links</a>: Please support the authors and publishers who aggregate the Source Links for the Ether Lessons Project ...</li>
</ol>
	<hr class='green-groove' />

{% include sources-and-uses.htm %}

</div>
</div>
