---
layout: default
title: Learn Ether
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<hgroup class="text-left">
	<h3>Learn Ether {% include case-icon-svg.htm icon="MMINAIL" %}</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Learn Ether Now page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />
	
<hgroup class='text-left'>
	<h4>Navigate It</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Learn-Ether' selection just north of the <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at the 'Learn-Ether-Now' page.</span>
</p>
	<hr class="green-groove" />

{% include working-repo.htm %}

<hgroup class='text-left'>
	<h4>Concepts Library</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>For example, here is a set of external source links to the various sources used in the 'Ether Lessons Project'.</span>
</p>
				
<p>
	<span>The source links are segregated first by 'Ether Lessons Project' topic, secondly by 'title', and then thirdly by 'author'.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Ether Lessons Project - Home Page</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span><b>Note</b>.</span>
	<span>The first link connects the end-user with the Home page of the 'Ether-Lessons-Project'.</span>
</p>

<ol type="1">
	<li><a href="https://rwebaz.github.io/Ether-Lessons-Project/" title="Click to Visit the Ether Lessons Project - Home Page at GitHub" target="_blank">Home Page</a>: The Ether Lessons Project</li>

</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Ether Lesson Topics</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following set of topics segregate the lessons for easy find by the end user.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Ether Guides</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to guided Ether Lessons.</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Pocket-Guide.html" title="Click to Visit the Pocket Guide page of the Ether Lessons Project at GitHub pages" target="_blank">Pocket Guide</a>: A simple <b>Ethereum</b> pocket guide for new comers, novice users, and traders ...</li>
	
</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Consensus Platforms</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to <b>Consensus Platform</b> lessons.</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Proof-O-Shift.html" title="Click to Visit the Proof-O-Shift page for the Ether Lessons Project at GitHub pages" target="_blank">Proof-O-Shift</a>: Both <b>Proof-O-Work</b> and <b>Proof-O-Stack</b> are dynastic models eligible for severe corruption of the masses, if not the classes ...</li>

</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Web 3.0</h4>
</hgroup>
	<hr class='green-groove' />
		
		<p>
			<span>The following group of pages refer to Web 3.0 browser Lessons.</span>
		</p>
			<hr class='green-groove' />
		
		<ol type="1">
			<li><a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Mist-Browser.html" title="Click to Visit the Mist Browser page of the Ether Lessons Project at GitHub pages" target="_blank">Mist Browser</a>: Place the introducing line of text ie.) the 'tagline' here ...</li>
		
		</ol>
			<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Ether</h4>
</hgroup>
	<hr class='green-groove' />
		
<p>
	<span>The following group of pages refer to lessons about ether.</span>
</p>
	<hr class='green-groove' />
		
<ol type="1">
	<li><a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Passing-Hash.html" title="Click to Visit the Passing Hash page of the Ether Lessons Project at GitHub pages" target="_blank">Passing Hash</a>: Have you ever wanted to learn how to transfer ether? ...</li>
		
</ol>
	<hr class='green-groove' />


<hgroup class='text-left'>
	<h4>Crypto Currencies</h4>
</hgroup>
	<hr class='green-groove' />
						
<p>
	<span>The following group of pages refer to <b>Crypto Currency</b> lessons.</span>
</p>
	<hr class='green-groove' />
						
<ol type="1">
	<li><a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Make-Medcoin.html" title="Click to Visit the Make Medcoin page of the Ether Lessons Project at GitHub pages" target="_blank">Make Medcoin</a>: Place the introducing line of text ie.) the 'tagline' here ...</li>
						
</ol>
	<hr class='green-groove' />

{% include sources-and-uses.htm %}

</div>
</div>
