---
layout: default
title: Learn Ether | MMINAIL
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<hgroup class="text-left">
	<h3>Learn Ether Now{% include case-icon-svg.htm icon="MMINAIL" %}</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Learn Ether Now page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />
	
<hgroup class='text-left'>
	<h4>Navigate It</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Learn-Ether' selection just north of the <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at the 'Learn-Ether-Now' page.</span>
</p>
	<hr class="green-groove" />

{% include working-repo.htm %}

<hgroup class='text-left'>
	<h4>Concepts Library</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>For example, here is a set of external source links to the various sources used in the 'Ether Lessons Project'.</span>
</p>
				
<p>
	<span>The source links are segregated first by 'Ether Lessons Project' topic, secondly by 'title', and then thirdly by 'author'.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Ether Lessons Project - Home Page</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span><b>Note</b>.</span>
	<span>The first link connects the end-user with the home page of the 'Ether-Lessons-Project'.</span>
</p>

<ol type="1">
	<li><a href="https://rwebaz.github.io/Ether-Lessons-Project/" title="Click to Visit the Ether Lessons Project - Home Page at GitHub" target="_blank">Home Page</a>: The Ether Lessons Project</li>

</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Ether Lesson Topics</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following set of topics segregate the lessons for easy find by the end user.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Guides</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to guided Ether Lessons.</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Pocket-Guide.html" title="Click to Visit the Pocket Guide page of the Ether Lessons Project at GitHub pages" target="_blank">Pocket Guide</a>: A simple <b>Ethereum</b> pocket guide for new comers, novice users, and traders ...</li>
	
</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Consensus</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to consensus Ether Lessons.</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Proof-O-Shift.html" title="Click to Visit the Proof-O-Shift page for the Ether Lessons Project at GitHub pages" target="_blank">Proof-O-Shift</a>: Both <b>Proof-O-Work</b> and <b>Proof-O-Stack</b> are dynastic models eligible for severe corruption of the masses, if not the classes ...</li>

</ol>
	<hr class='green-groove' />

{% include sources-and-uses.htm %}

</div>
</div>
