---
title: Source Links
layout: default
version: Ether Source Links Template htm Dtd 02-15-18
categories: template
topic: Ether
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h4>Very Special Ether Links</h4>
    </hgroup>
    <hr class="green-groove" />

    <p>
      <span>This is a container for some
        <em>Very Special</em> Ether lesson links.</span>
    </p>

    <p>
      <span>Created especially for our viewers at the
        <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
    </p>

    <p>
      <span>Each hyperlink points to an individual
        <em>Article or Lesson</em> crafted by expert authors.</span>
    </p>

    <p>
      <span>Scroll down to the
        <a href="#hyperlinks" title="Click to Jump To the Link Construction section of this page" target="_self">Link Construction</a> section to review the hyperlinks.</span>
    </p>
    <hr class="green-groove" /> {% include navigate-it.htm %} {% include topic-lesson-template.htm %} {% include external-source-links.htm %}

    <div class="hyperlinks">
      <hgroup class="text-left">
        <h4>Link Construction</h4>
      </hgroup>
      <hr class="green-groove" />

      <p class="lead">
        <span>The following group of pages refer to the
          <b>Ether Lessons Project</b> at GitHub Pages.</span>
      </p>

      <ul>
        <li>
          <span>Click on any of the following hyperlinks to be transported directly to the underlying Article or Lesson at the
            <b>Ether Lessons Project</b>.</span>
        </li>
      </ul>
      <hr class='green-groove' />

      <ol type="1">
        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/" 
          title="Click to Visit the Home Page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">Home Page</a>: A GitHub repo of Lessons and Articles that emphasize the GETH and Solidity blockchain development
          engine ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/New-Title.html" 
          title="Click to Visit the New Title page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">New Title</a>: Place intro line (lead) of article here ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Check-Sum.html" 
          title="Click to Visit the Check Sum page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">Check Sum</a>: Affirming a download via Check Sum is a smart move ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Distributed-Apps.html" 
          title="Click to Visit the Distributed Apps page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">Distributed Apps</a>: A Distributed App with access to the Ethereum network can authenticate without a Central
          Server ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Future-ETH.html" 
          title="Click to Visit the Future ETH page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">Future ETH</a>: All conditional phenomenon are impermanent ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Hash-Power.html" 
          title="Click to Visit the Hash Power page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">Hash Power</a>: The hashing power of the Bitcoin network now exceeds ten (10) T hash-per-second (hps) ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Kick-v-Ether.html" 
          title="Click to Visit the Kick v Ether page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">Kick v Ether</a>: The Kick coin is an ERC-20 crypto currency ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Minimum-Gas.html" 
          title="Click to Visit the Minimum Gas page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">Minimum Gas</a>: Some methods executed over the Ethereum network cost more than others based on their op-code ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Mist-Browser.html" 
          title="Click to Visit the Mist Browser page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">Mist Browser</a>: The string below your account name is your account address ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Passing-Hash.html" 
          title="Click to Visit the Passing Hash page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">Passing Hash</a>: Have you ever wanted to learn how to transfer ether ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Pocket-Guide.html" 
          title="Click to Visit the Pocket Guide page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">Pocket Guide</a>: A simple Ethereum pocket guide for new comers, novice users, and traders ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/Proof-O-Shift.html" 
          title="Click to Visit the Proof O Shift page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">Proof O Shift</a>: Once engaged the shift begins to shape over a four (4) hour period of time ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/pages/The-Flammarion.html" 
          title="Click to Visit the Flammarion page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">The Flammarion</a>: The Flammarion is an ancient portrait of a medieval man poking his head into the ether ...</li>
        <br />

      </ol>
      <hr class='green-groove' />

      <hgroup class='text-left'>
        <h4>Gists</h4>
      </hgroup>
      <hr class='green-groove' />

      <p class="lead">
        <span>
          <b>Gists</b> are pages of
          <em>Markdown</em> and/or
          <em>Html</em> that are not yet ready for prime time.</span>
      </p>

      <ul>
        <li>
          <span>Something has yet to jell on the page that is precluding its official publishment</span>.</li>
        <br />
        <li>
          <span>Perhaps the
            <em>gist</em> is simply a new
            <em>Topic of Interest</em> and the author of this website simply has not yet had the time to fully expound the details</span>.</li>
        <br />
        <li>
          <span>These pages of the gist type are ripe for pulling</span>.</li>
      </ul>
      <hr class='green-groove' />

      <ol type='1'>
        <li>
          <a href="https://rwebaz.github.io/Ether-Lessons-Project/_gists/New-Title-0.html" 
          title="Click to Visit the New Title 0 page of the Ether Lessons Project at GitHub Pages" 
          target="_blank">New Title 0</a>: Place intro line (lead) of article here ...</li>
        <br />
        <li class='divider'></li>
        <br />
        <li class='btn-group-vertical center-block'>
          <button type='button' class='btn btn-med'>
            <hgroup class='text-center'>
              <h5>New Gists</h5>
            </hgroup>

            <button type='button' class='btn btn-lg dropdown-toggle' data-toggle='dropdown'>
              <i class='icon-large icon-train'></i>
            </button>

            <ul class='btn-group-lg dropdown-menu' role='menu'>
              <li class='btn-group-med'>
                <a href='https://rwebaz.github.io/Ether-Lessons-Project/_gists/New-Title-1.html' 
                class='btn btn-med btn-success' 
                title='Click to Visit the New Title 1 page of the Ether Lessons Project at GitHub Pages' 
                target='_blank'>New Title 1 <i class='glyphicon glyphicon-star-empty'></i></a></li>
              <br />

              <li class='btn-group-med'>
                <a href='https://rwebaz.github.io/Ether-Lessons-Project/_gists/Ethereum-Login.html' 
                class='btn btn-med btn-success' 
                title='Click to Visit the Ethereum Login page of the Ether Lessons Project at GitHub Pages' 
                target='_blank'>Ethereum Login <i class='glyphicon glyphicon-star-empty'></i></a></li>
              <br />

              <li class='btn-group-med'>
                <a href='https://rwebaz.github.io/Ether-Lessons-Project/_gists/Ethereum-One.html' 
                class='btn btn-med btn-success' 
                title='Click to Visit the Ethereum One page of the Ether Lessons Project at GitHub Pages' 
                target='_blank'>Ethereum One <i class='glyphicon glyphicon-star-empty'></i></a></li>
              <br />

              <li class='btn-group-med'>
                <a href='https://rwebaz.github.io/Ether-Lessons-Project/_gists/Ethereum-Two.html' 
                class='btn btn-med btn-success' 
                title='Click to Visit the Ethereum Two page of the Ether Lessons Project at GitHub Pages' 
                target='_blank'>Ethereum Two <i class='glyphicon glyphicon-star-empty'></i></a></li>
              <br />

              <li class='btn-group-med'>
                <a href='https://rwebaz.github.io/Ether-Lessons-Project/_gists/Ethereum-Three.html' 
                class='btn btn-med btn-success' 
                title='Click to Visit the Ethereum Three page of the Ether Lessons Project at GitHub Pages' 
                target='_blank'>Ethereum Three <i class='glyphicon glyphicon-star-empty'></i></a></li>
              <br />

            </ul>
          </button>
        </li>
      </ol>
      <hr class='green-groove' />
    </div>

    {% include jquery-library.htm %}

    <hgroup class="text-left">
      <h4>Version</h4>
    </hgroup>
    <hr class="green-groove" />

    <p>
      <span>
        <b>Note</b>.</span>
      <span>This page crafted with {{ page.version }}.</span>
    </p>
    <hr class="green-groove" /> {% include sources-and-uses.htm %} {% include alt-footer-cash-me.htm %}

  </div>
</div>

<script language='javascript' type='text/javascript' src='../js/scripts/corresponding-ether-javascript-file.js'></script>
