---
layout: default
title: Ether Source Links
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<hgroup class="text-left">
	<h3>Ether Source Links {% include case-icon-svg.htm icon="MMINAIL" %}</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Source Links page for the Ether Lessons Project.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Navigate It</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The Ether Lessons Project is a division of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Source-Links' selection just north of the Concept Library <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at the of 'Source-Links' page of the Ether Lessons Project.</span>
</p>
	<hr class="green-groove" />
		
{% include working-repo.htm %}

<hgroup class='text-left'>
	<h4>Concepts Library</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>For example, here is a set of external source links to the various sources used in the 'Ether Lessons Project'.</span>
</p>

<p>
	<span>The source links are segregated first by 'Ether Lessons Project' topic, secondly by 'title', and then thirdly by 'author'.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Ether Lessons Project - External Source Links</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span><b>Note</b>.</span>
	<span>The first link is a ping-back to this page.</span>
</p>

<ol type="1">
	<li><a href="https://mminail.github.io/Ether/Source-Ether-Links.htm" title="Click to Visit the Source Links Page for the Ether Lessons Project at our GitHub Pages Concept Library" target="_blank">Source Links</a>: A page of external links to 3rd party sources for the Ether Lessons Project</li>

</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Learn Ether</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The next link takes the end-user to the 'Learn Ivy Now' page that lists the various lessons that have been written in Markdown.</span> 
</p>
		
<p>
	<span>The lessons have all been uploaded to the 'Ivy Lessons Project' repo at GitHub pages.</span>
</p>

<p>
	<span>The lesson links are segregated first by 'Ether Lessons Project' topic, secondly by 'title', and then thirdly by 'author'.</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://mminail.github.io/Ether/Learn-Ether-Now.htm" title="Click to Visit the Learn Ether Now page for the Ether Lessons Project at our GitHub Pages Concept Library" target="_blank">Learn Ether Now</a>: A list of Ether Lessons Written In Markdown For The Ether Lessons Project</li>

</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Ether Lesson Template</h3>
</hgroup>
	<hr class='green-groove' />
	
<p>
	<span>The following link sends the end-user to the Ether Lesson Template.</span>
</p>
	<hr class='green-groove' />
		
<ol type="1">
	<li><a href="https://mminail.github.io/Ether/Lesson-Ether-Template.htm" title="Click to Visit the Ether Lesson page template for the Ether Lessons Project at our GitHub Pages Concept Library" target="_blank">Ivy Lesson</a>: A template Lesson page for the Ivy Lesson Project</li>
					
</ol>
	<hr class='green-groove' />

{% include sources-and-uses.htm %}

</div>
</div>
