---
layout: default
title: Learn Medcoin™
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<hgroup class="text-left">
	<h3>Learn Medcoin™</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Learn Medcoin™ page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />
	
<hgroup class='text-left'>
	<h3>Navigate It</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Learn-Topic' selection just north of the <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at one of those 'Learn-Topic' pages ...</span>
</p>
	
<p>
	<pan>Specifically, the 'Learn Medcoin™ Now' page.</span>
</p>
		<hr class="green-groove" />
		
{% include working-repo.htm %}

<hgroup class='text-left'>
	<h3>Concept Library</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>For example, here is a set of external links to the current 'Medcoin™ Crypto Currency Project' markdown pages segregated first by 'Medcoin™ Lesson Template - Home Page', and then secondly by 'Medcoin™ Lesson Topics'.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Medcoin™ Lesson Template - Home Page</h3>
</hgroup>
	<hr class='green-groove' />

<ul type="">
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/" title="Click to Visit the Medcoin™ Crypto Currency Project Home Page at GitHub" target="_blank">Lesson Template</a>: State the Issue of the Problem in the Form of a Question</li>
</ul>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Medcoin™ Lesson Topics</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following set of topics segregate the lessons for easy find by the end user.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Block Chain Lessons</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to <b>Block Chain Lessons</b> ...</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/pages/Block-Chain.html" title="Click to Visit the Medcoin™ Block Chain Page at GitHub" target="_blank">Block Chain</a>: A Block Chain (BC) is a Digital Chain-O-Blocks of Records ...</li>
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/pages/Chain-Evolution.html" title="Click to Visit the Medcoin™ Chain Evolution Page at GitHub" target="_blank">Chain Evolution</a>: A <b>Turing</b> complete computer language that creates multiple <b>Turing</b> complete virtual machines cannot be looped to infinity ...</li>
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/pages/Crypto-Oligarchs.html" title="Click to Visit the Medcoin™ Crypto Oligarchs Page at GitHub" target="_blank">Crypto Oligarchs</a>: Most fledgling crypto currencies of any worth fall quickly into the financial <b>Dynasty Trap</b> ...</li>
	
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/pages/Hex-Architecture.html" title="Click to Visit the Medcoin™ Hex Architecture Page at GitHub" target="_blank">Hex Architecture</a>: Six points of entry expanding three dimensionally to thirty-six (36) nodes of consensus ...</li>
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/pages/Proof-O-Concept.html" title="Click to Visit the Medcoin™ Proof O Concept Page at GitHub" target="_blank">Proof O Concept</a>: The Medcoin™ Crypto Currency Project Proof-O-Concept Page ...</li>
	
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/pages/The-Pseudonym.html" title="Click to Visit the Medcoin™ Pseudonym Page at GitHub" target="_blank">Pseudonym</a>: How shall you be known in cyberspace when it comes time to transact using a crypto-currency ...</li>
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/pages/Wealth-Imbalance.html" title="Click to Visit the Medcoin™ Wealth Imbalance Page at GitHub" target="_blank">Wealth Imbalance</a>: The top twenty (20) wealthiest people in America own more assets than the bottom 50% of the population combined ...</li>
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/pages/Your-Address.html" title="Click to Visit the Medcoin™ Your Address Page at GitHub" target="_blank">Your Address</a>: Mt Gox, an Internet bitcoin exchange operating out of Tokyo, Japan got clipped for 700,000 BTC from the year #2011 till its demise in Feb #2014 ...</li>
	
</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Ethereum</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to <b>Ethereum Lessons</b> ...</span>
</p>
	<hr class='green-groove' />
	
<ol type="1">
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/pages/Ethereum-Mist.html" title="Click to Visit the Medcoin™ Ethereum Mist Page at GitHub" target="_blank">Ethereum Mist</a>: <b>Mist</b> is the official Ethereum crypto currency wallet. ...</li>
</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Project Sources</h4>
</hgroup>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/pages/Source-Links.html" title="Click to Visit the Source Links for the Medcoin™ Crypto Currency Project at GitHub" target="_blank">Source Links</a>: Please support the authors and publishers who aggregate the Source Links for the Medcoin™ Crypto Currency Project Project ...</li>
</ol>
	<hr class='green-groove' />

{% include forkit.htm %}

{% include alt-footer-cash-me.htm %}

</div>
</div>