---
layout: default
title: Learn Medcoin
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<hgroup class="text-left">
	<h3>Learn Medcoin</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Learn Medcoin page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />
	
<hgroup class='text-left'>
	<h3>Navigate It</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Learn-Topic' selection just north of the <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at one of those 'Learn-Topic' pages ...</span>
</p>
	
<p>
	<pan>Specifically, the 'Learn Medcoin Now' page.</span>
</p>
		<hr class="green-groove" />
		
{% include working-repo.htm %}

<hgroup class='text-left'>
	<h3>Concepts Library</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>For example, here is a set of external links to the current 'Medcoin Lessons Project' markdown pages segregated first by 'Medcoin Lesson Template - Home Page', and then secondly by 'Medcoin Lesson Topics'.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Medcoin Lesson Template - Home Page</h3>
</hgroup>
	<hr class='green-groove' />

<ul type="">
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/" title="Click to Visit the Medcoin Crypto Currency Project Home Page at GitHub" target="_blank">Lesson Template</a>: State the Issue of the Problem in the Form of a Question</li>
</ul>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Medcoin Lesson Topics</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following set of topics segregate the lessons for easy find by the end user.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Block Chain Lessons</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to <b>Block Chain Lessons</b> ...</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/pages/Block-Chain.html" title="Click to Visit the Block Chain Page at GitHub" target="_blank">Block Chain</a>: A Block Chain (BC) is a Digital Chain-O-Blocks of Records ...</li>
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/pages/Proof-O-Concept.html" title="Click to Visit the Medcoin™ Proof O Concept Page at GitHub" target="_blank">Proof O Concept</a>: The Medcoin™ Crypto Currency Project Proof-O-Concept Page ...</li>
	
</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Project Sources</h4>
</hgroup>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/pages/Source-Links.html" title="Click to Visit the Source Links for the Medcoin Crypto Currency Project at GitHub" target="_blank">Source Links</a>: Please support the authors and publishers who aggregate the Source Links for the Ng Lessons Project ...</li>
</ol>
	<hr class='green-groove' />

{% include forkit.htm %}

{% include alt-footer-cash-me.htm %}

</div>
</div>