---
layout: default
title: Medcoin™ Source Links
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<hgroup class="text-left">
	<h3>Medcoin™ Source Links {% include case-icon-svg.htm icon="MedcoinG" %}</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Source Links page for the Medcoin Lessons Project.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Navigate It</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The Medcoin Lessons Project is a division of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Source-Links' selection just north of the Concept Library <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at the of 'Source-Links' page of the Medcoin Lessons Project.</span>
</p>
	<hr class="green-groove" />

<hgroup class='text-left'>
	<h4>Concepts Library</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>For example, here is a set of external source links to the various sources used in the 'Medcoin Lessons Project'.</span>
</p>

<p>
	<span>The source links are segregated first by 'Medcoin Lessons Project' topic, secondly by 'title', and then thirdly by 'author'.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Medcoin Lessons Project - External Source Links</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span><b>Note</b>.</span>
	<span>The first link is a ping-back to this page.</span>
</p>

<ol type="1">
	<li><a href="https://mminail.github.io/Medcoin/Source-Medcoin-Links.htm" title="Click to Visit the Source Links Page for the Medcoin Lessons Project at our GitHub Pages Concept Library" target="_blank">Source Links</a>: A page of external links to 3rd party sources for the Medcoin Lessons Project</li>

</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Learn Medcoin</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The next link takes the end-user to the 'Learn Medcoin Now' page that lists the various lessons that have been written in Markdown.</span> 
</p>
		
<p>
	<span>The lessons have all been uploaded to the 'Medcoin Lessons Project' repo at GitHub pages.</span>
</p>

<p>
	<span>The lesson links are segregated first by 'Medcoin Lessons Project' topic, secondly by 'title', and then thirdly by 'author'.</span>
</p>
	<hr class='green-groove' />

<p>
	<span>The following link sends the end-user to the <b>Learn Medcoin Now</b> page of the Concept Library.</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://mminail.github.io/Medcoin/Learn-Medcoin-Now.htm" title="Click to Visit the Learn Medcoin Now page at the Concept Library" target="_blank">Learn Medcoin Now</a>: A list of Medcoin Lessons Written In Markdown For The Medcoin Lessons Project</li>

</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Medcoin Lesson Template</h3>
</hgroup>
	<hr class='green-groove' />
	
<p>
	<span>The following link sends the end-user to the <b>Medcoin Lesson Template</b>.</span>
</p>
	<hr class='green-groove' />
		
<ol type="1">
	<li><a href="https://mminail.github.io/Medcoin/Lesson-Medcoin-Template.htm" title="Click to Visit the Medcoin Lesson page template for the Medcoin Lessons Project at our GitHub Pages Concept Library" target="_blank">Ivy Lesson</a>: A template Lesson page for the Ivy Lesson Project</li>
					
</ol>
	<hr class='green-groove' />

<p>
	<span><b>Note</b>.</span>
	<span>The <b>Medcoin Lesson Template</b> displays a single featured Medcoin lesson written in Html</b>.</span>
</p>
	<hr class='green-groove' />

{% include sources-and-uses.htm %}

</div>
</div>
