---
layout: default
title: Javascript Classes | MMINAIL
---
<div class="container-fluid">
	<div class="row-fluid">

<main>
<article>

<hgroup class="text-left">
	<h3>Classes in Javascript</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Classes in Javascript page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />
	
<p>
	<span>To create a class in Javascript, first name it and open up a set of right and left curly brackets <code>{...}</code> to accept your code.</span>
</p>
	<hr class="green-groove" />

<pre class='flex-box'>
<span>Set the name of the class ...</span>
{% highlight javascript linenos %}
class Donor {

}
{% endhighlight %}
<span>Get your Firefox Web-console ready ...</span>
</pre>
    <hr class='green-groove' />

<hgroup class="text-left">
	<h4>Class Constructors</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>Next, we set up the Class constructor. </span>
    <span>The Class constructor is established with the 'constructor' keyword and the opening up of another set of right and left curly brackets <code>{...}</code> to accept your code.</span>
</p>

<p>
    <span>The 'camelCase' names of the properties of the newly named class are fed to the contructor as arguments.</span>
    <span>The arguments are then enveloped within a set of left and right parethesis <code>(...)</code>, as follows:</span>

<pre class='flex-box'>
<span>Set the class constructor ...</span>
{% highlight javascript linenos %}
class Donor {
    constructor(firstName, lastName, eMailHandle, 
    eMailDomain, eMotiCon) {
    //Assign all properties to the 'this' variable
    }
}
{% endhighlight %}
<span>Get your Firefox Web-console ready ...</span>
</pre>
    <hr class='green-groove' />

<hgroup class="text-left">
	<h4>Class Properties</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>Now that we have effectively declared and named the Class properties in advance as arguments to the constructor function, it is time to assign each property to its respective 'this' variable, as follows:'  </span>
</p>

<pre class='flex-box'>
<span>Assign the class properties ...</span>
{% highlight javascript linenos %}
class Donor {
    constructor(firstName, lastName, eMailHandle, 
    eMailDomain, eMotiCon) {
        this.firstName = firstName;
        this.lastName = lastName;
        this.eMailHandle = eMailHandle;
        this.eMailDomain = eMailDomain;
        this.eMotiCon = eMotiCon;
    }
}
{% endhighlight %}
<span>Get your Firefox Web-console ready ...</span>
</pre>
    <hr class='green-groove' />

<hgroup class="text-left">
	<h4>Class Methods</h4>
</hgroup>
	<hr class="green-groove" />

<p>
    <span>New methods can now be added that will manipulate the properties of the Constructor arguments in back-ticks.</span>
</p>

<pre class='flex-box'>
<span>Set the class methods ...</span>
{% highlight javascript linenos %}
class Donor {
    constructor(firstName, lastName, eMailHandle, 
    eMailDomain, eMotiCon) {
        this.firstName = firstName;
        this.lastName = lastName;
        this.eMailHandle = eMailHandle;
        this.eMailDomain = eMailDomain;
        this.eMotiCon = eMotiCon;
    }

    displayback() {
        return `The console will now reveal a message 
        via the alert box ...

        Given. The key to a proper donor record is 
        the capture of a valid electronic mail address.
        
        Dialoque

        A valid email address is comprised of a valid 
        handle, such as '${this.eMailHandle}' and a 
        valid domain, such as '${this.eMailDomain}'.
        
        Though the importance of the capture of the 
        donor's first name, for example ... 
        '${this.firstName}' and the capture of the 
        donor's last name, for example ... 
        '${this.lastName}' is readily apparant ...
        
        The concatenation of the donor's email address 
        including the email handle '${this.eMailHandle}' 
        plus the 'at' character, or "@" ...
        
        Plus, the domain name '${this.eMailDomain}' 
        is of critical importance to the donation puzzle.
        
        How else to broadcast the monthly newsletter 
        without a set of valid, opt-in email addresses?

        ${this.eMotiCon}
        
        The Management`;
    }
}
{% endhighlight %}
<span>Get your Firefox Web-console ready ...</span>
</pre>
    <hr class='green-groove' />

<hgroup class="text-left">
	<h4>Instantiation</h4>
</hgroup>
	<hr class="green-groove" />

<p>
    <span>Set up a variable outside the Class function to pass new values to the arguments of the constructor function.</span> 
</p>

<p>
    <span>Thus, in effect instantiating an instance of the new class.</span>
</p>

<pre class='flex-box'>
<span>Instantiate a new instance ... Given.</span>
<span>Constructor(firstName, lastName, eMailHandle,</span>
<span>eMailDomain, eMotiCon)</span>
{% highlight javascript linenos %}
var author = new Donor("Adam", "Webber", 
    "cannabuds", "live.com", 
    "\u{1F600}");
{% endhighlight %}
<span>Get your Firefox Web-console ready ...</span>
</pre>
    <hr class='green-groove' />

<hgroup class="text-left">
	<h4>Execution</h4>
</hgroup>
	<hr class="green-groove" />

<p>
    <span>Finally, set up a command statement outside the Class function to execute the 'displayback' method of the 'Donor' class.</span> 
</p>

<pre class='flex-box'>
<span>Execute the 'displayback' method of the 'Donor' class ...</span>
{% highlight javascript linenos %}
window.alert(author.displayback());
{% endhighlight %}
<span>Get your Firefox Web-console ready ...</span>
</pre>
    <hr class='green-groove' />

<hgroup class="text-left">
	<h4>Code Transfer</h4>
</hgroup>
	<hr class="green-groove" />

<p>
    <span>Now that we have all of the components of our Javascript program constructed, it is time to run the program via the Firefox Web-console.</span> 
</p>

</p>
    <span>Let's now transfer our completed code to a (<a href="../js/scripts/display-back.js" title="Click To Review the Original Javascript file" target="_blank">.js</a>) page and invoke 'Strict Mode' at the top of the program.</span>
</p>
    <hr class='green-groove' />

<hgroup class='text-left'>
    <h4>Rendering the Result</h4>
</hgroup>
    <hr class='green-groove' />

<p>
    <span>Ok ... it's time to give this program a whirl!</span>
</p>
    <hr class='green-groove' />

{% include firefox.htm %}
    <hr class='green-groove' />

<p>
    <span><b>Note</b>.</span>
    <span>Click the following hyperlink to the original <span>(<a href="../js/scripts/display-back.js" title="Click To Review the Original Javascript file" target="_blank">.js</a>) file</span>
    <span>in order to copy and paste the <a href="../js/scripts/display-back.js" title="Click To Review the Original Javascript file" target="_blank">completed code</a> into the Firefox Web-console.</span>
</p>

<p class='flex-box'>
    <span lang='es' title='Sp. for 'Finish''>Finito! <i class='icon-large icon-flower'></i></span>
</p>
    
<footer class="page-footer center-block">
	<br />
	<p>
		<span><b>Source</b>:</span>
    	<a href="https://medmj.us/KnowJavaScript" 
        title="Click to Review 'What You Need To Know About Javascript' by Gabriel Cánepa via Packt Pub" 
        target="_blank">What You Need To Know About Javascript</a>
	</p>

	<p>
		<span>See: <a href="https://medmj.us/KnowJavaScript" 
        title="Click to Review 'What You Need To Know About Javascript' by Gabriel Cánepa via Packt Pub" 
        target="_blank">eBook</a>
		<span>by</span>
		<a href="https://www.linkedin.com/in/gacanepa/" 
        title="Click to Review the Linked In Page of Author Gabriel Cánepa" target="_blank">Gabriel Cánepa</a>
	</p>
		<hr class="green-groove" />
	
	{% include footer.htm %}
</footer>

</article>
</main>

</div>
</div>