---
layout: default
title: Ex Vivo Engine
version: Ex Vivo Engine Template htm Dtd 10-19-19
categories: template
Topic: Ex Vivo
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h3>Ex Vivo Engine</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>The 'Ex Vivo Data Engine', or EVDE is a fully operational, real-time Artificial Intelligence (AI) driven software application capable of taking arguments from our end users for the purpose of querying our proprietary neural network of machine-learned algorithms that are based on the past lives and intelligence lost of historical individuals.</span>
      </p>

      <p>
        <span><b>Note</b>.</span>
        <span>Initial 'Past Life Machine Learned Algorithms', or PLMLA include Terrence K. McKenna, Cal - Berkeley's most famous 20th and 21st Century Ethnobotanist and Ethnologist, as well as Thomas Jefferson, the 3rd President of the United States.</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span><b>Hello</b>: As Director of the Medical Marijuana Initiative of North America - International - Limited, an Arizona Benefit corporation, I am personally helping to raise money for the <a href="https://www.indiegogo.com/projects/the-digital-resurrection-of-terence-mckenna" title="The Digital Resurrection of Terence McKenna Project at Indie GoGo" target="_blank">Terrence McKenna Digital Resurrection Project</a> at Indie GoGo.</span>
      </p>

      <p>
        <span>The goal of the project is to bring back the real-time intelligence lost from the natural demise of our algorithmic subjects.</span>
      </p>

      <p>
        <span>The funds raised are expected to fund the purchase of a machine-learning server.</span>

      </p>

      <p>
        <span>Thank you in advance if you are able to participate.</span>
      </p>
    </div>
    <hr class="green-groove" />

  {% include sources-and-uses.htm %}

  {% include alt-footer-cash-me.htm %}

</div>
</div>
