---
layout: default
title: Bio Synthesis
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h2>Cannabinoid and Terpene Biosynthesis in Cannabis</h2>
    </hgroup>
    <hr class="green-groove" />

    <p class="lead">
      <span>Per Booth & Bohlmann, 2019 in <a href='https://www.sciencedirect.com/science/article/pii/S0168945219301190'
          title="Click To Review 'Terpenes in Cannabis sativa - from Plant Genome to Humans' by Booth & Bohlmann"
          target='_blank'>Terpenes in Cannabis sativa from Plant Genome to Humans</a> at the University of British
        Columbia, the majority of terpenes found in cannabis are simple hydrocarbons that are the direct products of
        Terpene synthase (TPS) enzymes.
      </span>
    </p>
    <hr class="green-groove" />

    <hgroup class="text-left">
      <h3>Building Blocks</h3>
    </hgroup>
    <hr class="green-groove" />

    <p class="lead">
      <span>The genus Cannabaceae encompasses a very large pool of genetic diversity within the Rosales family of
        flowering
        plants and trees. As a result, very few of the modern strains resulting from breeding crosses within the
        Cannabis sativa L. species are homozygous. The reader may, therefore, expect a high level of heterozygosity
        and genetic
        admixture when studying the Cannabis plant empirically. </span>
    </p>
    <hr class="green-groove" />

    <picture width="auto" max-width="340px">
      <img class="img-responsive img-circle"
        src="../assets/img/jpg/cannabinoid-y-terpene-biosynthesis-in-cannabis-original-lo-res-680-x-783.jpg"
        alt="Schematic of Terpene and Cannabinoid Biosynthesis in Cannabis from Booth & Bohlmann, 2019" />
    </picture>
    <hr class="green-groove" />

    <hgroup class="text-left">
      <h3>Building Blocks</h3>
    </hgroup>
    <hr class="green-groove" />

    <p class="lead">
      <span>Schematic of Terpene and Cannabinoid Biosynthesis in Cannabis from <a
          href='https://www.sciencedirect.com/science/article/pii/S0168945219301190'
          title="Click To Review 'Terpenes in Cannabis sativa - from Plant Genome to Humans' by Booth & Bohlmann"
          target='_blank'>Booth & Bohlmann</a>, 2019.</span>
    </p>
    <hr class="green-groove" />

    <p>
      <span>Follow along with the above diagram ...</span>
    </p>

    <ol type="1" start="1">
      <li>Step I. Two, five-carbon, or 5-Carbon (5-C) isoprenoid type biological building blocks are condensed to
        form
        Geranyl diphosphate (GPP, Carbon 10) or Farnesyl diphosphate (FPP, Carbon 15) in unequal amounts.</li>
      <li><span><b>Note</b>. The two, five-carbon, or 5-Carbon (5-C) isoprenoid type biological building blocks
          are:</span></li>
    </ol>

    <ul class="disc">
      <li>isopententyl diphosphate (IPP), and</li>
      <li>dimethylallyl diphosphate (DMAPP)</li>
    </ul>

    <ol type="1" start="2">
      <li>Step II. Geranyl diphosphate (GPP) or Farnesyl diphosphate (FPP) in unequal amounts are then converted
        by
        Terpene
        synthases (TPS) into several types of terpenes.</li>
    </ol>

    <ol type="1" start="3">
      <li>Step III. Further, aromatic prenyltransferases (aPTs) then condense olivetolic acid along with whatever
        Geranyl
        diphosphate (GPP) remains from the above Terpene synthesis to form Cannabigerolic acid (CBGA), which is
        then
        cyclized by
        several Cannabinoid synthases to produce the Cannabinoids of the plant.</li>
      <li><span>For example, Tetra-hydro-cannabinolic acid synthase (THCAS) produces carboxylated
          Tetra-hydro-cannabinolic
          acid (THCA).</span></li>
      <li><span>Then, when a molecule of Tetra-hydro-cannabinolic acid (THCA) is heated or smoked as part of your
          plant
          matter ritual, a
          carbon atom is de-carboxylated from the molecule to form Delta-9 Tetra-hydro-cannabinol (THC), the main
          ingredient of
          your "highness" along with its accompanying entourage of Terpenes and other Cannabinoids.</span></li>
    </ol>

    <ol type="1" start="4">
      <li>Step IV. Cannabinoids produced by the plant are:</li>
    </ol>

    <ol type="a" start="a">
      <li>Canna-bi-gerolic acid (C1)</li>
      </span>,</span>
      <li>Canna-bi-chromenic acid (C2)</li>
      </span>,</span>
      <li>Canna-bi-diolic acid (C3)</li>
      </span>, and</span>
      <li>Tetra-hydro-cannabinolic acid (C4)</li>
      <span>.</span>
    </ol>

    <ol type="1" start="5">
      <li>Step V. Mono-terpenes produced by the plant are:</li>
    </ol>

    <ol type="a" start="e">
      <li>Beta-β-pinene (M1)</li>
      </span>,</span>
      <li>Alpha-α-pinene (M2)</li>
      </span>,</span>
      <li>Beta-β-thujone (M3)</li>
      </span>,</span>
      <li>Three-3-carene (M4)</li>
      </span>,</span>
      <li>Terpinolene (M5)</li>
      </span>,</span>
      <li>Limonene (M6)</li>
      </span>,</span>
      <li>Terpineol (M7)</li>,
      </span>,</span>
      <li>One and/or eight-1,8-cineole (M8)</li>
      </span>,</span>
      <li>Alpha-α-terpinene (M9)</li>
      </span>,</span>
      <li>Linalool (M10)</li>
      </span>,</span>
      <li>Myrcene (M11)</li>
      </span>, and</span>
      <li>(Z)-Beta-β-ocimene (M12)</li>
      </span>.</span>
    </ol>

    <ol type="1" start="6">
      <li>Step VI. Sesqui-terpenes produced by the plant are:</li>
    </ol>

    <ol type="a" start="q">
      <li>Alpha-α-elemol (S1)</li>
      </span>,</span>
      <li>(E)-Beta-β-farnesol (S2)</li>
      </span>,</span>
      <li>(E)-Beta-β-farnesene (S3)</li>
      </span>,</span>
      <li>bisabolol (S4)</li>
      </span>,</span>
      <li>(+)-Alpha-α-bergamotene (S5)</li>
      </span>,</span>
      <li>Delta-δ-cadinene (S6)</li>
      </span>,</span>
      <li>Gamma-γ-eudesmol (S7)</li>
      </span>,</span>
      <li>valencene (S8)</li>
      </span>,</span>
      <li>eremophilene (S9)</li>
      </span>,</span>
      <li>Beta-β-himachalene (S10)</li>
      </span>,</span>
      <li>Alpha-α-guaiene (S11)</li>
      </span>,</span>
      <li>germacrene D (S12)</li>
      </span>,</span>
      <li>alloaromadendrene (S13)</li>
      </span>, and</span>
      <li>Beta-β-caryophyllene (S14)</li>
      </span>.</span>
    </ol>

    <hr class="green-groove" />

    {% include sources-and-uses.htm %}

    {% include alt-footer-cash-me.htm %}

  </div>
</div>
