---
layout: default
title: Quantum Trichometry
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h3>Evil Quanta</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>What are the Quantum biological results of Cannabinoids and Terpenes operating upon the mammalian Placebo Effect (PLE)?</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span>The bonds of the Trichomes and Cannabinoids vibrate sending a signal to our brains via the lock and key mechanism of our olfactory bulb directly into our limbic system responsible for both memory retention and emotional reaction to those stimulative bubbled up memories of ours from early childhood through adulthood.</span>
        </p>

      <p>
        <span>But, how does the brain "smell" the chemical bonds between the Trichomes and Cannabinoids in a sort of Entourage of Resonance triggering the placebo effect within our bodies?</span>
      </p>

      <p>
        <span><b>Answer</b>: Detection!</span>
        </p>

    </div>
    <hr class="green-groove" />

    <hgroup class="text-left">
      <h3>Detection</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>Like stealth bombers invading our very space, Cancer cells avoid detection by cloaking their existence from our bevy of defense enzymes, proteins, and molecules.</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span>How else can you explain how a Cancer takes root without being zapped by our robust collective immune systems?</span>
      </p>

      <p>
        <span>We have trillions of bacteria and other archaea assisting in our processes, as well, including defense.</span>
      </p>

      <p>
        <span>Are you to say not a single stitch in the fabric of our evolved life has yet to find a way to uncloak the fledgling Cancer ensemble?</span>
        </p>

        <p>
        <span>Even the Cancer ensemble is known to communicate with her daughter metastasis elsewhere "down the pipe" keeping their growth suppressed while she sucks the victim dry.</span>
        </p>

        <p>
        <span>Through the entourage of vibrating bonds between the Cannabinoids and Terpenes of a Cannabis plant, we ingest a mechanism that triggers our well known placebo effect thus increasing the quantity of our defender enzymes, proteins, and molecules in their search to root out foreign invaders.</span>
        </p>

        <p>
        <span>All #BigPharma labs across the world know of the "Placebo Effect" that are bodies are quite capable of turning on at a moment's notice.</span>
        </p>

        <p>
        <span>Hence, their Holy Grail is to find a molecule manufactured in the lab that can be patented and shown by trial the flimsiest argument the natural "Placebo Effect" has been surmounted and eclipsed by the measured effect of their new creation.</span>
        </p>

        <p>
        <span>Whereas, no doubt from countless examples of anecdotal evidence if not empirically, we have nevertheless claims of Cancer remediation from a bevy of Qualified Patients (QP) that have admixed the admixture of Trichomes and Cannabinoids contributed by ingestion of the contents of Cannabis trichomes.</span>
        </p>

    </div>
    <hr class="green-groove" />
  </div>
  <hr class="green-groove" />

  {% include sources-and-uses.htm %}

  {% include alt-footer-cash-me.htm %}

</div>
</div>
