<!DOCTYPE html>
<!-- Set the base language to English -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>New Title</title>
  </head>

  <body>
    <hgroup class='text-left'>
      <h4 id="title">$('title')</h4>
    </hgroup>
      <hr class='green-groove' />

    <div id="content">...</div>

<!-- Place all scripts above the closing body tag -->

<!-- Comment Out: Jquery Core Library CDN ver 3.3.1
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script> -->

<!-- Comment Out: Jquery Core Library Local Script ver 3.3.1 -->
<script src="../js/jquery-3.3.1.js"></script>

<!-- Comment Out: New Title Js -->
<script src="../js/new-title.js"></script> -->

  </body>
</html>
