---
layout: default
title: Indoor Farmer
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h2>The Argument For Becoming An Indoor Farmer in Missouri</h2>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>How much dinero can the Qualified Patient really save?</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span>Per our article on <a href='../MedMj/Possession-Limits.htm'
            title='Click To Review our Possession Limits article' target='_blank'>Possession Limits</a>, the expected
          value of a thirty (30) day stash of Cannabis flowers in Missouri is $560 USD.</span>
      </p>

      <p>
        <span>If the cost of a high-end lockable grow chamber is $6,250 USD, then how many standard four (4) ounce,
          thirty (30) day supply of Cannabis flowers will it take to break even on the initial outlay required to secure
          the machine on premises?</span>
      </p>

      <p>
        <span>$6,250 cost to acquire/$560 market value = 12 standard four (4) ounce, thirty (30) day supply of Cannabis
          flowers</span>
      </p>

    </div>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>How long will it take for the Qualified Patient or Care Giver to harvest 12 standard four (4) ounce,
          thirty (30) day supply of Cannabis flowers?</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span>Most Cannabis accessions start to mature and ripen their flowers and trichomes after (4) weeks of
          vegetaion dependent upon whether or not the genotype includes a recessive photoperiod allele or a dominant
          photoperiod allele.</span>
      </p>

      <p>
        <span>In those cases where the photoperiod allele of the genotype is recessive after having both P1 parents
          contribute the same recessive photoperiod gene to the F1 offspring, flowering may commence immediately or
          during the common four (4) week vegetation phase.</span>
      </p>

      <p>
        <span>If on the other hand, the genotype of the plant includes a photoperiod allele originating from separate P1
          parent genes, or the same dominant photoperiod gene from both P1 parents, then a switch in the photoperiod
          will be required for the plant to start flowering in Weeks four (4) through nine (9).</span>
      </p>

      <p>
        <span>Given the maturation timeframe of most standard indoor strains is indeed nine (9) weeks, notwithstanding
          earlier autoflowering or indica varities, or longer equatorial sativa varieties, an expected harvest in Week
          nine (9) will be used in our calculation, as follows:</span>
      </p>

      <p>
        <span>52 weeks in the year/9 weeks till maturity = five (5) annual harvests of four (4) ounces each, or 1/4
          pound of medicine every quarter plus another optional 1/4 pound of medicine if this schedule holds.</span>
      </p>

      <p>
        <span>Therefore, to achieve the twelve (12) thirty-day standard allotment of four (4) ounces each will require
          twelve (12) X nine (9) weeks, or 108 weeks.</span>
      </p>

      <p>
        <span>One-hundred Eight (108) weeks divided by Fifty-two (52) weeks per year yields a two (2) year and one (1)
          month breakeven point on the initial investment of $6250 for a BC Northern Lights closed system not counting
          the time-value of money.</span>
      </p>

    </div>
    <hr class="green-groove" />

    {% include sources-and-uses.htm %}

    {% include alt-footer-cash-me.htm %}

  </div>
</div>
