---
layout: default
title: Indoor Farmer
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h2>The Argument For Becoming An Indoor Farmer in Missouri</h2>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>How much dinero can the Qualified Patient really save?</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span>Per our article on <a href='https://mminail.github.io/MedMj/Possession-Limits.htm'
            title='Click To Review our Possession Limits article' target='_blank'>Possession Limits</a>, the expected
          value of a thirty (30) day stash of Cannabis flowers in Missouri is $560 USD.</span>
      </p>

      <p>
        <span>If the cost of a high-end lockable grow chamber is $6,250 USD, then how many standard four (4) ounce,
          thirty (30) day supply of Cannabis flowers will it take to break even on the initial outlay required to secure
          the machine on premises?</span>
      </p>

      <p>
        <span>$6,250 cost to acquire/$560 market value = 12 standard four (4) ounce, thirty (30) day supply of Cannabis
          flowers</span>
      </p>

    </div>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>How long will it take for the Qualified Patient or Care Giver to harvest 12 standard four (4) ounce,
          thirty (30) day supply of Cannabis flowers?</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span>More to come ...</span>
      </p>

    </div>
    <hr class="green-groove" />

    {% include sources-and-uses.htm %}

    {% include alt-footer-cash-me.htm %}

  </div>
</div>

<script src='../jq/min/core/331/js/jquery-v331.min.js'></script>
<script src='../js/scripts/corresponding-javascript-file.js'></script>
