---
layout: default
title: Possession Limits
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h2>Missouri Medical Marijuana Possession Limits</h2>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>What is the Missouri Medical Marijuana #MedMj Possession Limit For Qualified Patients?</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span>Under the newly published guidelines by the Missouri Dept of Health and Human Services (<a
            href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>), four (4)
          ounces is considered the standard thirty (30) day supply of Cannabis flowers for a Qualified Patient (QP) in
          Missouri.</span>
      </p>
    </div>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>Do the Math</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span>There are twenty-eight (28) grams of material in a dry-weight ounce of Cannabis flowers.</span>
      </p>

      <p>
        <span>And, if the wholesale price of a gram of Cannabis flowers hovers around $5 per gram, then what is the
          estimated value of a thirty (30) day stash in Missouri?</span>
      </p>

      <p>
        <span>Let's do the math ...</span>
      </p>

      <p>
        <span>Four (4) ounces X 28 grams per ounce = 112 grams</span>
      </p>

      <p>
        <span>112 grams X $5 USD per gram = $560 market value</span>
      </p>

      <p>
        <span>Therefore, the expected value of a thirty (30) day stash of Cannabis flowers in Missouri is $560
          USD.</span>
      </p>

      <p>
        <span>Wow! That's WAY more than enough to make sure your thirty (30) day stash of Cannabis flowers remains in a
          safe place!</span>
      </p>

      <p>
        <span>In fact, under the guidelines promulgated by the Missouri Dept of Health and Human Services (<a
            href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>), should
          ANY of your supply become diverted for whatever reason other than supplying a Qualified Patient with his or
          her medicine, the prohibited act must be reported to the <a
            href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a> within three (3) calendar days counting from the day of discovery.</span>
      </p>
    </div>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>What is the monthly 'Carryforward' for Care Providers and Qualified Patients?</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span>If the State of Missouri allows the purchase of up to a thirty (30) day supply of Cannabis flowers, or
          four (4) ounces from a Missouri Registered Dispensary (MRD) every thirty (30) days, then what type of
          inventory 'Carrryforward' is allotted each Care Provider and/or Qualified Patient?</span>
      </p>

      <p>
        <span><b>Answer</b>: Well, even though you as a Qualified Patient may only be allowed to purchase a limit of up
          to a
          thirty (30) day supply, or four (4) ounces of Cannabis flowers from your local or remote Missouri Registered
          Dispensary (MRD) every thirty (30) days ...</span>
      </p>

      <p>
        <span>The actual POSSESSION limit in Missouri has been set a little bit higher to accommodate up to a sixty (60)
          days supply, or eight (8) ounces of Cannabis flowers for those Care Providers or Qualified Patients that
          PURCHASE their medicine from the local or remote dispensary.</span>
      </p>

      <p>
        <span>If you choose to "Grow Your Own", or GYO your thirty (30) day supply of Cannabis flowers,
          then the law as written allows you to stash a ninety (90) days supply, or twelve (12) ounces of Cannabis
          flowers per Care Provider or Qualified Patient!</span>
      </p>

      <p>
        <span>Say what?</span>
      </p>

      <p>
        <span>That's correct!</span>
      </p>

      <p>
        <span>If all you are doing is buying your bud from a Missouri Registered Dispensary (MRD) every thirty (30)
          days, then you can be caught with a stash of up to a (60) days supply, or eight (8) ounces of Cannabis flower
          by dry-weight.</span>
      </p>

      <p>
        <span>If, on the other hand you become, and your author highly recommends that you do become ... a Cannabis
          flower "indoor farmer",</span>
      </p>

      <p>
        <span>Then you can be caught with a stash of up to a ninety (90) days supply, or a total of twelve (12)
          ounces!</span>
      </p>

      <p>
        <span>There are only sixteen (16) ounces in a pound of #Dweeb, people!</span>
      </p>

      <p>
        <span>That's right, you read that correctly.</span>
      </p>

      <p>
        <span>This new Missouri law allows you as a Qualified Patient, or Care Provider the right to possess up to four
          (4) ounces shy of a pound of #Dweeb!</span>
      </p>

      <p>
        <span>Anything more, and the authorities will just assume you are trafficking illegally.</span>
      </p>

      <p>
        <span>However, there is one loop hole in the current Missouri physician-based regime that may allow you as a
          Qualified Patient to possess or purchase more than the standard thirty (30) day supply of Cannabis flowers, or
          four (4) ounces. </span>
      </p>

      <p>
        <span>Because the current regime under the petition titled 'Amendment 2' has now been etched into the
          constitution of the State of Missouri as Amendment XIV, if two or more physicians disagree on what your thirty
          (30) day supply of Cannabis flowers should be as measured in ounces, then the state will accept the lower of
          the two limits.</span>
      </p>

      <p>
        <span>One physician's decision on your condition as a Qualified Patient as it relates to your
          thirty (30) day supply of Cannabis flowers could be based on the Missouri State benchmark of four (4)
          ounces.</span>
      </p>

      <p>
        <span>However, another physician, if you have taken the trouble to get a second opinion, may decide that you may
          indeed need a greater than the benchmark thirty (30) days supply of Cannabis flowers to alleviate your pain,
          aid in your nausea, etc.</span>
      </p>

      <p>
        <span>For example, (10) ounces!</span>
      </p>

      <p>
        <span>But, here's the catch.</span>
      </p>

      <p>
        <span>If two or more certified physicians disagree on what that higher limit should be, then the <a
            href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a> will only
          accept the "lower" amount.</span>
      </p>

      <p>
        <span>In other words, the <a href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a> will conservatively "round down" instead of "rounding up" which may not be the
          best avenue for the patient.</span>
      </p>

      <p>
        <span>In this case, when applying for your Qualified Patient ID Card, or if you are updating a current record
          for a Qualified Patient at the <a href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>, only submit the recommendation with the higher value.</span>
      </p>
    </div>
    <hr class="green-groove" />

    {% include sources-and-uses.htm %}

    {% include alt-footer-cash-me.htm %}

  </div>
</div>
