---
title: Lesson Template
layout: default
version: Shell Lesson Template htm Dtd 02-15-18
categories: template
topic: Shell
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h4>Very Special Shell Lesson</h4>
    </hgroup>
    <hr class="green-groove" />

    <p>
      <span>This is a container for a Very Special Shell lesson.</span>
    </p>

    <p>
      <span>This Very Special Shell lesson is currently in draft.</span>
    </p>

    <p>
      <span>The language for this container is <code>&lt;html&gt;</code>.</span>
    </p>

    <p>
      <span>The type of this container is <em>page</em>.</span>
    </p>
    <hr class="green-groove" />

    <hgroup class="text-left">
      <h4>El Futuro Shell Lesson</h4>
    </hgroup>
    <hr class="green-groove" />

    <p>
      <span>This is a container for the El Futuro Shell lesson.</span>
    </p>

    <p>
      <span>The El Futuro Shell lesson is currently in draft.</span>
    </p>

    <p>
      <span>The language for this container is <b>Markdown</b>.</span>
    </p>

    <p>
      <span>The type of this container is <em>gist</em>.</span>
    </p>
    <hr class="green-groove" />

    <hgroup class="text-left">
      <h4>Version</h4>
    </hgroup>
    <hr class="green-groove" />

    <p>
      <span>
        <b>Note</b>.</span>
      <span>This page crafted with {{ page.version }}.</span>
    </p>
    <hr class="green-groove" />
    
    {% include sources-and-uses.htm %}
    
    {% include alt-footer-cash-me.htm %}

  </div>
</div>
