---
layout: default
title: Shell Page | MMINAIL
---
<div class="container-fluid">
	<div class="row-fluid">

<main>
<article>

<hgroup class="text-left">
	<h3>Shell Page</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Shell Page page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />
	
<hgroup class='text-left'>
	<h3>Navigate It</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Learn-Topic' selection just north of the <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at one of those 'Learn-Topic' pages ...</span>
</p>
	
<p>
	<pan>Specifically, the 'Shell Page Now' page.</span>
</p>
		<hr class="green-groove" />
		
<hgroup class='text-left'>
	<h3>The Working Repo</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>At this website, we have the Html working repo for the Benefit Corp, or 'Concepts Library'.</span>
</p>

<p>
	<span>Each topic of interest here may have separate repos developed in GitHub Flavored Markdown, or <abbr class='oblique-text' title='GitHub Flavored Markdown'>GFM</abbr> that will house short tutorials and lessons.</span>
</p>

<p>
	<span>A list of hyperlinks to those markdown pages will be set here, at each "Learn Now" offering.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Concepts Library</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>For example, here is a set of external links to the current 'Shell Page Project' markdown pages segregated first by 'Shell Page', and then secondly by 'Shell Page'.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Shell Page Template</h3>
</hgroup>
	<hr class='green-groove' />

<ul type="">
	<li><a href="https://rwebaz.github.io/Shell-Page-Project/" title="Click to Visit the Shell Page Template - Home Page at GitHub" target="_blank">Lesson Template</a>: State the Issue of the Problem in the Form of a Question</li>
</ul>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Shell Page Lessons</h4>
</hgroup>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Shell-Page-Project/pages/Shell-Lists.html" title="Click to Visit the Shell Page at GitHub" target="_blank">Shell Page</a>: Place the introducing line of text ie.) the 'tagline' here ...</li>
	
</ol>
	<hr class='green-groove' />

{% include forkit.htm %}

<footer class="page-footer center-block">
	<br />
	<p>
		<span><b>Source</b>:</span>
    	<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Square Up</a>
	</p>

	<p>
		<span>See: <a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Cash Me</a>
		<span>by</span>
		<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Today</a>
	</p>
		<hr class="green-groove" />
	
	{% include footer.htm %}
</footer>

</article>
</main>

</div>
</div>