---
title: Home Page
layout: default
navigation_weight: 1
---
# Shell Lesson Project Template

The **Shell Lessons Project** is a Git Hub repo of coding lessons that emphasize both the GFM and Kramdown engines.

![MMI™ Flammarion Logo Badge](../assets/ico/ms-icon-70x70.png)

## Table O Contents

- TOC
{:toc}

## Issue

State the issue of the problem in the form of a question ...

## Solution

Expound the solution ...

## The Code

Highlight the code ...

## Summation

Delineate the steps ...

## Live

Render the code live

## Ping-back

- Live Link

[Medcoin™ Crypto Currency Project: Ping-back Home Page](https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/){:target="_blank"}

- The Code

```liquid
{% raw %}
[Medcoin™ Crypto Currency Project: Ping-back Home Page](https://rwebaz.github.io/Medcoin-Crypto-Currency-Project/){:target="_blank"}
{% endraw %}
```

## Raw Code

Place the introducing line of text ie.) the 'tagline' here ...

```liquid
{% raw %}
`...`
{% endraw %}
```

***

**Source**: [Project Source Links](https://rwebaz.github.io/Zazzle-Hempaz-Project/pages/Source-Links.html){:target="_self"). Published by © 2017 [Mminail.github.io](https://mminail.github.io/){:target="_blank"}