<hgroup class="text-left">
  <h3>25 Mile Rule</h3>
</hgroup>
  <hr class="green-groove" />
  
  <p class="lead">
    <span>"<em>When residing <a href="http://medmj.us/AuthorityToCultivate" title="Click to Review a map of the current Dispensary Cartel locations in Arizona" onclick="javaScript:this.target='_blank';">25 miles extant</a> of a state legalized dispensary ...</em>"</span>
  </p>
  
  <p>
    <span>Spanning the entire connectome of the modern <b>Medical Marijuana Initiative</b> in a connective cartography of ideas and hyperlinks ...</span>
  </p>
  
  <p>
    <span>The open source authors of this project hope to enlighten the world to the plight of the common medical patient.</span> 
  </p>
    <hr class="green-groove" />

<hgroup class="text-left">
  <h4>Unconstitutional</h4>
</hgroup>
  <hr class="green-groove" />

  <p class="lead">
    <span>Due to a labyrinth of government regulations and costs ...</span>
  </p>

  <p>
    <span>Today's common medical patient is virtually devoid of healing phyto-cannabinoids and other beneficial terpenes globally for no other reason than his or her current residential address.</span>
  </p>

  <p>
    <span>Doesn't that sound a bit strange to you?</span>
  </p>
    <hr class='green-groove' />

  <hgroup class='text-left'>
    <h4>Restricting Medicines</h4>
  </hgroup>
    <hr class='green-groove' />

  <p class="lead">
    <span>Restricting access to medicine ...</span>
  </p>
  
  <p>
    <span>Almost Un-constitutional, isn't it?</span>
  </p>
  
  <p>
    <span>And, with patients in Arizona paying anywhere from $75 to $90 USD for an eighth (1/8th) of an ounce of medicine ...</span>
  </p>
  
  <p>
    <span>Don't you think it is time that we allow ALL patients the right to grow, stash, and cure their own medicines?</span>
  </p>
    <hr class="green-groove" />
