<hgroup class="text-left">
  <h4>25 Mile Rule</h4>
</hgroup>
  <hr class="green-groove" />
  
<p>
  <span>The <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr> is dedicated to the preservation of the hard-earned rights of Medical patients to grow up to (12) state-legal Medicinal plants.</span>
</p>

<p>
  <span>In a connective cartography of ideas and hyperlinks spanning the entire connectome of the modern <b>Medical Marijuana Initiative</b> ...</span>
</p>
    
<p>
  <span>The open source authors of this project hope to enlighten the world to the plight of the common medical patient.</span> 
</p>
    
<p>
  <span>Due to a labyrinth of government regulations and costs, today's common medical patient is virtually devoid of healing phyto-cannabinoids and other beneficial terpenes globally for no other reason than his or her current residential address.</span>
</p>
  <hr class="green-groove" />

<hgroup class="text-left">
  <h4>Unconstitutional</h4>
</hgroup>
  <hr class="green-groove" />

<p>
  <span>"<em>When residing <a href="http://medmj.us/AuthorityToCultivate" title="Click to Review a map of the current Dispensary Cartel locations in Arizona" onclick="javaScript:this.target='_blank';">25 miles extant</a> of a state legalized dispensary</em>"</span>
</p>
  
<p>
  <span>Doesn't that sound a bit strange to you?</span>
</p>

<p>
  <span>Restricting access to medicine ...</span>
</p>
  
<p>
  <span>Almost Un-constitutional, isn't it?</span>
</p>
  
<p>
  <span>And, with patients in Arizona paying anywhere from $75 to $90 USD for a  (1/8) ounce of medicine ...</span>
</p>
  
<p>
  <span>Don't you think it is time that we allow ALL patients the right to grow, stash, and cure their own medicines?</span>
</p>
  <hr class="green-groove" />
  
<hgroup class="text-left">
  <h4>Make Contact</h4>
</hgroup>
  <hr class="green-groove" />

<p>
  <span>We do at the <abbr class="oblique-text" title="Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation">MMINAIL</abbr>.</span>
</p>
  
<p>
  <span>If you agree, why don't you <a href="https://cash.me/$MMINAIL" title="Click to Donate Spare Cash via Cash Me - Square Up" target="_blank">donate a little spare cash</a>?</span>
</p>
  
<p>
  <span>Or, a little of your <a href='https://github.com/MMINAIL/mminail.github.io' title='Click To Fork the MMINAIL Central Working Repo (CWR) at GitHub' target='_blank'>coding time</a>?</span>
</p>
  
<p>
  <span>Or, simply </span>
  <a href="https://medmj.us/AzSenatorsUnite" title="Click to Contact and Email Your Arizona State Senators and Congressional Representatives (Two) Today!" target="_blank">contact</a>
  <span>your favorite <a href="https://medmj.us/AzSenatorsUnite" title="Click to Contact and Email Your Arizona State Senators and Congressional Representatives (Two) Today!" target="_blank">Arizona State Senators and Congressional Representatives</a> today!</span>
</p>
  <hr class="green-groove" />
