<hgroup class="text-left">
  <h4>Acronyms</h4>
</hgroup>
  <hr class="green-groove" />

  <p class="lead">
    <span>For an acronym to be visually effective when reading a line of text ...</span> 
  </p>

  <p>
    <span>The acronym must first be <em>declared</em>.</span>
  </p>

  <p>
    <span>In addition, the acronym must stand out from the body of information.</span>
  </p>
  
  <p>
    <span>To accomplish both of these objectives, the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr> has selected <abbr class='oblique-text' title='Ashley Gold: "The Stem of the Leaf", a primary color of the USPTO registered Logo Badge of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>Ashley Gold</abbr></span>.
  </p>
    <hr class='green-groove' />

<hgroup class='text-left'>
  <h5>Ashley Gold</h5>
</hgroup>
  <hr class='green-groove' />

  <p>
    <span style='color:#CC6600;'><em>Ashley gold</em></span> is a primary color within the registered Logo Badge of the Benefit corporation.</span>
  </p>

  <p>
    <span>Whenever the end user spies a designated <em>Acronym</em> of <abbr class='oblique-text' title='Ashley Gold: "The Stem of the Leaf", a primary color of the USPTO registered Logo Badge of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>Ashley Gold</abbr> ...</span>
  </p>

  <p>
    <span>Simply hover over the <em>Acronym</em> to reveal the underlying meaning embedded in the <code>title</code> element of the <code>&lt;abbr&gt;</code> tag.</span>
  </p>
    <hr class="green-groove" />

<hgroup class="text-left">
  <h4>Definitions</h4>
</hgroup>
  <hr class="green-groove" />

  <p class="lead">
    <span>The <code>&lt;abbr&gt;</code> tag can also be used to house <em>Definitions</em> as well as <em>Acronyms</em>.</span>
  </p>

  <p>
    <span>As we have seen in the above referenced <abbr class='oblique-text' title='Ashley Gold: aka "The Stem of the Leaf", a primary color of the USPTO registered Logo Badge of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>Ashley Gold</abbr> definition ...</span>
  </p>

  <p>
    <span>Whenever the end-user spies a designated <em>Acronym</em> or <em>Definition</em> of <abbr class='oblique-text' title='Ashley Gold: "The Stem of the Leaf", a primary color of the USPTO registered Logo Badge of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>Ashley Gold</abbr> color ...</span>
  </p>

  <p>
    <span>Simply hover over the <em>Acronym</em> or <em>Definition</em> to reveal the underlying meaning embedded in the <code>title</code> element of the <code>&lt;abbr&gt;</code> tag.</span>
  </p>
    <hr class="green-groove" />
