<hgroup class="text-left">
  <h4>Acronyms</h4>
</hgroup>
  <hr class="green-groove" />
  
<p>
  <span>For an acronym to be visually effective when reading a line of text, the acronym must first be declared.</span> 
</p>
  
<p>
  <span>In addition, the acronym must stand out from the body of information.</span>
</p>
  
<p>
  <span>To accomplish both of these objectives, the authors have selected <abbr class='oblique-text' title='Ashley Gold: The Stem of the Leaf, a primary color of the registered resident logo badge'>Ashley Gold</abbr>, a primary color within the registered logo badge of the Benefit corporation for which to highlight acronyms.</span>
</p>
  
<p>
  <span>Whenever the end user spies a designated acronym of <abbr class='oblique-text' title='Ashley Gold: The Stem of the Leaf, a primary color of the registered resident logo badge'>Ashley Gold</abbr> color, simply hover over the acronym to reveal the underlying meaning of the acronym letters.</span>
</p>
  <hr class="green-groove" />