<footer id="alt-footer" class="center-block">
  <br />
  <p>
    <span><b>Source</b>:</span>
    <a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Square Up</a>
  </p>
  
  <p>
    <span>See: <a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Cash Me</a>
    <span>by</span>
    <a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Today</a>
  </p>

  <!-- Set up a Twitter Share-This-Page Button -->
  <h5 style="text-align:center">Share this page on Twitter</h5>
  <link rel="me" href="https://twitter.com/mminail">
  <p>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet" text="Check out this page C=>"
      hashtags="GotLab,Please,ReTWeet" via="" data-size="small">share this page</a>
  </p>

</footer>
