<hgroup class="text-left">
  <h4>Logo Badge Class 35</h4>
</hgroup>
  <hr class="green-groove" />

    <p>
      <span>The <b>Logo Badge Class 35</b> description of the company's trademark is pretty straight forward.</span>
    </p>

    <p>
      <span>"Consultation services, namely, creative and strategic consultation regarding development and production of marketing campaigns for others."</span>  
    </p>

    <p>
      <span>The above set of services are offered to the public via our Benefit Corporation.</span>
    </p>
      <hr class="green-groove" />

<hgroup class="text-left">
  <h4>Articles of Incorporation</h4>
</hgroup>
  <hr class="green-groove" />
  
    <p>
      <span>The <b>Articles of Incorporation</b> of the company are also pretty straight forward.</span>
    </p>
  
    <p>
      <span>"To provide a general public benefit by managing and operating a network of production facilities designed to extract limonene and other terpenoids from herbaceous plant materials."</span>
    </p>
    
    <p>
      <span>The above set of services cannot be offered to the public via our Benefit Corporation without obtaining the necessary licenses first.</span>
    </p>
  
    <p>
      <span>However, when accepting the role of Foundation for the Medcoin™ Crypto Currency Project after accepting dominion over the USPTO registered Logo Badge of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr> ...</span>
    </p>

    <p>
      <span>No adjustment to the company's <b>Articles of Incorporation</b> was required other than an acknowledged reference to the moves in the minutes of the corporation's annual meetings as published, when applicable.</span>
    </p>

    <p>
      <span>You may find the published minutes of our Annual Meetings under the <em>Governance</em> tab of the <b>Navigator</b> aside ... <i class='icon-large icon-hand-right'></i></span>
    </p>
      <hr class="green-groove" />
