<hgroup class="centeralign">
	<h3>Supporting Content</h3>
</hgroup>
	<hr />

<p>
	<span>The Medical Marijuana Initiative of North America - International Limited is an Arizona Benefit corporation.</span>
</p>
	<hr />
<p>
	<span>We are dedicated to the preservation of the hard-earned rights of Medical patients to grow up to (12) state-legal Medicinal plants ...</span>
</p>
	<hr />
<p>
	<span>When residing 25 miles extant of a state legalized dispensary.</span>
</p>
	<hr />
<p>
	<span>This is a placeholder paragraph (A).</span>
</p>
    <hr />
<p>
	<span>This is a placeholder paragraph (B).</span>
</p>
    <hr />
<p>
	<span>This is a placeholder paragraph (C).</span>
</p>
    <hr />
<p>
	<span>Here, a block of code may be displayed and Wordwrapped in real time using triple backticks and a code language qualifier embedded in a pre and code tag combo styled via css, as follows:</span>
</p>
	<hr/>
<pre>
<code>
```python
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while b < 10:
	print(b)
	a, b = b, a+b
```
</code>
</pre>
	<hr />
<pre>
<code>
```css
/* Wordwrap and highlight the lines of code  */
pre {
    white-space: pre-wrap;
    /* white-space: pre; */
    background-color: rgb(255,255,229); /* light yellow */
    /* background: hsl(30,80%,90%); */
    display: block;
    font-family: monospace;
    margin: 1em 0;
}

code { 
    background: hsl(220, 80%, 90%); 
}
```
</code>
</pre>
	<hr />
<p>
	<span>The above solution ( triple backticks and a code language qualifier ) also renders a code block when commenting both before and after the review of a pull request at GitHub, both locally via GitHub for desktop, and at the GitHub remote repository.</span>
</p>
<!-- Comment Out: Pre n Code Lines
<pre>
    <code class="language-markup">

<div style="text-align: center; font-size: 12px">
	<p>
		<b>Copyright ©2016 <a href="http://cannabuds.us/"
			title="Clik to Jump To the Home Page of the MMINAIL"
				target="_blank">The Medical Marijuana Initiative of North America - International Limited</a>. All rights reserved.</b>
	</p>
	
	<p>
		<b>This Webpage is being hosted via:&nbsp;</b>
		<a href="https://pages.github.com/"
			title="Clik to Jump To GitHub Pages"
				target="_blank">GitHub Pages</a> 
	</p>
</div>

	</code>
</pre>
Comment Out: Pre n Code Lines -->
	<hr />
<p>
	<span>Or, an Unordered List of Date of Time possibilities ...</span>
	<hr/>
<pre>
<code>
```liquid
<% comment %>
<% endcomment %>
```
</code>
</pre>

</p>
	<hr/>
<p>
	<span>When rendered locally, the current local server ( machine ) date and 24 hour spot-time for the most recent rendition of this page is based on a geo-location of ( GMT -7 ).</span>
</p>
	<hr/>
<p>
	<span>{{ site.time | date: "Date: %a, %b %d, %Y<br />Time: %X %Z" }}</span>
</p>
	<hr/>
<p>
	<span>Note.</span>
	<span>The time shown above is as of the moment of page rendering. When rendered from a remote server to your local browser, the date, time, and deviation from Greenwich Mean Time (GMT) are based on the geo-location of the remote server.</span>
</p>
	<hr/>
<p>
	<span>With bootstrap ver 3 we can also place a double-xx size glyphicon anywhere on the webpage with an 'i' tag, as follows:</span>
</p>

<p class="centeralign">
	<i class="glyphicon glyphicon-alert largo"></i>
</p>

<pre>
<code>
```markup
<span>Cannot show the markup code ...</span>
<span>Without triggering a rendition ...</span>
<span>of the glyphicon!</span>
<i class="glyphicon glyphicon-alert largo"></i>
```
</code>
</pre>
	<hr/>
