<hgroup class="text-center">
	<h3>Supporting Content <i class="icon-large icon-eye-open"></i></h3>
</hgroup>
	<hr />

<hgroup class='text-left'>
	<h4>E Books</h4>
</hgroup>
	<hr />

<p>
	<span>With today's explosion of modern devices, some consumers like to read their articles on their Kindles or iPads.</span>
</p>

<p>
	<span>Therefore, a method to convert any page of this website into an 'eBook' is auto-built into the top of the navigation stack as well as the footer of every page.</span>
</p>
	<hr />

<p>
	<span>Simply click the</span>
	<a class="dotEPUB" data-dotepublang="en" data-dotepublinks="1" href="https://www.dotepub.com" title="Click to Convert This page to an (.epub) or (.mobi) file.">
		<img src="../images/png/dot-epub-button-62-x-20.png" alt="small dot epub button" />
		<span>eBook icon</a> to render the current page as an Overdrive (.epub) or a Kindle (.mobi) for external reading.</span>
</p>
	<hr />

<hgroup class="text-left">
	<h4>The A's Have It!</h4>
</hgroup>
	<hr />

<p>
	<span>In today's complicated world of coding, even the use of the standard hyperlink has come into question.</span>
</p>

<p>
	<span>Therefore, to make it easy for the end-user, this User Interface, or <abbr class='oblique-text' title='User Interface'>UI</abbr> will show safe internal links in the bootstrap default color of <span style="color:#337ab7">light dodger blue</span>.</span>
</p>

<p>
	<span>On the other hand, external links, when designated https secure ...</span> 
	<span>Will be shown in the color of <span style="color:#004B23;">forest green</span>.</span>
</p>

<p>
	<span>All other external links designated with standard http will be shown in the color of <span style="color:rgb(207,103,75);">indian red</span>.</span>
</p>
	<hr />

<hgroup class="text-left">
	<h4>Acronyms</h4>
</hgroup>
	<hr />

<p>
	<span>For an acronym to be visually effective when reading a line of text, the acronym must first be declared.</span> 
</p>

<p>
	<span>In addition, the acronym must stand out from the body of information.</span>
</p>

<p>
	<span>To accomplsh both of these objectives, the authors have selected <abbr class='oblique-text' title='Ashley Gold: The Stem of the Leaf, a primary color of the registered resident logo badge'>Ashley Gold</abbr>, a primary color within the registered logo badge of the Benefit corporation.</span>
</p>

<p>
	<span>Whenever the end user spies a designated acronym of <abbr class='oblique-text' title='Ashley Gold: The Stem of the Leaf, a primary color of the registered resident logo badge'>Ashley Gold</abbr> color, simply hover over the acronym to reveal the underlying meaning of the acronym letters.</span>
</p>
	<hr />

<hgroup class="text-left">
	<h4>Screen Reponsiveness</h4>
</hgroup>
	<hr />

<p>
	<span>This page has been tested for mobile responsiveness on a virtual Galaxy S5 smartphone emulator.</span>
</p>
	<hr />
	
<p>
	<span>The authors have determined the accuracies of the page renderings at both a portrait width of 360px and a landscape width of 640px.</span>
</p>
	<hr />

<p>
	<span>In addition, pages are also tested against an Amazon Kindle Fire HDX 7, 3rd Generation tablet.</span>
</p>
	<hr />

<p>
	<span>On the Kindle tablet, both portrait and landscape renderings appear accurate, as well.</span>
</p>
	<hr />

<p>
	<span>And, on the Amazon Fire phone, using automatic screen rotation, both portrait and landscape renderings appear accurate.</span>
</p>
	<hr />

<hgroup class="text-left">
	<h4>Navigation</h4>
</hgroup>
	<hr />

<p>
	<span>Here, the Navigator <code>&lt;aside&gt;</code> is set for a nine (9) character description of each category.</span>
</p>
	<hr />

<p>
	<span>Though please note some category titles do have ten (10) characters and are therefore best viewed in landscape mode.</span>
</p>
	<hr />

<hgroup class="text-left">
	<h4>Got An Idea?</h4>
</hgroup>
	<hr />

<p>
	<span>If you have an idea that will spruce this site up even better than it already is, then you know the drill.</span>
</p>
	<hr />
<p>
	<span>Simply go ahead and <a href="https://github.com/MMINAIL/mminail.github.io.git" title="Click To Fork this MMINAIL Repository" target="_blank">fork</a> this repo, make your changes, and send me a pull request.</span>
</p>
	<hr />

<hgroup class="text-left">
	<h4>Carbon Free Footprint</h4>
</hgroup>
	<hr />

<p>
	<span>The <b>Carbon Free Footprint</b> project is a division of the</span>
	<span><a href="https://mminail.github.io" title="Click to Visit the Home Page of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation" onclick="javaScript:this.target='_blank';">Medical Marijuana Initiative of North America - International Limited</a>,</span>
	<span>an Arizona Benefit corporation.</span>
</p>

<p>
	<span><b>Note</b>.</span>
	<span>The repo for the <b>Carbon Free Footprint</b> project has been hard-fork'd to another location at the Git Hub server farm.</span>
</p>
	<hr />

<hgroup class="text-left">
	<h4>Learning the ways of the Javascript Ninja</h4>
</hgroup>
	<hr />

<p>
	<span><b>Note</b>.</span>
	<span>The Http Headers of this repo are being monitored by </span>
	<a href="http://internetsupervision.com/" title="Site Monitoring - InternetSupervision.com" target="_blank">Internet Supervision dot com</a>
</p>
	<hr />

<hgroup class="text-left">
	<h4>The MMINAIL</h4>
</hgroup>
	<hr />

<p>
	<span>We are dedicated to the preservation of the hard-earned rights of Medical patients to grow up to (12) state-legal Medicinal plants.</span>
</p>
	<hr />
<p>
	<span>*** When residing <a href="http://medmj.us/AuthorityToCultivate" title="Click to Review a map of the current Dispensary Cartel locations in Arizona" onclick="javaScript:this.target='_blank';">25 miles extant</a> of a state legalized dispensary ***</span>
</p>
	<hr />
<p>
	<span>Doesn't that sound a bit strange to you?</span>
</p>
	<hr />
<p>
	<span>Almost Un-constitutional, isn't it?</span>
</p>
    <hr />
<p>
	<span>And, with patients in Arizona paying anywhere from $75 to $90 USD for a quarter ounce of medicine ...</span>
</p>
	<hr />
<p>
	<span>Don't you think it is time that we allow ALL patients the right to grow, stash, and cure their own medicines?</span>
</p>
    <hr />
<!-- Abbreviations now take a class initialism ... No me gusta -->
<p>
	<span>We do at the <abbr class="oblique-text" title="Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation">MMINAIL</abbr>.</span>
</p>
	<hr />

<p>
	<span>If you agree, why don't you <a href="https://cash.me/$MMINAIL" title="Click to Donate Spare Cash via Cash Me - Square Up" target="_blank">donate a little spare cash</a>?</span>
</p>
	<hr />

<p>
	<span>Or, a little of your <a href='https://github.com/MMINAIL/mminail.github.io' title='Click To Fork the MMINAIL Central Working Repo (CWR) at GitHub' target='_blank'>coding time</a>?</span>
</p>
	<hr />

<p>
	<span>Or,</span>
	<span><a href="https://medmj.us/AzSenatorsUnite" title="Click to Contact and Email Your Arizona State Senators and Congressional Representatives (Two) Today!" target="_blank">contact</a></span>
	<span>your favorite</span>
	<span>Arizona State Senators and Congressional Representatives ie.) Congressmen or Congresswomen today!</span>
</p>
	<hr />

<p>
	<span>You'll be glad you did ... and, we'll keep the social advocacy rolling for you.</span>
</p>
	<hr />
<p>
	<span>Both at the State Capitol in Phoenix and also over the Internet!</span>
</p>
	<hr />
<p>
	<span>Thank you for your donation.</span>
</p>
	<hr />

<hgroup class='text-left'>
	<h4>No Warranty</h4>
</hgroup>
	<hr />

<p>
	<span><b>Disclaimer</b>.</span>
	<span>The author of this website has made every effort to ensure the accuracy of the information herein.</span>
</p>

<p>
	<span>However, the information contained in this website, and in its pages, is offered to the public without any warranty expressed or implied.</span>
</p>

<p>
	<span>Therefore, the author of this website, and by extension its pages and content cannot be held liable for any damages that may be caused indirectly or directly by the software instructions or tutorials contained in the pages of this website.</span>
</p>

<p>
	<span>For further review, please see the <a href="../pages/license.htm" title="Click To Review The License Page of this Website" target="_self">License</a> page of this website and/or the <a href="../pages/privacy-policy.htm" title="Click To Review The Privacy Policy Page of this Website" target="_self">Privacy Policy</a> page of this website to clarify.</span>
</p>
	<hr />

<hgroup class='text-left'>
	<h4>Reproduction In Part</h4>
</hgroup>
	<hr />

<p>
	<span>Most authors will allow the reproduction of their works in part when the case of brief quotations embodied in critical articles or reviews is addressed.</span>
</p>
	
<p>
	<span>Therefore, please remember to provide a <a href="https://mminail.github.io" title="Click to Visit the current Home Page of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation" target="_blank">Link-back</a> to the original author, or to the publisher of the original publication when citing.</span>
</p>

<p>
	<span>Thank you for your consideration.</span>
</p>
	<hr />

<p>
	<span class="script-text">The Management</span>
</p>

<picture>
	<a href='https://mminail.github.io' title='Click To Review the Home page of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation' target='_blank'>
	<img class="img-responsive img-circle" src="../images/svg/MMINAIL-Logo-Badge-Original-Registered-Transparent-320-x-320.svg" alt="The USPTO Registered Logo Badge of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation" /></a>
</picture>