<hgroup class="centeralign">
	<h3>Supporting Content <i class="icon-large icon-eye-open"></i></h3>
</hgroup>
	<hr />

<p>
	<span>The Medical Marijuana Initiative of North America - International Limited is an Arizona Benefit corporation.</span>
</p>
	<hr />
<p>
	<span>We are dedicated to the preservation of the hard-earned rights of Medical patients to grow up to (12) state-legal Medicinal plants ...</span>
</p>
	<hr />
<p>
	<span>*** When residing 25 miles extant of a state legalized dispensary ***</span>
</p>
	<hr />
<p>
	<span>Doesn't that sound a bit strange to you?</span>
	<span>Almost Un-constitutional, isn't it?</span>
</p>
    <hr />
<p>
	<span>And, with patients in Arizona paying anywhere from $75 to $90 for a quarter ounce of medicine, don't you think it is time that we allow ALL patients the right to grow, stash, and cure their own medicines?</span>
</p>
    <hr />
<p>
	<span>We do at the MMINAIL.</span>
	<span>If you agree, why don't you donate a little space cash today?</span>
</p>
	<hr />
<p>
	<span>Just click on the button above to be hyperlinked to the Donate Page for the instructions on how to contribute over the Internet.</span>
	<span>You'll be glad you did ... and, we'll keep the programming tutorials coming!</span>
</p>

<p>
	<span>The Management.</span>
</p>
	<hr />
