<hgroup class='text-left'>
  <h4>Carriage Return</h4>
</hgroup>
  <hr class='green-groove' />

  <p>
    <span>The <em>carriage return</em>, or ... ➡️ </span>
  </p>

  <p>
    <span>Is used extensively throughout the <em>working repos</em> of the <b>Concept Library</b> to prevent the overflow of  <em>raw code</em>.</span>
  </p>

  <p>
    <span>By preventing the overflow of <em>raw code</em> when rendering a code block, the view of the end-user avoids the <em>slider effect</em>.</span>
  </p>

  <p>
    <span>By eliminating the <em>slider effect</em>, responsive views using other devices ie.) Kindle Fire HDX will maintain screen boundaries without overflow.</span>
  </p>
    <hr class='green-groove' />
