{% case include.icon %}
  {% when "MMINAIL" %}
    <a class="mminail" href="https://mminail.github.io" title="Click to Visit the Home Page of the MMINAIL" target="_blank">
				<i>
					<picture>
						<img class="icon-thumb" src="../assets/ico/apple-icon-120x120.png" alt="Small Registered MMINAIL Logo Badge" />
						<img class="icon-zoom" src="../assets/ico/apple-icon-120x120.png" alt="Small Registered MMINAIL Logo Badge" />
					</picture>
				</i>
			</a>
  {% when "Facebook" %}
  <svg class="face­book" xmlns="http://​www.​w3.​org/​2000/​svg" fill="#000000" width="24" height="24" view­Box="0 0 24 24">
    <path d="M19,4V7H17A1,1 0 0,0 16,8V10H19V13H16V20H13V13H11V10H13V7.5C13,5.56 14.57,4 16.5,4M20,2H4A2,2 0 0,0 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" /></svg>
  
{% endcase %}