<hgroup class='text-left'>
  <h3>Coding Community</h3>
</hgroup>
	<hr class='green-groove' />

  <p>
    <span>If you are an expert in your field of specialty ...</span>
    <span>Why not</span>
	  <a href='https://github.com/MMINAIL/mminail.github.io' title='Click To Fork the MMINAIL Concept Library at GitHub' target='_blank'>fork the working repo</a>
	  <span>of this Website and create a Sub-menu of your choosing?</span>
  </p>

  <p>
    <span>Send us a '<a href='https://github.com/MMINAIL/mminail.github.io' title='Click To Fork the MMINAIL Central Working Repo (CWR) at GitHub' target='_blank'>Pull Request</a>'.</span>
    <span>Our team of coders will review your contribution and get back to you with a "thumbs up" ( or, "thumbs down" ).</span>
  </p>
    <hr class="green-groove" />

{% include public-contribute-code.htm %}

{% include public-contribute-cash.htm %}

{% include public-contribute-ether.htm %}
