<hgroup class="text-left">
  <h3>Concept Library</h3>
</hgroup>
  <hr class="green-groove" />

  <p>
    <span>The goal of the <b>Concept Library</b> at the the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr> is to form a <em>Live Repository</em> of code and presentation pages for our development teams to collaborate upon.</span>
  </p>

  <p>
    <span>The hub of the <b>Concept Library</b> is based on a combination of <abbr class='oblique-text' title='Hypertext Markup Language'>Html</abbr> and <abbr class='oblique-text' title='GitHub Flavored Markdown'>GFM</abbr> landing pages.</span> 
  </p>

  <p>
    <span>This "one-to-many" relationship grants the lead <b>Project Manager</b> of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr> an easy area to view the contributions of the teams, to collect data pertinent to our reporting requirements, and to review the overall progress of our projects.</span> 
  </p>
    <hr class="green-groove" />

<hgroup class="text-left">
  <h4>Business Character</h4>
</hgroup>
  <hr class="green-groove" />

  <p>
    <span>The Benefit Corporation behind this effort initially intended to conduct itself as a reputable news and information company providing direction to state-legal dispensaries in a thoroughly muddled Federal regulatory environment.</span>
  </p>

  <p>
    <span>However, no limitation of concept provided under Section 4 of the company's <b>Articles of Incorporation</b> is required.</span>
  </p>

  <p>
    <span>Hence, our foray into cryptocurrency development in the year #2013, and upon incorporation as a Benefit corporation, the acceptance of the use of our USPTO registered Logo Badge for the benefit of our Medcoin™ Crypto Currency division.</span>
  </p>
    <hr class="green-groove" />
