<div class="center-text">
  <p>
	  <span><b>Copyright © 2000 - 2020</b></span>
  </p>

	<p>
		<span>The Medical Marijuana Initiative of North America</span>
			<a href="https://mminail.github.io" title="Click To Return to the MMINAIL Concept Library Home Page" target="_blank">
				<i>
					<picture>
						<img class="icon-thumb" src="../assets/img/ico/apple-icon-120x120.png" alt="Small Registered MMINAIL™ Logo Badge" />
						<img class="icon-zoom" src="../assets/img/ico/apple-icon-120x120.png" alt="Small Registered MMINAIL™ Logo Badge" />
					</picture>
				</i>
			</a>
		<br />
		<span>- International Limited</span>
			<a href="https://www.pinterest.com/pin/513410426246265029/" title="Click To Review the USPTO Registration Certificate for the MMINAIL Logo Badge" target="_blank">
				<i>
					<picture>
						<img class="icon-thumb" src="../assets/img/png/rt-registered-trademark-reggae-circle-transp-100-x-100.png" alt="Small R-Reggae™ Trademark Symbol Logo Badge" />
						<img class="icon-zoom" src="../assets/img/png/rt-registered-trademark-reggae-circle-transp-100-x-100.png" alt="Small R-Reggae™ Trademark Symbol Logo Badge" />
					</picture>
				</i>
			</a>
  </p>

  <p>
		{% include fb-follow-rwebaz.htm %}
	</p>
</div>
