<hgroup class='text-left'>
  <h4>E Books</h4>
</hgroup>
    <hr class="green-groove" />

  <p class="lead">
    <span>With today's explosion of modern devices ...</span>
  </p>

  <p>
    <span>Some consumers like to read their articles on their Kindles or iPads.</span></span>
  </p>

  <p>
    <span>Therefore, a method to convert any page of this website into an <b>eBook</b> ...</span>
  </p>

  <p>
    <span>Is auto-built into the top of the Navigation <code>&lt;aside&gt;</code> ... <i class='icon-large icon-hand-right'></i></span>
  </p>

  <p>
    <span>As well as in the <code>&lt;footer&gt;</code> of every page.</span>
  </p>
    <hr class="green-groove" />

<hgroup class='text-left'>
  <h5>Dot ePub</h5>
</hgroup>
  <hr class="green-groove" />

  <p>
    <span>Simply click the following eBook icon =</span>
    <a class="dotEPUB" data-dotepublang="en" data-dotepublinks="1" href="https://www.dotepub.com" title="Click to Convert This page to an (.epub) or (.mobi) file.">
    <img src="/assets/ico/dot-epub-button-62-x-20.png" alt="small dot epub button" />
    <span>eBook icon</a> to render the current page as an Overdrive (.epub) or a FB Reader (.mobi)</span>
    <span>.</span>
  </p>

  <p>
    <span><b>Note</b>.</span>
    <span>The Apple iBooks platform also reads and displays the (.epub) format, as well.</span>
  </p>
    <hr class="green-groove" />
