<p>
    <span><b>Source</b>:</span>
        <span>The Management of Economic Exposure</span>
        <span>in</span>
        <span><a href="http://amzn.to/2jgVG14" title="Click to Review The Management of Economic Exposure in International Financial Management, 7th Edition" target="_blank">International Financial Management, 7th Edition</a></span>
        <span>by</span>
        <span><a href="http://amzn.to/2jgVG14" title="Click to Review The Author Cheol S. Eun" target="_blank">Cheol S. Eun</a></span>
        <span>and</span>
        <span><a href="http://amzn.to/2jgVG14" title="Click to Review The Author Bruce G. Resnick" target="_blank">Bruce G. Resnick</a></span>
  </p>

  <p>
    <span>See: <a href="http://amzn.to/2jgVG14" title="Click to Review The Management of Economic Exposure in International Financial Management, 7th Edition" target="_blank">The Amazon Digital Bookstore</a></span>
  </p>

  <p>
      <span>Original Copyright © 2015 McGraw-Hill Education, New York, NY</span>
  </p>
