<hgroup class='text-left'>
	<h4>Topic Lesson Template</h4>
</hgroup>
	<hr class='green-groove' />

  <p>
    <span>In addition to the <em>Learn Topic</em> and <em>Topic Lesson Template</em> pages ...</span>
  </p>
  
  <p>
    <span>Located under each selected <em>Topic of Interest</em> over at the navigation <code>&lt;aside&gt;</code> section of this website  ... <i class='icon-large icon-hand-right'></i> </span>
  </p>
  
  <p>
	  <span>We also have a <em>Source Links</em> page for each <em>Topic of Interest</em>, as well.</span>
  </p>
    <hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Source Links</h4>
</hgroup>
	<hr class='green-groove' />

  <p>
    <span>Each <em>Source Links</em> page for each corresponding <em>Topic of Interest</em> ...</span> 
  </p>
  
  <p>
    <span>Will have a list of references embedded with <em>hyperlinks</em> pointing to a bevy of external pages ...</span>  
  </p>

  <p>
    <span>That have been written in <em>Markdown</em> and that are <em>spot-on</em> pertinent to the selected <em>Topic of Interest</em>.</span>
  </p>
    <hr class='green-groove' />

<hgroup class='text-left'>
  <h4>Markdown Pages</h4>
</hgroup>
  <hr class='green-groove' />

  <p>
    <span>Unlike the lessons written in html that are by default shown as separate menu entries over at the navigation <code>&lt;aside&gt;</code> section ... <i class='icon-large icon-hand-right'></i> </span>
  </p>

  <p>
    <span>Each external <em>Markdown</em> page is actually hosted separately at GitHub pages under a corresponding <em>Lessons Project</em> repo that has been named to reflect the selected <em>Topic of Interest</em>.</span>
  </p>

  <p>
    <span><b>Note</b>.</span>
    <span>As the pages written in <em>Markdown</em> are displayed under the <em>Cayman</em> layout, the end-user will experience a shift in view from the default layout of the <b>Concept Library</b> to the <em>Cayman</em> view of each corresponding <em>Topic of Interest Lessons Project</em>.</span>
  </p>
    <hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Concept Library</h4>
</hgroup>
	<hr class='green-groove' />

  <p>
	  <span>Here at the <em>Html Working Repo</em> for the Benefit Corp aka our <b>Concepts Library</b>{% include case-icon-svg.htm icon="MMINAIL" %} ...</span>
  </p>

  <p>
	  <span>Each <em>Article or Lesson</em> is designed to further embellish upon the underlying fund of knowledge of the selected <em>Topic of Interest</em>.</span>
  </p>

  <p>
    <span>Both the <b>Source Links</b> page that contains the <em>Aggregate List</em> of external hyperlinks to the <em>Articles and Lessons</em> of the corresponding <em>Topic of Interest Lessons Project</em> that have been written in <em>Markdown</em> ...</span>
  </p>

  <p>
    <span>As well as the local menu of <em>Articles and Lessons</em> that have been written in <em>Html</em> ...</span>
  </p>

  <p>
    <span>Can be accessed from the navigation <code>&lt;aside&gt;</code> section of this website under each selected <em>Topic of Interest</em> ... <i class='icon-large icon-hand-right'></i> </span></span>
  </p>
	  <hr class='green-groove' />
