<hgroup class='text-left'>
	<h4>External Source Links</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>In addition to the <em>Learn Topic</em> and <em>Topic Lessons</em> pages we also have an <em>External Source</em> links page, as well.</span>
</p>

<p>
	<span>Each 'Topic Lesson' may have <em>External Sources</em> embedded in the lesson with corresponding <em>hyperlinks</em> to the <em>External Source</em> pages.</span>
</p>

<p>
	<span>Here at the <em>Html Working Repo</em> for the Benefit Corp aka our <b>Concepts Library</b>{% include case-icon-svg.htm icon="MMINAIL" %} ...</span>
</p>

<p>
	<span>An <em>aggregate list</em> of pertinent <em>External Source</em> links may be displayed to further embellish access to the underlying knowledge.</span>
</p>

<p>
	<span>Each 'Aggregate List' can then be accessed from its <em>Topic Links</em> page in the navigation <code>&lt;aside&gt;</code> section of this website ➡️ </span>
</p>
	<hr class='green-groove' />
