<hgroup class='text-left'>
  <h4>Facebook Team</h4>
</hgroup>
  <hr class='green-groove' />

  <p>
    <span>Robert Weber, Chairman recognizes the discussion regarding the updated Facebook page at our Medcoin™ Crypto Currency Division.</span>
  </p>

  <p>
    <span>Because of our <em>First-To-Market</em> strategy of developing the Medcoin™ Crypto Currency ...</span>
  </p>

  <p>
    <span>Our Benefit corporation has been awarded the "short" URL of <a href='https://fb.me/medcoin' title='Click To View the Verified Facebook Page of the Medcoin™ Crypto Currency Project' target='_blank'>https://fb.me/medcoin</a> by the Facebook team for our corresponding verified Facebook page representing our Medcoin™ Crypto Currency Division.</span>
  </p>
    <hr class='green-groove' />
  