<hgroup class='text-left'>
    <h4>Firefox Web-console Instructions</h4>
</hgroup>
    <hr class='green-groove' />

<p>
	<span>Open up a new window in the</span> 
    <a href="https://www.mozilla.org/en-US/firefox/new/"
    title="Click to Download the Current Version of the Firefox Browser"
    target="_blank">Firefox</a> browser.</span>
</p>

<p>
	<span>Next, click on the 'open menu' aka the 'three horizontal bars' icon<span> 
    <span><i class='glyphicon glyphicon-menu-hamburger'></i> to the far right of the now un-populated 'enter an address' ( search ) bar.</span>
</p>

<p>
    <span>Then, select the category 'Developer' <i class='glyphicon glyphicon-wrench'></i>.</span> 
    <span>This will jump you to the Web Developer tool set Sub-menu.</span>
</p>

<p>
    Once at the Web Developer tool set Sub-menu, click on 'Web Console' to open up a code window.
</p>


<p>
    <span>There, you will see an input line at the bottom of the console.</span>
</p>

<p>
	<span>You will now wish to go ahead and copy and paste our code into the program entry line at the bottom of the console.</span>
</p>

<p>
    <span><b>Note</b>.</span>
    <span>You can clear the Firefox Web-console by clicking on the <span>Trash icon <i class='glyphicon glyphicon-trash'></i></a>&nbsp;</span> 
    <span>at the top of the console.</span>
</p>

<p>
    <span>Also, be sure to purge the browser memory prior to execution by re-setting ie.) re-loading the browser</span> 
    <span><i class='glyphicon glyphicon-repeat'></i> window.</span>
<p>

<p>
    <span>Now, copy and paste the following code block into the program entry line at the bottom of the Firefox Web-console.</span>
</p>

<p>
    <span>Then, hit the <kbd>Enter</kbd> key to place the program in the browser's memory.</span>
</p>

<p>
    <span>Depending on the type of program being entered, there may be instantaneous execution, or there may be a pause.</span>
</p>

<p>
    <span>If there is a pause, a second step that executes the program must be entered.</span>
</p>