<hgroup class='text-left'>
  <h4>Foreign Language</h4>
</hgroup>
  <hr class='green-groove' />
  
  <p class="lead">
    <span>The foreign language expression</span>
    <span class="lang-es" lang='es' title='Sp. for the English word `Finish`'>¡Finito!</span>
    <span>can hold a translation from <em>Spanish-To-English</em> ...</span>
  </p>
  
  <p>
    <span>Via the <code>&lt;title&gt;</code> tag.</span>
  </p>
  
  <p>
    <span>Simply <em>hover</em> over the word in Spanish to reveal its English equivalent.</span>
  </p>
  
  <p>
    <span>For example ...</span>
  </p>

  <p>
    <span>Hovering over the Spanish phrase</span>
    <span class='lang-es' lang='es' title='Sp. for the English phrase `For Example`'>¡Por ejemplo!</span>
    <span>reveals the English equivalent of "For Example".</span>
  </p>

  <p>
    <span>Try it!</span>
  </p>
    <hr class='green-groove' />
