<hgroup class="text-left">
  <h3>Fork It Over</h3>
</hgroup>
    <hr class="green-groove" />
  
<p>
  <span>If you would like to help us overturn the archaic, detrimental and <em>infamous</em> (25) mile rule for medical patients in Arizona, then please give generously to the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
  <hr class="green-groove" />
  
<p>
  <span>Your <a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">donation</a> will help spur change at the <b>State Legislature</b> level and help fund future initiatives that may be placed at the foot of the voters of Arizona's fifteen (15) counties for eventual decision.</span>
</p>
  <hr class="green-groove" />