<hgroup class="text-left">
	<h4>General Minutes</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>The <b>General Minutes of the Operation of the Corporation</b> are published throughout the fiscal year and affirmed at the company's calendar year-ending <b>Annual Meeting</b>.</span>
</p>
	<hr class="green-groove" />

<p>
		<span>The <b>General Minutes of the Operation of the Corporation</b> then become the <b>General Minutes of the Annual Meeting</b> of the corporation as amended and adopted.</span>
</p>
	<hr class="green-groove" />