<hgroup class="text-left">
	<h3>General Minutes</h3>
</hgroup>
	<hr class="green-groove" />

	<p>
		<span>The <b>General Minutes</b> of the <em>Operation of the Corporation</em> are published throughout the fiscal year ending September 30th and affirmed at the company's calendar year-ending <b>Annual Meeting</b>.</span>
	</p>
	
	<p>
		<span>The <b>General Minutes</b> of the <em>Operation of the Corporation</em> then become the <b>General Minutes</b> of the <em>Annual Meeting of the Shareholders</em> of the corporation as amended and adopted at the <b>Annual Meeting of the Shareholders</b> held on December 31st of the calendar year.</span>
	</p>
		<hr class="green-groove" />
	