<hgroup class="text-left">
  <h3>Got An Idea?</h3>
</hgroup>
  <hr class="green-groove" />
  
<p class="lead">
  <span>If you have an idea that will spruce this site up even better than it already is ...</span>
</p>

<p>
  <span>Then, you know the drill ...</span>
</p>
  
<p>
  <span>Simply go ahead and <a href="https://www.github.com/MMINAIL/mminail.github.io.git" title="Click To Fork this MMINAIL Repository" target="_blank">fork</a> this repo, make your changes, and send us a <em>pull request</em>.</span>
</p>
  <hr class="green-groove" />
