<hgroup class="text-left">
  <h3>How To Navigate This Website</h3>
</hgroup>
  <hr class="green-groove" />

<ul>
  <li>
    <span>The Navigation to your right is set up to return to this <kbd>Home</kbd> page</span>
    <span>by clicking on the <a href="/index.htm" title="Click to Jump To the Home Page" target="_self">Home icon <i class="glyphicon glyphicon-home"></i></a>&nbsp;</span>
    <span>south of the divider.</span>
  </li>
    <br />
  <li>
    <span>To select any of the other topics or subtopics, simply click on the corresponding glyphicon to open up the referenced file.</span>
  </li>
    <br />  
  <li>
    <span>If you get stuck, simply click on the <a href="/index.htm" title="Click to Jump To the Home Page" target="_self">Home icon <i class="glyphicon glyphicon-home"></i></a>&nbsp;</span>
    <span>below the divider to be hyperlinked back to this Home page.</span>
  </li>
</ul>
  <hr class="green-groove" />