<hgroup class="text-left">
  <h4>{{ page.title }} Now</h4>
</hgroup>
  <hr class="green-groove" />
  
  <p class="lead">
    <span>This {{ page.title }} Now selection also exists under its respective <em>Topic of Interest</em> ...</span>
  </p>

  <p>
    <span>In the navigation <code>&lt;aside&gt;</code> section ... <i class='icon-large icon-hand-right'></i>&nbsp;</span>
  </p>

  <p>
    <span>Just above the last selection <a href="/index.htm" title="Click to Jump To the Home Page" target="_self">Home icon <i class="glyphicon glyphicon-home"></i>&nbsp;</a> divider and above the <b>Source Links</b> page menu link.</span>
  </p>

  <p>
    <span>In addition to this {{ page.title }} Now section ...</span>
  </p>
  
  <p>
    <span>We also have a <em>Topic Lesson Template</em> and a <em>Source Links</em> page located under each selected <em>Topic of Interest</em> over at the navigation <code>&lt;aside&gt;</code> section of this website  ... <i class='icon-large icon-hand-right'></i>&nbsp;</span>
  </p>
    <hr class="green-groove" />
  