<hgroup class="text-left">
  <h3>Make Contact</h3>
</hgroup>
  <hr class="green-groove" />
  
  <p class="lead">
    <span>The <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr> is dedicated to the preservation of the hard-earned rights of Medical patients.</span>
  </p>
  
  <p>
    <span>Don't you think it is time that we allow ALL patients the right to grow, stash, and cure their own medicines?</span>
  </p>
  
  <p>
    <span>We do at the <abbr class="oblique-text" title="Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation">MMINAIL</abbr>.</span>
  </p>
    <hr class='green-groove' />

<hgroup class='text-left'>
  <h4>Patient Rights</h4>
</hgroup>
  <hr class='green-groove' />

  <p class="lead">
    <span>The Authority To Cultivate ...</span>
  </p>
  
  <p>
    <span><em>"The right of a patient to grow up to twelve (12) state-legal Medicinal plants for their continued health and growth shall not be abridged."</em></span>
  </p>

  <p>
    <span>When the voters of Arizona by the slimmest of majorities chose to grant Medicinal access to qualified patients throughout the fifteen (15) counties of Arizona ...</span>
  </p>

  <p>
    <span>No one expected the Arizona Health and Human Services Department to abscond with both the patients' then given <em>Authority To Cultivate</em> as well as overcharging for the costs to operate the Medicinal "green" card program.</span>
  </p>

  <p>
    <span>But, they did ... on both accounts.</span>
  </p>
    <hr class='green-groove' />

<hgroup class='text-left'>
  <h5>Solution</h5>
</hgroup>
  <hr class='green-groove' />
    
  <p>
    <span>If you agree, then why don't you <a href="https://cash.me/$MMINAIL" title="Click to Donate Spare Cash via Cash Me - Square Up" target="_blank">donate a little spare cash for the cause</a>?</span>
  </p>
    
  <p>
    <span>Or, a little of your <a href='https://github.com/MMINAIL/mminail.github.io' title='Click To Fork the MMINAIL Central Working Repo (CWR) at GitHub' target='_blank'>coding time</a>?</span>
  </p>
    
  <p>
    <span>Or, simply </span>
    <a href="https://medmj.us/AzSenatorsUnite" title="Click to Contact and Email Your Arizona State Senators and Congressional Representatives (Two) Today!" target="_blank">contact</a>
    <span>your favorite <a href="https://medmj.us/AzSenatorsUnite" title="Click to Contact and Email Your Arizona State Senators and Congressional Representatives (Two) Today!" target="_blank">Arizona State Senators and Congressional Representatives</a> today!</span>
  </p>
    <hr class="green-groove" />
