<hgroup class="text-left">
	<h6>Method #1 Zoom</h5>
</hgroup>
  <hr class="green-groove" />
  
<p>
  <span>Click on the following 'Kal El™ Hemp Farmer' aka the 'Kal El™ Hemp Farmer logo badge' to be hyperlinked to the <b>Glyphicons</b> home page over the Internet</span>
  
  <span>
  <a href="https://www.glyphicons.com/" title="Click to Review 'Glyphicons' by 'Glyphicons dot com'" target="_blank">
		<i>
			<picture>
				<img class="icon-thumb" src="../assets/img/Kal-El-Farmer-Circle-w-script-120-x-120.png" alt="The Kal El Hemp Farmer logo badge - Large Icon" />
				<img class="icon-zoom" src="../assets/img/Kal-El-Farmer-Circle-w-script-120-x-120.png" alt="The Kal El Hemp Farmer logo badge - Large Icon" />
			</picture>
		</i>✨</a>
  </span>
  
</p>
  <hr class="green-groove" />