<nav class="menu">
    
<hgroup class="centeralign">
	<h3>Navigator</h3>
</hgroup>
    
    <ul>
        <li><a href="/index.htm" class="" title="Clik to Jump To the Home Page" target="_self">Home Page</a></li>
        <li><a href="../pages/pagetwo.htm" class="" title="Clik to Jump To the Page Two" target="_self">Page Two</a></li>
        <li><a href="../pages/donate.htm" class="" title="Clik to Jump To the Donation Page" target="_self">Donation Page</a></li>
        <li><a href="../pages/pagefour.htm" class="" title="Clik to Jump To the Page Four" target="_self">Page Four</a></li>
        <li><a href="../pages/pagefive.htm" class="" title="Clik to Jump To the Page Five" target="_self">Page Five</a></li>
        <li><a href="../pages/pagesix.htm" class="" title="Clik to Jump To the Page Six" target="_self">Page Six</a></li>
        {% if page.url == '/index.htm' % }
        {% elseif page.url == '../pages/pagetwo.htm'%}
        {% endif %}
    </ul>

    <aside id="supporting-content">
		{% include aside.htm %}
	</aside>

</nav>