<nav class="menu">
    
<hgroup class="text-center">
	<h3>Navigator <i class="icon-large icon-screenshot"></i></h3>
</hgroup>
    <!-- <ul class="list-inline"> -->
    <!-- <ul class="nav nav-pills nav-stacked"> -->
    <!-- <li class="btn btn-info btn-lg"> -->
    <ul class="nav nav-stacked">
        <li class="btn-group-med"><a href="/index.htm" class="btn btn-med" title="Clik to Jump To the Home Page" target="_self">Home Page <i class="glyphicon glyphicon-check"></i></a></li>
        <li class="btn-group-med"><a href="../pages/aboutus.htm" class="btn btn-med" title="Clik to Jump To the About Us Page" target="_self">About Us <i class="glyphicon glyphicon-phone"></i></a></li>
        <li class="btn-group-med"><a href="../pages/donate.htm" class="btn btn-med" title="Clik to Jump To the Donation Page" target="_self">Donate Page <i class="glyphicon glyphicon-thumbs-up"></i></a></li>
        <li class="btn-group-med"><a href="../pages/social.htm" class="btn btn-med" title="Clik to Jump To the Social Page" target="_self">Social Page <i class="glyphicon glyphicon-grain"></i></a></li>
        <li class="btn-group-med"><a href="../pages/affiliates.htm" class="btn btn-med" title="Clik to Jump To the Affiliates Page" target="_self">Affiliates <i class="glyphicon glyphicon-bullhorn"></i></a></li>
        <li class="btn-group-med"><a href="../pages/algiatry.htm" class="btn btn-med" title="Clik to Jump To the Algiatry Page" target="_self">Algiatry <i class="glyphicon glyphicon-edit"></i></a></li>
        <li class="btn-group-med"><a href="../pages/amplification.htm" class="btn btn-med" title="Clik to Jump To the Amplification Page" target="_self">Amplification <i class="glyphicon glyphicon-flash"></i></a></li>
        <li class="btn-group-med"><a href="../pages/relaxation.htm" class="btn btn-med" title="Clik to Jump To the Relaxation Page" target="_self">Relaxation <i class="glyphicon glyphicon-heart-empty"></i></a></li>
        <li class="btn-group-med"><a href="../pages/sleep.htm" class="btn btn-med" title="Clik to Jump To the Sleep Page" target="_self">Sleep <i class="glyphicon glyphicon-tent"></i></a></li>
        <li class="btn-group-med"><a href="../pages/solar.htm" class="btn btn-med" title="Clik to Jump To the Solar Page" target="_self">Solar <i class="glyphicon glyphicon glyphicon-sunglasses"></i></a></li>

        <li class="btn-group-med">
        <button type="button" class="btn btn-med"><span>Html5</span>
        <button type="button" class="btn btn-med dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-star-empty"></i></button>
        <ul class="dropdown-menu" role="menu">
        <li class="btn-group-med"><a href="../pages/css.htm" class="btn btn-med" title="Clik to Jump To the Css Page" target="_self">Css <i class="glyphicon glyphicon-wrench"></i></a></li>
        <li class="btn-group-med"><a href="../pages/flex-box.htm" class="btn btn-med" title="Clik to Jump To the Flex Box Page" target="_self">Flex Box <i class="glyphicon glyphicon-wrench"></i></a></li>
        <li class="btn-group-med"><a href="../pages/javascript.htm" class="btn btn-med" title="Clik to Jump To the Javascript Page" target="_self">Javascript <i class="glyphicon glyphicon-education"></i></a></li>
        <li class="btn-group-med"><a href="../pages/liquid-angular.htm" class="btn btn-med" title="Clik to Jump To the Liquid Angular Page" target="_self">Liquid Angular <i class="glyphicon glyphicon-globe"></i></a></li>
        <li class="btn-group-med"><a href="../pages/mongodb.htm" class="btn btn-med" title="Clik to Jump To the MongoDB Page" target="_self">MongoDB <i class="glyphicon glyphicon-piggy-bank"></i></a></li>
        <li class="btn-group-med"><a href="../pages/python.htm" class="btn btn-med" title="Clik to Jump To the Python Page" target="_self">Python <i class="glyphicon glyphicon-ruble"></i></a></li>
        <li class="divider"></li>
	    <li><a href="../pages/learn-html5.htm" class="btn btn-med btn-success" title="Clik to Jump To the Learn Landraces Page" target="_self">Learn Html5</a></li>
        </ul>
        </button>
        </li>
        
        <li class="btn-group-med">
            <!-- Note. There is no class in Bootstrap 3.3(7) to force a 'drop-up' -->
        <button type="button" class="btn btn-med"><span>Landraces</span>
	    <button type="button" class="btn btn-med dropdown-toggle" data-toggle="dropdown">
		<!-- <i class="caret" ></i> -->
        <i class="glyphicon glyphicon-leaf"></i>
	    </button>
        <ul class="dropdown-menu" role="menu">
	    <li class="btn-group-med"><a href="../pages/ruderalis.htm" class="btn btn-med" title="Clik to Jump To the Ruderalis Page" target="_self">Ruderalis <i class="glyphicon glyphicon-leaf"></i></a></li>
        <li class="btn-group-med"><a href="../pages/sativa.htm" class="btn btn-med" title="Clik to Jump To the Sativa Page" target="_self">Sativa <i class="glyphicon glyphicon-leaf"></i></a></li>
        <li class="btn-group-med"><a href="../pages/indica.htm" class="btn btn-med" title="Clik to Jump To the Indica Page" target="_self">Indica <i class="glyphicon glyphicon-leaf"></i></a></li>
	    <li class="divider"></li>
	    <li><a href="../pages/learn-landraces.htm" class="btn btn-med btn-success" title="Clik to Jump To the Learn Landraces Page" target="_self">Learn Landraces</a></li>
        </ul>
        </button>
        </li>

        <li class="btn-group-med"><a href="../pages/license.htm" class="btn btn-med" title="Clik to Jump To the License Page" target="_self">License Page <i class="glyphicon glyphicon-flag"></i></a></li>
        <li class="btn-group-med"><a href="../pages/privacy-policy.htm" class="btn btn-med" title="Clik to Jump To the Privacy Policy Page" target="_self">Privacy Policy <i class="glyphicon glyphicon-bell"></i></a></li>
        <!-- <li class="btn-group-med"><a href="#" class="btn btn-med" title="Clik to Jump To the Blak Page" target="_self">Blanks <i class="glyphicon glyphicon-leaf"></i></a></li> -->
        <!-- <li class="btn-group-med"><a href="../pages/html5.htm" class="btn btn-med" title="Clik to Jump To the Html5 Page" target="_self">Html5 <i class="glyphicon glyphicon-star-empty"></i></a></li> -->

    </ul>
    
    <aside id="supporting-content">
		{% include aside.htm %}
	</aside>

</nav>
