<hgroup class="text-left">
  <h3>How To Navigate This Website</h3>
</hgroup>
  <hr class="green-groove" />

  <p>
    <span>At this website, we have the <b>Html</b> <em>Hub</em> for the Benefit Corp aka our <b>Concepts Library</b>.</span>
  </p>

  <p>
    <span>You (Usted), as a current visitor of our <b>Concept Library</b>, are now at the <em>{{page.title}}</em> page.</span>
  </p>
    <hr class="green-groove" />
  
<hgroup class="text-left">
  <h4>Navigation Aside</h4>
</hgroup>
  <hr class="green-groove" />

  <p>
    <span>In the Navigation <code>&lt;aside&gt;</code> section of this website ... ➡️ </span>
  </p>

  <p>
    <span>The end-user will find a <em>Stack of Topics</em>.</span>
  </p>
    <hr class="green-groove" />
  
<hgroup class="text-left">
  <h4>Stack O Topics</h4>
</hgroup>
  <hr class="green-groove" />
 
  <ul>
    <li>
      <span>The Navigation <code>&lt;aside&gt;</code> to your right houses the <em>Stack of Topics</em> ... ➡️ .</span>
    </li>
      <br />
    <li>
      <span>At each Topic, the end-user will find a hyperlink back to the <kbd>Home</kbd> page of the <b>Concept Library</b>.</span>
    </li>
      <br />
    <li>
      <span>By clicking on the <a href="/index.htm" title="Click to Jump To the Home Page" target="_self">Home icon <i class="glyphicon glyphicon-home"></i></a>&nbsp;</span>
      <span>the end-user will be returned to the <kbd>Home</kbd> page of the <b>Concept Library</b>.</span>
    </li>
      <br />
    <li>
      <span>To select any of the other <b>Topics</b> or <em>subtopics</em>, simply click on the corresponding glyphicon to open up the referenced file.</span>
    </li>
      <br />  
    <li>
      <span>If you get stuck, simply click on the <a href="/index.htm" title="Click to Jump To the Home Page" target="_self">Home icon <i class="glyphicon glyphicon-home"></i></a>&nbsp;</span>
      <span>to be hyperlinked back to the <kbd>Home</kbd> page of the <b>Concept Library</b>.</span>
    </li>
  </ul>
    <hr class="green-groove" />

<hgroup class="text-left">
  <h4>Subtopics</h4>
</hgroup>
  <hr class="green-groove" />

  <p>
    <span>When an end-user clicks on a <em>Topic of Interest</em> over at the <b>Stack of Topics</b> in the Navigation <code>&lt;aside&gt;</code> ... ➡️</span>
  </p>

  <p>
    <span>The menu explodes vertically to reveal several <em>Subtopic</em> choices.</span>
  </p>
    <hr class="green-groove" />

<hgroup class="text-left">
  <h5>Learn Topic</h5>
</hgroup>
  <hr class="green-groove" />

  <p>
    <span>A <b>Learn Topic</b> <em>Subtopic</em> selection exists under each <em>Topic of Interest</em>.</span>
  </p>

  <p>
    <span>The <b>Learn Topic</b> <em>Subtopic</em> selection sits just above the <a href="/index.htm" title="Click to Jump To the Home Page" target="_self">Home icon <i class="glyphicon glyphicon-home"></i></a>&nbsp; <em>Subtopic</em> selection divider for each <em>Topic of Interest</em>.</span>
  </p>

  <p>
    <span><b>Note</b>.</span>
    <span>You may click on the <a href="/index.htm" title="Click to Jump To the Home Page" target="_self">Home icon <i class="glyphicon glyphicon-home"></i></a>&nbsp;<em>Subtopic</em> selection at anytime to be <em>hyperlinked</em> back to the <kbd>Home</kbd> page of the <b>Concept Library</b>.</span>
  </p>
    <hr class="green-groove" />
