<hgroup class="text-left">
	<h4>Navigate It</h4>
</hgroup>
	<hr class="green-groove" />

  <p>
		<span>At this website, we have the <b>Html</b> <em>Working Repository</em> for the Benefit Corp aka our <b>Concepts Library</b>{% include case-icon-svg.htm icon="MMINAIL" %}.</span>
  </p>
  
  <p>
	  <span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
  </p>

  <p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
  </p>
    <hr class="green-groove" />
