<!-- Navigate It include Template htm Dtd 02-04-18 pm -->
<hgroup class="text-left">
  <h3>How To Navigate This Website</h3>
</hgroup>
  <hr class="green-groove" />

  <p class="lead">
    <span>At this website ...</span>
  </p>

  <p>
    <span>We have the <code>&lt;html&gt;</code> <em>hub</em> for the Benefit Corp aka our <b>Concepts Library</b>.</span>
  </p>

  <p>
    <span>You (Usted), as a current visitor to our <b>Concepts Library</b>, are now at the <em>{{page.topic}} {{page.title}}</em> page.</span>
  </p>
    <hr class="green-groove" />

<hgroup class="text-left">
  <h4>Navigation Aside</h4>
</hgroup>
  <hr class="green-groove" />

  <p>
    <span>In the Navigation <code>&lt;aside&gt;</code> section of this website ... <i class='icon-large icon-hand-right'></i>&nbsp;...</span>
  </p>

  <p>
    <span>The end-user will find a <em>Stack of Topics</em>.</span>
  </p>

  <p>
    <span>Or, for you smartphone users ... the Navigation <code>&lt;aside&gt;</code> section is up! ... <i class='icon-large icon-hand-up'></i>&nbsp;</span>
  </p>

  <p>
    <span>There, the smartphone user will find the same <em>Stack of Topics</em> for the <b>Concepts Library</b> at <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
  </p>
    <hr class="green-groove" />

<hgroup class="text-left">
  <h4>Stack O Topics</h4>
</hgroup>
  <hr class="green-groove" />

  <p>
    <span>The Navigation <code>&lt;aside&gt;</code> section to your right ... <i class='icon-large icon-hand-right'></i> ... If you are viewing this page from the traditional landscape style of your laptop.</span>
  </p>

  <p>
    <span>Or, the Navigation <code>&lt;aside&gt;</code> section from above ... <i class='icon-large icon-hand-up'></i> ... If you are viewing this page from the modern portrait style of your smartphone ...</span>
  </p>

  <p>
    <span>Both house the same <em>Stack of Topics</em> available for selection at the <b>Concepts Library</b> of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
  </p>
    <hr class="green-groove" />

<hgroup class="text-left">
  <h4>Instruction Set</h4>
</hgroup>
  <hr class="green-groove" />

  <p class="lead">
    <span>To access one of the Articles or Lessons available for your preferred <em>Topic of Interest</em> ...</span>
  </p>

  <ul>
    <li>
      <span>Simply scroll through the tabs of Topics above, or to the side ...</span>
    </li>
      <br />
    <li>
      <span>And, click on one that you may have an interest in.</span>
    </li>
  </ul>
    <hr class="green-groove" />

<hgroup class="text-left">
  <h4>Back Home</h4>
</hgroup>
  <hr class="green-groove" />

  <p>
    <span><b>Note</b>.</span>
    <span>At each <em>Topic of Interest</em>, the end-user will find a hyperlink back to the <kbd>Home</kbd> page of the <b>Concepts Library</b>.</span>
  </p>
  
  <p>
    <span>By clicking on the <a href="/index.htm" title="Click to Jump To the Home Page" target="_self">Home icon <i class="glyphicon glyphicon-home"></i>&nbsp;</a> the end-user will be returned to the <kbd>Home</kbd> page of the <b>Concepts Library</b>.</span>
  </p>
    <hr class="green-groove" />  

<hgroup class="text-left">
  <h4>Subtopics</h4>
</hgroup>
  <hr class="green-groove" />

  <p class="lead">
    <span>When an end-user clicks on a <em>Topic of Interest</em> ...</span>
  </p>

  <p>
    <span>Either above <i class='icon-large icon-hand-up'></i>&nbsp;...</span>
  </p>

  <p>
    <span>Or, over at <i class='icon-large icon-hand-right'></i>&nbsp;...</span>
  </p>
     
  <p>
    <span>The <b>Stack of Topics</b> in the Navigation <code>&lt;aside&gt;</code> section ...</span>
  </p>

  <p>
    <span>The menu explodes vertically to reveal several subtopical choices.</span>
  </p>

  <p>
    <span>To select any other <em>Topic of Interest</em>, or any of the many subtitles ...</span>
  </p>
    
  <ul>
    <li>Simply click on the corresponding <em>glyphicon</em> to open up the referenced file.</span></li>
  </ul>
    <hr class="green-groove" />

<hgroup class="text-left">
  <h4>Unstuck</h4>
</hgroup>
  <hr class="green-groove" />
  
  <p>
    <span>If you get stuck ...</span>
  </p>
  
  <ul>
    <li>
      <span>Simply click on the <a href="/index.htm" title="Click to Jump To the Home Page" target="_self">Home icon <i class="glyphicon glyphicon-home"></i>&nbsp;</a> to be hyperlinked back to the <kbd>Home</kbd> page of the <b>Concepts Library</b>.</span>
    </li>
  </ul>
    <hr class="green-groove" />
