<hgroup class='text-left'>
  <h3>No Warranty</h3>
</hgroup>
  <hr class="green-groove" />
  
<p class="lead">
  <span><b>Disclaimer</b>.</span>
  <span>The author of this website has made every effort to ensure accuracy ...</span>
</p>
  
<p>
  <span>However, the information contained in this website, and in its pages, is offered to the public without any warranty expressed or implied.</span>
</p>
  
<p>
  <span>Therefore, the author of this website, and by extension its pages and content cannot be held liable for any damages that may be caused indirectly or directly by the software instructions or tutorials contained in the pages of this website.</span>
</p>
  <hr class="green-groove" />

<hgroup class='text-left'>
  <h4>License</h4>
</hgroup>
  <hr class="green-groove" />

  <p class="lead">
    <span>The license and privacy policy pages ...</span>
  </p>

  <p>
    <span>For further review, please see the <a href="../pages/license.htm" title="Click To Review The License Page of this Website" target="_self">License</a> page and the <a href="../Governance/Privacy-Policy.htm" title="Click To Review The Privacy Policy Page of this Website" target="_self">Privacy Policy</a> page of this website to clarify.</span>
  </p>
    <hr class="green-groove" />
