<hgroup class='text-left'>
  <h4>List Node Libraries</h4>
</hgroup>
  <hr class='green-groove' />
  
  <p class="lead">
    <span>Wondering what node libraries have already been installed by npm?</span>
  </p>
  
  <p>
    <span>More to come ...</span>
  </p>
  
  <pre class='flex-box'>
  <span>List installed node libraries ...</span>
  {% highlight html linenos %}
  npm ls
  {% endhighlight %}
  <span>A list of installed node libraries appears</span>
  </pre>
    <hr class='green-groove' />

<hgroup class='text-left'>
  <h4>Update Node Libraries</h4>
</hgroup>
  <hr class='green-groove' />
      
  <p class="lead">
    <span>How to update the node libraries that have already been installed by npm?</span>
  </p>
      
  <p>
    <span>More to come ...</span>
  </p>
  
  <pre class='flex-box'>
  <span>Update installed node libraries ...</span>
  {% highlight html linenos %}
  npm update
  {% endhighlight %}
  <span>Returns ...</span>
  </pre>
    <hr class='green-groove' />

<hgroup class='text-left'>
  <h3>Exit Node</h3>
</hgroup>
  <hr class='green-groove' />
      
  <p class="lead">
    <span>How to exit <em>Node Mode</em> from the Terminal.</span>
  </p>
      
  <p>
    <span>Simply hit the <kbd>control</kbd> + <kbd>c</kbd> key combination twice To exit a Node.js™ session.</span>
  </p>
  