<picture>
  <a href='https://mminail.github.io' title='Click To Review the Home page of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation' target='_blank'>
  <img class='img-responsive' src='../assets/img/png/GH-GitHub-Profile-Banner-MMINAIL-Left-Logo-w-octo-TEXT-1742-x-775.png' alt='The USPTO Registered Logo Badge of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation to the left of Mt Hood sunlit from the northwest in June followed by the proprietary MMINAIL octocopter delivery bot.' /></a>
</picture>

<!-- OLD GIT HUB MMINAIL Profile Photo
<picture> 
  <a href='https://mminail.github.io' title='Click To Review the Home page of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation' target='_blank'>
  <img class='img-responsive' src='../assets/img/svg/GH-GitHub-Profile-Banner-MMINAIL-Left-Logo-w-octo-1742-x-775.svg' alt='The USPTO Registered Logo Badge of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation to the left of Mt Hood sunlit from the northwest in June followed by the proprietary MMINAIL octocopter delivery bot.' /></a>
</picture> -->
