<hgroup class="text-left">
  <h4>Can You Contribute Cash?</h4>
</hgroup>
  <hr class="green-groove" />

  <p>
    <span>As we can now spend the equivalent of our grandparents' monthly mortgage payment at our local Sunday football games ...</span>
  </p>
  
  <p>
    <span>How much of your spare <a href='https://www.cash.me/MMINAIL' title='Click to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up - Cash Me' target='_blank'>cash</a> are you willing to invest in this project?</span>
  </p>
  <p>
    <span>As we rely heavily upon contributions from the coding community, your contribution of</span>
    <a href='https://www.cash.me/MMINAIL' title='Click to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up - Cash Me' target='_blank'>cash</a>
    <span>will be greatly appreciated.</span>
  </p>
    <hr class="green-groove" />
