<hgroup class="text-left">
  <h4>Can You Contribute Ether?</h4>
</hgroup>
  <hr class="green-groove" />
  
  <p>
    <span>As we have witnessed the exponential growth of Bitcoin (BTC) from 9 cents USD per coin ...</span>
  </p>

  <p>
    <span>To over $18,000 USD per coin over the past nine (9) years.</span>
  </p>

  <p>
    <span>Plus, the recent explosion of Ripple (XRP) from less than one-penny to over $2 USD.</span>
  </p>

  <p>
    <span>How much of your spare Ether ( <a href='https://www.medmj.us/SendEther' title='Click to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Coinbase FBO the Medcoin™ Crypto Currency Project' target='_blank'>ETH</a> ) are you willing to invest in this project?</span>
  </p>
  
  <p>
    <span>As we rely heavily upon contributions from the coding community, your contribution of</span>
      <a href='https://www.medmj.us/SendEther' title='Click to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Coinbase FBO the Medcoin™ Crypto Currency Project' target='_blank'>ether</a>
    <span>will be greatly appreciated.</span>
  </p>
    <hr class="green-groove" />
  
{% include public-blue-hash.htm %}
