<hgroup class="text-left">
  <h4>Bitconnect Public Hash</h4>
</hgroup>
  <hr class="green-groove" />

  <p>
    <span>Scan the following</span>
      <a href='https://www.unitag.io/qreator/generate?setting=%7B%22EYES%22%3A%7B%22EYE_TYPE%22%3A%22Simple%22%7D%2C%22E%22%3A%22H%22%2C%22BODY_TYPE%22%3A0%2C%22LAYOUT%22%3A%7B%22COLORBG%22%3A%22DCF9BE%22%2C%22GRADIENT_TYPE%22%3A%22NO_GR%22%2C%22COLOR1%22%3A%22000000%22%7D%2C%22LOGO%22%3A%7B%22L_NAME%22%3A%22https%3A%2F%2Fstatic-unitag.com%2Ffile%2Ffreeqr%2Fd4ae9b8f1106f5ff4f205974e5544f4f.png%22%2C%22EXCAVATE%22%3Atrue%7D%7D&data=%7B%22DATA%22%3A%7B%22URL%22%3A%22http%3A%5C%2F%5C%2Fopn.to%5C%2Fa%5C%2F3iSzd%22%7D%2C%22TYPE%22%3A%22url%22%7D' title='Click To Visit your Bitconnect Wallet' target='_blank'>QR Code</a>
    <span>to extract the Bitconnect Public "hash" address in support of our Medcoin™ Crypto Currency Project.</span>
  </p>

  <a href="https://www.unitag.io/qreator/generate?setting=%7B%22EYES%22%3A%7B%22EYE_TYPE%22%3A%22Simple%22%7D%2C%22E%22%3A%22H%22%2C%22BODY_TYPE%22%3A0%2C%22LAYOUT%22%3A%7B%22COLORBG%22%3A%22DCF9BE%22%2C%22GRADIENT_TYPE%22%3A%22NO_GR%22%2C%22COLOR1%22%3A%22000000%22%7D%2C%22LOGO%22%3A%7B%22L_NAME%22%3A%22https%3A%2F%2Fstatic-unitag.com%2Ffile%2Ffreeqr%2Fd4ae9b8f1106f5ff4f205974e5544f4f.png%22%2C%22EXCAVATE%22%3Atrue%7D%7D&data=%7B%22DATA%22%3A%7B%22URL%22%3A%22http%3A%5C%2F%5C%2Fopn.to%5C%2Fa%5C%2F3iSzd%22%7D%2C%22TYPE%22%3A%22url%22%7D">
    <img class="img" src="https://www.unitag.io/qreator/generate?setting=%7B%22EYES%22%3A%7B%22EYE_TYPE%22%3A%22Simple%22%7D%2C%22E%22%3A%22H%22%2C%22BODY_TYPE%22%3A0%2C%22LAYOUT%22%3A%7B%22COLORBG%22%3A%22DCF9BE%22%2C%22GRADIENT_TYPE%22%3A%22NO_GR%22%2C%22COLOR1%22%3A%22000000%22%7D%2C%22LOGO%22%3A%7B%22L_NAME%22%3A%22https%3A%2F%2Fstatic-unitag.com%2Ffile%2Ffreeqr%2Fd4ae9b8f1106f5ff4f205974e5544f4f.png%22%2C%22EXCAVATE%22%3Atrue%7D%7D&data=%7B%22DATA%22%3A%7B%22URL%22%3A%22http%3A%5C%2F%5C%2Fopn.to%5C%2Fa%5C%2F3iSzd%22%7D%2C%22TYPE%22%3A%22url%22%7D"
    alt="QR Code - Bitconnect - Bus Card" target="_blank"
    title='Click To Visit your Bitconnect Wallet' />
  </a>
    <hr class="green-groove" />
