<hgroup class="text-left">
  <h4>Can You Contribute Code?</h4>
</hgroup>
  <hr class="green-groove" />
    
  <p>
    <span>As we can now decipher the time spent by our functions at the code block level ...</span>
  </p>
  
  <p>
    <span>How much of your coding <a href='https://github.com/MMINAIL/mminail.github.io' title='Click To Fork the MMINAIL Central Working Repo (CWR) at GitHub' target='_blank'>time</a> are you willing to invest in this project?</span>
  </p>
  
  <p>
    <span>As we rely heavily upon contributions from the coding community, your contribution of</span>
    <a href='https://github.com/MMINAIL/mminail.github.io' title='Click To Fork the MMINAIL Central Working Repo (CWR) at GitHub' target='_blank'>code</a>
    <span>will be greatly appreciated.</span>
  </p>
    <hr class="green-groove" />
