<hgroup class="text-left">
  <h5>Public Hash</h5>
</hgroup>
  <hr class="green-groove" />

  <p>
    <span>Simply scan the following</span>
      <a href='https://www.unitag.io/qreator/generate?setting=%7B%22LAYOUT%22%3A%7B%22COLORBG%22%3A%221E90FF%22%2C%22COLOR1%22%3A%22313131%22%2C%22COLOR2%22%3A%22313131%22%2C%22GRADIENT_TYPE%22%3A%22RADI%22%7D%2C%22EYES%22%3A%7B%22EYE_TYPE%22%3A%22Spike%22%2C%22COLOR_EHG%22%3A%22313131%22%2C%22COLOR_EHD%22%3A%22313131%22%2C%22COLOR_EBG%22%3A%22313131%22%2C%22COLOR_IHG%22%3A%22000000%22%2C%22COLOR_IHD%22%3A%22000000%22%2C%22COLOR_IBG%22%3A%22000000%22%7D%2C%22BODY_TYPE%22%3A4%2C%22E%22%3A%22H%22%2C%22LOGO%22%3A%7B%22L_NAME%22%3A%22https%3A%2F%2Fstatic-unitag.com%2Ffile%2Ffreeqr%2Fd071b5b925aa5e1733166c168d898ebc.png%22%2C%22EXCAVATE%22%3Afalse%7D%7D&data=%7B%22DATA%22%3A%7B%22URL%22%3A%22https%3A%5C%2F%5C%2Fopn.to%5C%2Fa%5C%2F0WB8B%22%7D%2C%22TYPE%22%3A%22url%22%7D' title='Click to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Coinbase FBO the Medcoin™ Crypto Currency Project' target='_blank'>QR Code</a>
    <span>to extract our Coinbase  <em>public hash address</em> to send <em>Gifts O Wei</em> in support of our Medcoin™ Crypto Currency Project.</span>
  </p>

  <a href="https://www.unitag.io/qreator/generate?setting=%7B%22LAYOUT%22%3A%7B%22COLORBG%22%3A%221E90FF%22%2C%22COLOR1%22%3A%22313131%22%2C%22COLOR2%22%3A%22313131%22%2C%22GRADIENT_TYPE%22%3A%22RADI%22%7D%2C%22EYES%22%3A%7B%22EYE_TYPE%22%3A%22Spike%22%2C%22COLOR_EHG%22%3A%22313131%22%2C%22COLOR_EHD%22%3A%22313131%22%2C%22COLOR_EBG%22%3A%22313131%22%2C%22COLOR_IHG%22%3A%22000000%22%2C%22COLOR_IHD%22%3A%22000000%22%2C%22COLOR_IBG%22%3A%22000000%22%7D%2C%22BODY_TYPE%22%3A4%2C%22E%22%3A%22H%22%2C%22LOGO%22%3A%7B%22L_NAME%22%3A%22https%3A%2F%2Fstatic-unitag.com%2Ffile%2Ffreeqr%2Fd071b5b925aa5e1733166c168d898ebc.png%22%2C%22EXCAVATE%22%3Afalse%7D%7D&data=%7B%22DATA%22%3A%7B%22URL%22%3A%22https%3A%5C%2F%5C%2Fopn.to%5C%2Fa%5C%2F0WB8B%22%7D%2C%22TYPE%22%3A%22url%22%7D">
    <img class="img" src="https://www.unitag.io/qreator/generate?setting=%7B%22LAYOUT%22%3A%7B%22COLORBG%22%3A%221E90FF%22%2C%22COLOR1%22%3A%22313131%22%2C%22COLOR2%22%3A%22313131%22%2C%22GRADIENT_TYPE%22%3A%22RADI%22%7D%2C%22EYES%22%3A%7B%22EYE_TYPE%22%3A%22Spike%22%2C%22COLOR_EHG%22%3A%22313131%22%2C%22COLOR_EHD%22%3A%22313131%22%2C%22COLOR_EBG%22%3A%22313131%22%2C%22COLOR_IHG%22%3A%22000000%22%2C%22COLOR_IHD%22%3A%22000000%22%2C%22COLOR_IBG%22%3A%22000000%22%7D%2C%22BODY_TYPE%22%3A4%2C%22E%22%3A%22H%22%2C%22LOGO%22%3A%7B%22L_NAME%22%3A%22https%3A%2F%2Fstatic-unitag.com%2Ffile%2Ffreeqr%2Fd071b5b925aa5e1733166c168d898ebc.png%22%2C%22EXCAVATE%22%3Afalse%7D%7D&data=%7B%22DATA%22%3A%7B%22URL%22%3A%22https%3A%5C%2F%5C%2Fopn.to%5C%2Fa%5C%2F0WB8B%22%7D%2C%22TYPE%22%3A%22url%22%7D"
    alt="QR Code - Coinbase - Bus Card" target="_blank"
    title="Scan to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Coinbase FBO the Medcoin™ Crypto Currency Project" />
  </a>
    <hr class="green-groove" />

  <p>
    <span><b>Note</b>. The easiest and safest way to extract our public `ETH` hash-address is to point your smartphone at the `QR Code` shown and engage the `Sophos Intercept X QR Code Scanner`.</span>
    <span>From there you will be able to open the link safely via the `Sophos Intercept X Link Checker`.</span>
  </p>
    <hr class="green-groove" />
