<hgroup class='text-left'>
  <h4>Reproduction In Part</h4>
</hgroup>
  <hr class="green-groove" />
  
<p>
  <span>Most authors will allow the reproduction of their works in part when the case of brief quotations embodied in critical articles or reviews is addressed.</span>
</p>
      
<p>
  <span>Therefore, please remember to provide a <a href="https://mminail.github.io" title="Click to Visit the current Home Page of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation" target="_blank">Link-back</a> to the original author, or to the publisher of the original publication when citing.</span>
</p>
  
<p>
  <span>Thank you for your consideration.</span>
</p>
  <hr class="green-groove" />
