<hgroup class="text-left">
  <h3>Screen Responsiveness</h3>
</hgroup>
  <hr class="green-groove" />
  
<p class="lead">
  <span>The pages of the <b>Concept Library</b> have been tested for mobile responsiveness.</span>
</p>
    
<p>
  <span>The authors have determined the accuracies of the page renderings at both a portrait width of 360px and a landscape width of 640px.</span>
</p>
  <hr class="green-groove" />

<hgroup class="text-left">
  <h4>Devices</h4>
</hgroup>
  <hr class="green-groove" />

  <p class="lead">
    <span>Testing devices have included selections from the following list of devices ...</span>
  </p>

  <ul>
    <li>Amazon Kindle Fire HDX 7, 3rd Generation tablet</li>
    <br />
    <li>Virtual Galaxy S5 smartphone emulator</li>
  </ul>
    <hr class="green-groove" />

{% include kindle-tablets.htm %}

{% include amazon-fire-phones.htm %}

{% include foreign-language.htm %}

{% include acronyms-definitions.htm %}

{% include carriage-return.htm %}

{% include site-monitoring.htm %}

{% include reproduction-in-part.htm %}
