<hgroup class="text-left">
  <h4>Screen Responsiveness</h4>
</hgroup>
  <hr class="green-groove" />
  
<p>
  <span>This page has been tested for mobile responsiveness on a virtual Galaxy S5 smartphone emulator.</span>
</p>
    
<p>
  <span>The authors have determined the accuracies of the page renderings at both a portrait width of 360px and a landscape width of 640px.</span>
</p>
  
<p>
  <span>In addition, pages are also tested against an Amazon Kindle Fire HDX 7, 3rd Generation tablet.</span>
</p>
  
<p>
  <span>On the Kindle tablet, both portrait and landscape renderings appear accurate, as well.</span>
</p>
  
<p>
  <span>And, on the Amazon Fire phone, using automatic screen rotation, both portrait and landscape renderings appear accurate.</span>
</p>
  <hr class="green-groove" />
