<p>
  <h1 class="visible-xs visible-sm visible-md visible-lg center-text">{{ page.title }}</h1>
  <h2 class="visible-xs visible-sm visible-md visible-lg center-text">{{ site.title }}</h2>
  <h3 class="visible-xs visible-sm visible-md visible-lg center-text">{{ site.url }}</h3>
</p>
  <hr class='green-groove' />

<p>
  <span>Powered with</span>
    <a href="https://www.glyphicons.com/" title="Click to Review Glyphicons" target="_blank">glyphicons<br /><br />
    <i class="icon-large icon-snowflake"></i></a>
</p>
  <hr class='green-groove' />

<iframe src="https://www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Fhempaz.robert&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
  <hr class='green-groove' />
  
<h5>Secondary Header Two</h5>

<p>
  {% include dot-epub.htm %}
</p>
