<p>
  <h1 class="visible-xs visible-sm visible-md visible-lg center-text">{{ page.title }}</h1>
  <h2 class="visible-xs visible-sm visible-md visible-lg center-text">{{ site.title }}</h2>
  <h3 class="visible-xs visible-sm visible-md visible-lg center-text">{{ site.url }}</h3>
</p>
  <hr class='green-groove' />

<p>
  <span>Powered with</span>
    <a href="https://www.glyphicons.com/" title="Click to Review Glyphicons" target="_blank">glyphicons<br /><br />
    <i class="icon-large icon-snowflake"></i></a>
</p>
  <hr class='green-groove' />

<h5>Secondary Header One</h5>

<p>
  {% include dot-epub.htm %}
</p>
