<hgroup class="text-left">
  <h3>Secure Hyperlinks</h3>
</hgroup>
  <hr class="green-groove" />
  
  <p class="lead">
    <span>The A's Have It!</span>
  </p>
  
  <p>
    <span>In today's complicated world of coding, even the use of the standard hyperlink ...</span>
  </p>
  
  {% highlight html %}<a href="" title="" target=""></a>{% endhighlight %}
  
  <p>
    <span>Is placed into question by the standards of newer, more modern browsers such as Google's <em>V8 powered</em> Chrome browser.</span>
  </p>
    <hr class='green-groove' />

<hgroup class='text-left'>
  <h4>Safe Internal Links</h4>
</hgroup>
  <hr class='green-groove' />

  <p class="lead">
    <span>Therefore, to make life easy for the end-user ...</span>
  </p>

  <p>
    <span>The <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr> will show safe, internal links in the bootstrap default color of <em><span style="color:#337ab7">light dodger blue</span></em>.</span>
  </p>
    <hr class='green-groove' />

<hgroup class='text-left'>
  <h4>Safe External Links</h4>
</hgroup>
  <hr class='green-groove' />

  <p class="lead">
    <span>In addition, safe external links ...</span>
  </p>
  
  <p>
    <span>When designated <em>https secure</em> ie.) <code>https://</code>.</span>
  </p>

  <p>
    <span>Will also be shown in the color of <em><span style='color:#337ab7'>light dodger blue</span></em>.</span>
  </p>
    <hr class='green-groove' />

<hgroup class='text-left'>
  <h4>Standard External Links</h4>
</hgroup>
  <hr class='green-groove' />
  
  <p class="lead">
    <span>All other external links ...</span>
  </p>

  <p>
    <span>If designated with <em>standard http</em> ie.) <code>http://</code> ...</span>
  </p>

  <p>
    <span>Will be shown in the color of <em><span style="color:rgb(207,103,75);">indian red</span></em>.</span>
  </p>
    <hr class="green-groove" />
