<hgroup class="text-left">
  <h4>Secure Hyperlinks</h4>
</hgroup>
  <hr class="green-groove" />
  
  <p>
    <span>The A's Have It!</span>
  </p>
  
  <p>
    <span>In today's complicated world of coding, even the use of the standard hyperlink ...</span>
  </p>
  
  <pre class='flex-box'>
    {% highlight html %}
    <code><a href="" title="" target=""></a></code>
    {% endhighlight %}
  </pre>
  
  <p>
    <span>Is placed into question by the standards of newer, more modern browsers such as Google's <em>V8 powered</em> Chrome browser.</span>
  </p>
    <hr class='green-groove' />

<hgroup class='text-left'>
  <h5>Safe Internal Links</h5>
</hgroup>
  <hr class='green-groove' />

  <p>
    <span>Therefore, to make it easy for the end-user ...</span>
  </p>

  <p>
    <span>The <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr> will show safe, internal links in the bootstrap default color of <em><span style="color:#337ab7">light dodger blue</span></em>.</span>
  </p>
    <hr class='green-groove' />

<hgroup class='text-left'>
  <h5>Safe External Links</h5>
</hgroup>
  <hr class='green-groove' />

  <p>
    <span>In addition, safe external links when designated <code>https</code> secure ie.) <code>https://</code> ...</span>
  </p>
  
  <p>
    <span>Will also be shown in the color of <em><span style='color:#337ab7'>light dodger blue</span></em>.</span>
  </p>
    <hr class='green-groove' />

<hgroup class='text-left'>
  <h5>Standard External Links</h5>
</hgroup>
  <hr class='green-groove' />
  
  <p>
    <span>All other external links designated with standard <code>http</code> ie.) <code>http://</code> ...</span>
  </p>

  <p>
    <span>Will be shown in the color of <em><span style="color:rgb(207,103,75);">indian red</span></em>.</span>
  </p>
    <hr class="green-groove" />
