---
title: Source Links
layout: default
navigation_weight: 9
---
# Source Links

Place the introducing line of text ie.) the 'tagline' here ...

**Note**. Each **Live Link** is followed by the **Markdown - Liquid** code required to render the hyperlink.

## Table O Contents

- TOC
{:toc}

## Angular 4

More to come ...

### ng-book 2: The Complete Guide to Angular

1. **Source**: [ng-book 2: The Complete Guide to Angular by Nate Murray, Felipe Coury, Ari Lerner, and Carlos Taborda. Published by © 2017 Fullstack.io](http://cowles.yale.edu/sites/default/files/files/pub/d20/d2069.pdf){:target="_blank"}

```liquid
{% raw %}
[ng-book 2: The Complete Guide to Angular by Nate Murray, Felipe Coury, Ari Lerner, and Carlos Taborda. Published by © 2017 Fullstack.io](http://cowles.yale.edu/sites/default/files/files/pub/d20/d2069.pdf){:target="_blank"}
{% endraw %}
```

## Next Category

More to come ...

### New Title

1. **Source**: [New Title. Published by © 2017 mminail.github.io](http://new-external-link.pdf){:target="_blank"}

```liquid
{% raw %}
Markdown - Liquid Hyperlink Code
{% endraw %}
```

## Raw Code

```liquid
{% raw %}
`...`
{% endraw %}
```

***

**Source**: [Various Titles: See above](https://mminail.github.io){:target="_blank"}
