<footer id="page-footer" class="center-block">
		<br />
		<p>
			<span><b>Source</b>:</span>
				<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Square Up</a>
		</p>
	
		<p>
			<span>See: <a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Cash Me</a>
			<span>by</span>
			<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Today</a>
		</p>
			<hr class="green-groove" />
</footer>
