<hgroup class="text-left">
	<h3>Supporting Content {% include case-icon-svg.htm icon='FLAMMARION' %}</h3>
</hgroup>
	<hr class="green-groove" />

	<p class="lead">
  	<span>Welcome! This is the <em>Supporting Content</em> section for the <b>{{page.title}}</b> page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
	</p>

	<p>
		<span>The <b>Concept Library</b> of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr> is a <em>static</em> informational website.</span>
	</p>
	
	<p>
		<span>As such, a <em>Supporting Content</em> section is placed below each (.html) page in the flow of the default layout to grant the end-user additional pertinent information when navigating this site.</span>
	</p>
		<hr class="green-groove" />

{% include e-books.htm %}

{% include secure-hyperlinks.htm %}

{% include navigate-it.htm %}

{% include got-an-idea.htm %}

{% include 25-mile-rule.htm %}

{% include make-contact.htm %}

{% include coding-community.htm %}

{% include no-warranty.htm %}

{% include screen-responsiveness.htm %}

{% include copyright.htm %}
