<hgroup class="text-left">
	<h3>Supporting Content <i class="icon-large icon-eye-open"></i></h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
  <span>Welcome! This is the Supporting Content section for the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr> Central Live Repository.</span>
</p>
  <hr class="green-groove" />

{% include e-books.htm %}

<hgroup class="text-left">
	<h4>The A's Have It!</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>In today's complicated world of coding, even the use of the standard hyperlink has come into question.</span>
</p>

<p>
	<span>Therefore, to make it easy for the end-user, this User Interface, or <abbr class='oblique-text' title='User Interface'>UI</abbr> will show safe internal links in the bootstrap default color of <span style="color:#337ab7">light dodger blue</span>.</span>
</p>

<p>
	<span>On the other hand, external links, when designated https secure ...</span> 
	<span>Will be shown in the color of <span style="color:#004B23;">forest green</span>.</span>
</p>

<p>
	<span>All other external links designated with standard http will be shown in the color of <span style="color:rgb(207,103,75);">indian red</span>.</span>
</p>
	<hr class="green-groove" />

{% include acronyms.htm %}

{% include screen-responsiveness.htm %}

{% include how-to-navigate.htm %}

{% include got-an-idea.htm %}

{% include site-monitoring.htm %}

{% include 25-mile-rule.htm %}

{% include no-warranty.htm %}

{% include reproduction-in-part.htm %}

{% include coding-community.htm %}

{% include copyright.htm %}
