<hgroup class="text-left">
  <h5>Thank you for your contribution.</h5>
</hgroup>
  <hr class="green-groove" />
  
  <p>
    <span class="script-text">The Management</span>
  </p>
  
  <p>
    <picture>
      <a href='https://mminail.github.io' title='Click To Review the Home page of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation' target='_blank'>
      <img class='img-logo-badge img-circle' src='../assets/img/svg/MMINAIL-Logo-Badge-Original-Registered-Transparent-543-x-543.svg' alt='The USPTO Registered Logo Badge of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation' width="250px" /></a>
    </picture>
  </p>
