<hgroup class="text-left">
  <h4>Time Management</h4>
</hgroup>
  <hr class="green-groove" />
        
  <p>
    <span>How much of your coding time are you willing to invest in this project?</span>
  </p>
        
  <p>
    <span>As we can now decipher the time spent by our functions at the code block level ...</span>
  </p>
        
<pre class="flex-box">
<span>Setting the time wrapper for the execution of a function ...</span>
{% highlight html linenos %}
console.time(programTimer,"Square It Time"); 
  var programTimer; {
    Execute Function Inside This Code Block
  }
console.timeEnd(programTimer,"Square It Time");
{% endhighlight %}
<span>Keep a-track of your coding time.</span>
</pre>

<pre class="flex-box">
<span>Setting the time wrapper for the execution of a function ...</span>
{% highlight html linenos %}
console.time(programTimer,"Square It Time"); 
  var programTimer; {
      Execute Function Inside This Code Block
  }
console.timeEnd(programTimer,"Square It Time");
{% endhighlight %}
<span>Keep a-track of your coding time.</span>
</pre>
