<hgroup class='text-left'>
	<h4>Topic Lessons</h4>
</hgroup>
  <hr class='green-groove' />

	<p>
		<span>Each Topic of interest will have a separate <b>md</b> <em>working repository</em> developed in GitHub Flavored Markdown ( <abbr class='oblique-text' title='GitHub Flavored Markdown'>GFM</abbr> ).</span>
	</p>

	<p>
		<span>The <abbr class='oblique-text' title='GitHub Flavored Markdown'>GFM</abbr> repo will house short tutorials and additional lessons on the end-user's selected Topic.</span>
	</p>

	<p>
		<span>A list of hyperlinks to the underlying markdown, or <b>md</b> pages will be set at each respective <em>Topic Lessons</em> page.</span>
	</p>

	<p>
		<span>Each <em>topic lesson</em> can then be accessed from its <b>Topic Lessons</b></em> page in the navigation <code>&lt;aside&gt;</code> section of this website ➡️ .</span>
	</p>
		<hr class='green-groove' />
