<!-- Unitag Black White Gold (.htm) Include Dtd 12-22-20 pm -->
<!-- The purpose of this (.htm) include is to render the QR Code and to prompt for a donation via the simple `Scan to Donate` text label -->
<a href="https://www.cash.me/$MMINAIL">
  <img class="img-responsive" src="../assets/img/png/Cash-App-QR-Code-MMINAIL-320-x-320.png"
  alt="QR Code - Cash App - Donate" target="_blank"
  title="Scan to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via the Cash App" />
</a>
<p>
  <span>
    <b>
      <i>Click or Scan to Donate via the Cash app</i>
    </b>
  </span>
</p>
<!-- Old src C=> https://www.unitag.io/qreator/generate?setting=%7B%22EYES%22%3A%7B%22EYE_TYPE%22%3A%22ER_IR%22%7D%2C%22E%22%3A%22H%22%2C%22BODY_TYPE%22%3A5%2C%22LAYOUT%22%3A%7B%22COLORBG%22%3A%22ffffff%22%2C%22GRADIENT_TYPE%22%3A%22NO_GR%22%2C%22COLOR1%22%3A%220b0b0b%22%7D%2C%22LOGO%22%3A%7B%22L_NAME%22%3A%22https%3A%2F%2Fstatic-unitag.com%2Ffile%2Ffreeqr%2Fd4ae9b8f1106f5ff4f205974e5544f4f.png%22%2C%22EXCAVATE%22%3Atrue%7D%7D&data=%7B%22DATA%22%3A%7B%22URL%22%3A%22https%3A%5C%2F%5C%2Fopn.to%5C%2Fa%5C%2FX5Cfb%22%7D%2C%22TYPE%22%3A%22url%22%7D -->
<!-- Old title C=> Scan to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via My Ether Wallet FBO the Medcoin™ Crypto Currency Project -->
<!-- Comment Out: Announcement Paragraph
<p>
  <span><b>FLASH</b>:</span>
  <scan>@Medcoin™ symbol (MDC) petitions the #SEC for cryptocurrency registration Dtd 12-04-2017; Positive response received Dtd 12-24-17</scan>
</p> -->
