<hgroup class="text-left">
  <h3>Working Donations</h3>
</hgroup>
  <hr class="green-groove" />

<p>
  <span>If you find this Live Central Repo beneficial ...</span>
</p>

<p>
  <span>Then, hurry on over to our <a href='../Donate/how-to-donate.htm' title='Click to Jump To the Donation Page' target='_self'>Donation <i class='glyphicon glyphicon-thumbs-up'></i></a>&nbsp;</span>
  <span>page post haste for a link to our</span> 
  <a href='https://www.cash.me/MMINAIL' title='Click to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up - Cash Me' target='_blank'>Cash Me</a> 
  <span>account located at</span> 
  <a href='https://www.cash.me/MMINAIL' title='Click to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up - Cash Me' target='_blank'>Square Up</a>.</span>
</p>
  <hr class="green-groove" />