<hgroup class='text-left'>
	<h4>The Working Repo</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>At this website, we have the Html Working Repo for the Benefit Corp aka our <b>Concepts Library</b>{% include case-icon-svg.htm icon="MMINAIL" %}</span>
</p>

<p>
	<span>Each topic of interest here may have separate repos developed in GitHub Flavored Markdown, or <abbr class='oblique-text' title='GitHub Flavored Markdown'>GFM</abbr> that will house short tutorials and lessons.</span>
</p>

<p>
	<span>A list of hyperlinks to those markdown pages will be set at each respective "Learn Now" offering page.</span>
</p>

<p>
	<span>Each 'Learn Now' page can be accessed from its Topic menu in the navigation <code>&lt;aside&gt;</code> section of this website ➡️ </span>
</p>
	<hr class='green-groove' />