<hgroup class='text-left'>
	<h3>The Working Repo</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>At this website, we have the Html <b>Working Repo</b> for the <b>Benefit Corp</b> aka our <b>Concepts Library</b>{% include case-icon-svg.htm icon="MMINAIL" %}</span>
</p>

<p>
	<span>Each topic of interest here may have separate repos developed in GitHub Flavored Markdown, or <abbr class='oblique-text' title='GitHub Flavored Markdown'>GFM</abbr> that will house short tutorials and lessons.</span>
</p>

<p>
	<span>A list of hyperlinks to those markdown pages will be set here, at each "Learn Now" offering.</span>
</p>
	<hr class='green-groove' />