<div class="roundcorners">
  <blockquote style="font-weight: 600; font-style:oblique; color:#004B23;">--"Rally Round da <span style="color:#BF0A21;">red</span>, <span style="color:#000000;">black</span>, <span style="color:#C8700B;">gold</span> n <span style="color:#0E9543;">green</span>!"&nbsp;<a href="http://tinyurl.com/RaggaeRootsRadio" onclick="javaScript:this.target='_blank';">&#9835;</a>&nbsp;<span>#<a href="http://topsy.com/s/freemarc/tweet?window=a" onclick="javaScript:this.target='_blank';">FreeMarc</a></span></blockquote>
</div>