---
layout: default
title: Hybrid Table
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

{% include welcome-title-zoom-mminail.htm %}

<!-- <table class="table" style="width:100%"> -->
    <table class="table">
      <colgroup>
        <col width="16.66%" />
        <col width="16.66%" />
        <col width="16.66%" />
        <col width="16.66%" />
        <col width="16.66%" />
        <col width="16.66%" />
      </colgroup>
    
      <thead>
        <tr>
          <th>First Seed</th>
          <th>Second Seed</th> 
          <th>Third Seed</th>
          <th>Forth Seed</th>
          <th>Fifth Seed</th>
          <th>Sixth Seed</th>
        </tr>
      </thead>
    
      <tbody>
        <tr>
          <td><span>01. ______</span></td>
          <td><span>02. ______</span></td>
          <td><span>03. ______</span></td>
          <td><span>04. ______</span></td>
          <td><span>05. ______</span></td>
          <td><span>06. ______</span></td>
        </tr>
    
        <tr>
          <th>Seventh Seed</th>
          <th>Eighth Seed</th> 
          <th>Ninth Seed</th>
          <th>Tenth Seed</th>
          <th>Eleventh Seed</th>
          <th>Twelfth Seed</th>
        </tr>
    
        <tr>
          <td><span>07. ______</span></td>
          <td><span>08. ______</span></td>
          <td><span>09. ______</span></td>
          <td><span>10. ______</span></td>
          <td><span>11. ______</span></td>
          <td><span>12. ______</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
