---
layout: default
title: Annual Report 2016 | MMINAIL
---
<div class="container-fluid">
	<div class="row-fluid">

<main>
<article>

<hgroup class="text-left">
	<h3>Annual Report 2016</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Annual Report 2016 page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />

{% include general-minutes.htm %}

<hgroup class="text-left">
	<h4>MMINAIL File #20373157-2016: General Minutes Dtd 12-31-2016</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>Time and Place of Annual Meeting

9:00 pm MST; Tempe, Arizona USA

Given: A quorum of an assembly of one is such a number as is competent to transact business.

A quorum measured and accounted of one exists in Tempe, Arizona USA today with primary Director Robert Weber present.

Robert Weber, now as President of the MMINAIL designates Robert Weber (same) Chairman of the Annual Meeting of the Shareholders of the MMINAIL, this 31st day of December, 2016 at 9:00pm MST.

Robert Weber, as President of the MMINAIL also designates Robert Weber (same) as the Secretary of Recording for this meeting.

Robert Weber, as Treasurer of the MMINAIL enters no change as to the current financial snapshot of the MMINAIL on this date.

The treasurer’s report now accepted as audited by a committee of one states the sole asset of the MMINAIL at the date of this annual meeting to be the Goodwill value of the now owned US trademarked logo badge and service mark.

The market value of the company shares Is now set by the Treasurer.

The shares are estimated to be $1 USD per Class “A” share on the Equity chart of the balance sheet of the MMINAIL entered as $1,000 par-value and $9,000 Goodwill, Trademarks Owned.

No change from last year.

Appointment of Officers and Directors; Setting of Annual Meeting Date

A vote on the measure to allow Robert Weber to remain as primary Director of the MMINAIL is now closed and passes unanimously.

Robert Weber is now appointed Chairman of the Board of Directors of the MMINAIL, as well as President, Treasurer, and Secretary for the current year of operation.
 
Robert Weber, Chairman noting no other topics of discussion on the agenda moves for adjournment of the current session directing the Secretary of Recording to type the general minutes of the meeting and to enter a copy of same into the archives of the MMINAIL.

The next annual meeting of the shareholders of the MMINAIL is set to be held in Tempe, Arizona USA at 9:00 pm on December 31st, 2017.

Note A. The corporation is required to file with the Arizona Corporation Commission at a minimum an annual report required under A.R.S. § 10-1622 ($45 filing fee).

The Annual Report is due at the Arizona Corporate Commission offices no later than September 30, 2018.

Note B. If the corporation is designated as a Benefit Corporation at start up, then an annual benefit report is required pursuant to A.R.S. §§ 10-2441 and 10-2442 ($10 filing fee), as well.

Session so terminated, meeting adjourned, seal affixed.

11:59 pm MST, December 31st, 2016.</span>
</p>
	<hr class="green-groove" />

<footer class="page-footer center-block">
	<br />
	<p>
		<span><b>Source</b>:</span>
    	<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Square Up</a>
	</p>

	<p>
		<span>See: <a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Cash Me</a>
		<span>by</span>
		<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Today</a>
	</p>
		<hr class="green-groove" />
	
	{% include footer.htm %}
</footer>

</article>
</main>

</div>
</div>
