---
layout: default
title: Annual Report 2020
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    {% include general-minutes-explained.htm %}

    <hgroup class='text-left'>
      <h4>MMINAIL General Minutes Dtd 12-31-2020</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span>File #20373157-2020</span>
    </p>

    <p>
      <span>Time and Place of Annual Meeting</span>
    </p>

    <p>
      <span>9:00 pm MST; St Louis, Missouri USA</span>
    </p>

    <p>
      <span><b>Given</b>:</span>
      <span>A quorum of an assembly of one is such a number as is competent to transact business.</span>
    </p>

    <p>
      <span>A quorum measured and accounted of one exists in Tempe, Arizona USA today with primary Director Robert Weber
        present.</span>
    </p>

    <p>
      <span>Robert Weber, now as President of the MMINAIL designates Robert Weber (same) Chairman of the Annual Meeting
        of the Shareholders of the MMINAIL, this 31st day of December, 2020 at 9:00pm MST.</span>
    </p>

    <p>
      <span>Robert Weber, as President of the MMINAIL also designates Robert Weber (same) as the Secretary of Recording
        for this meeting.</span>
    </p>

    <p>
      <span>Robert Weber, as Treasurer of the MMINAIL enters a change as to the current financial snapshot of the
        MMINAIL on this date, if any.</span>
    </p>
    <hr class='green-groove' />

    <hgroup class='text-left'>
      <h4>Registered Logo Badge</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span>The registered logo badge of the MMINAIL as transferred by the Director, Robert Weber is due for re-registration with the USPTO by March 3rd, 2020 between years Five (5) and Six (6) of the initial registration period.</span>
    </p>

    <p>
      <span>The cost of re-registration is $225 USD and must be completed prior to the end of year Six (6), between year Five (5) and year Six (6) of the initial registration period starting March 3rd, 2015.</span>
    </p>
    <hr class='green-groove' />

    <hgroup class='text-left'>
      <h4>Conveyance</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span><b>Note</b>. In the event of a transfer of the ownership of the USPTO trademark from Robert Weber, Owner to the Benefit corporate entity of which Mr Weber is the primary and only shareholder, then a formal `Conveyance` will be constructed and entered into the Electronic Trademark Assignment System of the USPTO under the tab named `Entity Conversion`.</span>
    </p>

    <p>
      <span>Changes from last year so noted.</span>
    </p>
    <hr class='green-groove' />

    <hgroup class='text-left'>
      <h4>Appointment of Officers and Directors</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span>A vote on the measure to allow Robert Weber to remain as primary Director of the MMINAIL is now closed
        and passes unanimously.</span>
    </p>

    <p>
      <span>Robert Weber is now appointed Chairman of the Board of Directors of the MMINAIL, as well as President,
        Treasurer, and Secretary for the current year of operation.</span>
    </p>
    <hr class='green-groove' />

    <hgroup class='text-left'>
      <h4>Setting of Annual Meeting Date</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span>The next annual meeting of the shareholders of the MMINAIL is set to be held in St Louis, Missouri USA at
        9:00 pm on December 31st, 2021.</span>
    </p>
    <hr class='green-groove' />

    <hgroup class='text-left'>
      <h4>Closing Remarks</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span><b>Note A</b>.</span>
      <span>The corporation is required to file with the Arizona Corporation Commission at a minimum an annual
        report required under A.R.S. § 10-1622 ($45 filing fee).</span>
    </p>

    <p>
      <span>The Annual Report for fiscal 2021 is due at the Arizona Corporate Commission offices no later than
        September 30, 2021.</span>
    </p>

    <p>
      <span><b>Note B</b>.</span>
      <span>If a corporation is designated as a Benefit Corporation at start up, then an annual benefit report is
        required pursuant to A.R.S. §§ 10-2441 and 10-2442 ($10 filing fee).</span>
    </p>

    <p>
      <span>Robert Weber, Chairman noting no other topics of discussion on the agenda moves for adjournment of the
        current session directing the <em>Secretary of Recording</em> to type the general minutes of the meeting and
        to enter a copy of same into the archives of the MMINAIL.</span>
    </p>

    <p>
      <span>Session so terminated, meeting adjourned, seal affixed.</span>
    </p>

    <p>
      <span>11:59 pm MST, December 31st, 2020.</span>
    </p>
    <hr class="green-groove" />

    {% include sources-and-uses.htm %}

    {% include alt-footer-cash-me.htm %}

  </div>
</div>
