---
layout: default
title: Annual Report 2019
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    {% include general-minutes-explained.htm %}

    <hgroup class='text-left'>
      <h4>MMINAIL General Minutes Dtd 12-31-2019</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span>File #20373157-2019</span>
    </p>

    <p>
      <span>Time and Place of Annual Meeting</span>
    </p>

    <p>
      <span>9:00 pm MST; Tempe, Arizona USA</span>
    </p>

    <p>
      <span><b>Given</b>:</span>
      <span>A quorum of an assembly of one is such a number as is competent to transact business.</span>
    </p>

    <p>
      <span>A quorum measured and accounted of one exists in Tempe, Arizona USA today with primary Director Robert Weber
        present.</span>
    </p>

    <p>
      <span>Robert Weber, now as President of the MMINAIL designates Robert Weber (same) Chairman of the Annual Meeting
        of the Shareholders of the MMINAIL, this 31st day of December, 2019 at 9:00pm MST.</span>
    </p>

    <p>
      <span>Robert Weber, as President of the MMINAIL also designates Robert Weber (same) as the Secretary of Recording
        for this meeting.</span>
    </p>

    <p>
      <span>Robert Weber, as Treasurer of the MMINAIL enters a change as to the current financial snapshot of the
        MMINAIL on this date, if any.</span>
    </p>
    <hr class='green-groove' />

    <hgroup class='text-left'>
      <h4>Trichometry</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span>The Benefit corporation has registered the name of Trichometry Labs as a Trade Name at the <a href='https://azsos.gov/business/trade-names-trademarks'
          title='Click To Visit the website for the Arizona Secretary of State' target='_blank'>Arizona Secretary of
          State</a> in the past.</span>
      <p>

        <p>
          <span>In addition, other Social Media accounts developed by the Benefit corporation hold the name of
            'Trichometry' within their respective titles, as well.</span>
        </p>

        <p>
          <span>For example, the Twitter account of <span>@
              <a href='https://www/twitter.com/hempaz'
                title='Click To Visit the Twitter Timeline of Robert Hempaz, PhD Trichometry™' target='_blank'>Robert
                Hempaz, PhD Trichometry</a>™</span> has been well established for several years under the handle of
            'hempaz' with the literal meaning of "In Peace" in Portugeuese and "Hemp Arizona" in English.</span>
        </p>

        <p>
          <span>Further, a <a href='https://www.facebook.com/Trichometry'
              title='Click To Visit the Facebook Page for Trichometry Labs' target='_blank'>Facebook page</a> with the
            name of 'Trichometry' in its title has been published by the Benefit corporation for the entity Trichometry
            Labs, as well.</span>
        </p>

        <p>
          <span>Per our <b>Articles of Incorporation</b>, "The future plans of the corporation include a general public
            benefit for managing and operating a network of production facilities designed to extract limonene and other
            terpenoids from herbaceous plant materials."</span>
        </p>

        <p>
          <span>Recently, in May of #2019, <a href='https://twitter.com/DnBUS'
              title='Click To Review the Twitter Timeline for Dun and Bradstreet' target='_blank'>Dun and Bradstreet</a>
            has made our Director aware of another entity in California that has registered as a Corporation under the
            name of Trichometry, Inc. as of September of #2018.</span>
        </p>

        <p>
          <span>The date of incorporation of the subject entity in California comes much later than the establishment of
            our Trichometry Labs entity in Arizona.</span>
        </p>

        <p>
          <span>No conflicts of interest have arrived between the two entities as of the ongoing date of this Annual
            Report.</span>
        </p>
        <hr class='green-groove' />

        <hgroup class='text-left'>
          <h4>New Issue #2</h4>
        </hgroup>
        <hr class='green-groove' />

        <p>
          <span>More to come ...</span>
        </p>

        <p>
          <span>Changes from last year so noted.</span>
        </p>
        <hr class='green-groove' />

        <hgroup class='text-left'>
          <h4>Appointment of Officers and Directors</h4>
        </hgroup>
        <hr class='green-groove' />

        <p>
          <span>A vote on the measure to allow Robert Weber to remain as primary Director of the MMINAIL is now closed
            and passes unanimously.</span>
        </p>

        <p>
          <span>Robert Weber is now appointed Chairman of the Board of Directors of the MMINAIL, as well as President,
            Treasurer, and Secretary for the current year of operation.</span>
        </p>
        <hr class='green-groove' />

        <hgroup class='text-left'>
          <h4>Setting of Annual Meeting Date</h4>
        </hgroup>
        <hr class='green-groove' />

        <p>
          <span>The next annual meeting of the shareholders of the MMINAIL is set to be held in Tempe, Arizona USA at
            9:00 pm on December 31st, 2019.</span>
        </p>
        <hr class='green-groove' />

        <hgroup class='text-left'>
          <h4>Closing Remarks</h4>
        </hgroup>
        <hr class='green-groove' />

        <p>
          <span><b>Note A</b>.</span>
          <span>The corporation is required to file with the Arizona Corporation Commission at a minimum an annual
            report required under A.R.S. § 10-1622 ($45 filing fee).</span>
        </p>

        <p>
          <span>The Annual Report for fiscal 2019 is due at the Arizona Corporate Commission offices no later than
            September 30, 2019.</span>
        </p>

        <p>
          <span><b>Note B</b>.</span>
          <span>If a corporation is designated as a Benefit Corporation at start up, then an annual benefit report is
            required pursuant to A.R.S. §§ 10-2441 and 10-2442 ($10 filing fee).</span>
        </p>

        <p>
          <span>Robert Weber, Chairman noting no other topics of discussion on the agenda moves for adjournment of the
            current session directing the <em>Secretary of Recording</em> to type the general minutes of the meeting and
            to enter a copy of same into the archives of the MMINAIL.</span>
        </p>

        <p>
          <span>Session so terminated, meeting adjourned, seal affixed.</span>
        </p>

        <p>
          <span>11:59 pm MST, December 31st, 2019.</span>
        </p>
        <hr class="green-groove" />

        {% include sources-and-uses.htm %}

        {% include alt-footer-cash-me.htm %}

  </div>
</div>
