---
layout: default
title: Annual Report 2018
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

	{% include welcome-title-zoom-mminail.htm %}

	{% include general-minutes-explained.htm %}
    
  <hgroup class='text-left'>
    <h4>MMINAIL General Minutes Dtd 12-31-2018</h4>
  </hgroup>
		<hr class='green-groove' />
		
		<p>
			<span>File #20373157-2018</span>
		</p>

		<p>
			<span>Time and Place of Annual Meeting</span>
		</p>

		<p>
			<span>9:00 pm MST; Tempe, Arizona USA</span>
		</p>

		<p>
      <span><b>Given</b>:</span>
			<span>A quorum of an assembly of one is such a number as is competent to transact business.</span>
		</p>

		<p>
			<span>A quorum measured and accounted of one exists in Tempe, Arizona USA today with primary Director Robert Weber present.</span>
		</p>

		<p>
			<span>Robert Weber, now as President of the MMINAIL designates Robert Weber (same) Chairman of the Annual Meeting of the Shareholders of the MMINAIL, this 31st day of December, 2018 at 9:00pm MST.</span>
		</p>

		<p>
			<span>Robert Weber, as President of the MMINAIL also designates Robert Weber (same) as the Secretary of Recording for this meeting.</span>
		</p>

		<p>
			<span>Robert Weber, as Treasurer of the MMINAIL enters a change as to the current financial snapshot of the MMINAIL on this date.</span>
		</p>
			<hr class='green-groove' />

	<hgroup class='text-left'>
		<h4>Growth Fountain</h4>
	</hgroup>
		<hr class='green-groove' />

		<p>
			<span>The Benefit corporation has registered at <a href='https://growthfountain.com/mminail' title='Click To Review the current equity level of the Benefit corporation as estimated by Growth Fountain' target='_blank'>Growth Fountain</a>.</span>
		<p>

		<p>
			<span>Growth Fountain's evaluation of the pre-ICO capital base of the Benefit corporation is $6 mill USD.</span>
		</p>
			
		<p>
			<span>The Benefit corporation is requesting funds ...</span>
		</p>
		
		<p>
			<span>"For general working capital purposes and to fund our continued effort to bring forth the Medcoin™ cryptocurrency and totipotent laboratory in Tempe."</span>
		</p>

		<p>
			<span>Per our <b>Articles of Incorporation</b>, "The future plans of the corporation include a general public benefit for managing and operating a network of production facilities designed to extract limonene and other terpenoids from herbaceous plant materials."</span>
		</p>

		<p>
			<span>The advances gleaned from our planned totipotent laboratory will advance the science of the Endocannabinoid System Network, or <abbr class='oblique-text' title='Endocannabinoid System Network'>ECSN</abbr>.</span>
		</p>

		<p>
			<span>While, the advances in blockchain payments at our Medcoin™ Crypto Currency Division will fuel our market acceptance.</span>
		</p>
			<hr class='green-groove' />

	<hgroup class='text-left'>
		<h4>Medcoin™</h4>
	</hgroup>
		<hr class='green-groove' />

		<p>
			<span>The Benefit corporation wholly owns the Medcoin™ Crypto Currency Division.</span>
		</p>

		<p>
			<span>This relationship predates the global Worldmark secured by Medtronics of Minnesota in July of #2017 by a total of forty-four (44) months (December of #2013).</span>
		</p>

		<p>
			<span>Our Medcoin™ division is scheduled to bring forth a corresponding cryptocurrency by July 4th of #2020.</span>
		</p> 
		
		<p>
			<span>The treasurer’s report now accepted as audited by a committee of one states the sole asset of the MMINAIL at the date of this annual meeting to be the Goodwill value of the now owned US trademarked Logo Badge and service mark, as well as the pre-ICO value of the Medcoin™ Crypto Currency Division as estimated by Growth Fountain.</span>
		</p>

		<p>
			<span>The market value of the company shares is now set by the Treasurer.</span>
		</p>

		<p>
			<span>The shares are estimated to be $600 USD per Class “A” share on the Equity chart of the balance sheet of the MMINAIL entered as $1,000 par-value and $5,999,000 Goodwill, Trademarks Owned.</span>
		</p>

		<p>
			<span>Changes from last year so noted.</span>
		</p>
			<hr class='green-groove' />

	{% include fb-team-award-short-url.htm %}

	<hgroup class='text-left'>
		<h4>Appointment of Officers and Directors</h4>
	</hgroup>
		<hr class='green-groove' />
	
		<p>
			<span>A vote on the measure to allow Robert Weber to remain as primary Director of the MMINAIL is now closed and passes unanimously.</span>
		</p>

		<p>
			<span>Robert Weber is now appointed Chairman of the Board of Directors of the MMINAIL, as well as President, Treasurer, and Secretary for the current year of operation.</span>
		</p>
      <hr class='green-groove' />

	<hgroup class='text-left'>
		<h4>Setting of Annual Meeting Date</h4>
	</hgroup>
		<hr class='green-groove' />

	  <p>
		  <span>The next annual meeting of the shareholders of the MMINAIL is set to be held in Tempe, Arizona USA at 9:00 pm on December 31st, 2018.</span>
	  </p>
			<hr class='green-groove' />

	<hgroup class='text-left'>
		<h4>Closing Remarks</h4>
	</hgroup>
		<hr class='green-groove' />
				
			<p>
				<span><b>Note A</b>.</span>
				<span>The corporation is required to file with the Arizona Corporation Commission at a minimum an annual report required under A.R.S. § 10-1622 ($45 filing fee).</span>
			</p>
			
			<p>
				<span>The Annual Report for fiscal 2018 is due at the Arizona Corporate Commission offices no later than September 30, 2018.</span>
			</p>
			
			<p>
				<span><b>Note B</b>.</span>
				<span>If a corporation is designated as a Benefit Corporation at start up, then an annual benefit report is required pursuant to A.R.S. §§ 10-2441 and 10-2442 ($10 filing fee).</span>
			</p>
		
			<p>
				<span>Robert Weber, Chairman noting no other topics of discussion on the agenda moves for adjournment of the current session directing the <em>Secretary of Recording</em> to type the general minutes of the meeting and to enter a copy of same into the archives of the MMINAIL.</span>
			</p>

	  	<p>
		  	<span>Session so terminated, meeting adjourned, seal affixed.</span>
	  	</p>

	  	<p>
		  	<span>11:59 pm MST, December 31st, 2018.</span>
	  	</p>
		  	<hr class="green-groove" />

		{% include sources-and-uses.htm %}

		{% include alt-footer-cash-me.htm %}

	</div>
</div>
