---
layout: default
title: Annual Report 2022
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    {% include general-minutes-explained.htm %}

    <hgroup class='text-left'>
      <h4>MMINAIL General Minutes Dtd 12-31-2022</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span>File #20373157-2022</span>
    </p>

    <p>
      <span>Time and Place of Annual Meeting</span>
    </p>

    <p>
      <span>9:00 pm CST; St Louis, Missouri USA</span>
    </p>

    <p>
      <span><b>Given</b>:</span>
      <span>A quorum of an assembly of one is such a number as is competent to transact business.</span>
    </p>

    <p>
      <span>A quorum measured and accounted of one exists in St Louis, Missouri USA today with primary Director Robert Weber
        present.</span>
    </p>

    <p>
      <span>Robert Weber, now as President of the MMINAIL designates Robert Weber (same) Chairman of the Annual Meeting
        of the Shareholders of the MMINAIL, this 31st day of December, 2022 at 9:00pm MST.</span>
    </p>

    <p>
      <span>Robert Weber, as President of the MMINAIL also designates Robert Weber (same) as the Secretary of Recording
        for this meeting.</span>
    </p>

    <p>
      <span>Robert Weber, as Treasurer of the MMINAIL enters a change as to the current financial snapshot of the MMINAIL on this date, if any.</span>
      <span>Please note our cash contribution account at <a href="https://cash.app/$MMINAIL" title="Click To Contribute Cash to our Concept Library" target="_blank">Cash app</a> is now live and fully functional.</span>
      <span>However, because we have not completed our non-profit designation and are registered as a taxable Benefit Corp. all contributions are still booked as gross revenue and as such contribute to the net income of the MMINAIL, if any.</span>
    </p>
    <hr class='green-groove' />

    <hgroup class='text-left'>
      <h4>Registered Logo Badge</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span>The due date of March 3rd, 2021 between year Five (5) and year Six (6) of the initial registration period of our USPTO Registered Logo Badge has been satisfied.</span>
      <span>Successful tender of the $225 fee to the USPTO for a Five-year extension for our Class 35 Marketing trademark registration has been completed along with the filing of a proper `Stage 8` accompanying form.</span>
      <span>The cost of re-registration was $225 USD and was completed prior to the end of year Six (6), between year Five (5) and year Six (6) of the initial registration period starting March 3rd, 2015.</span>
    </p>

    <p>
      <span><b>Note</b>. </span>
      <span>The ownership of the registered logo badge for the MMINAIL and its subsidiaries as transferred by the Director, Robert Weber to the Benefit Corporation has not yet been officially changed at the USPTO.</span>
    </p>
    <hr class='green-groove' />

    <hgroup class='text-left'>
      <h4>Ghettoball® Subsidiary</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span>The registration of our Class 41 Podcast tradename of GHETTOBALL with the USPTO has been successfully completed as well, albeit at an additional $100 fee more than expected.</span>
      <span>After engaging the CAPS LOCK, the "Option-R" key may now be used to signify via our Internet facing websites and our clothing items that we have indeed successfully registered the tradename GHETTOBALL for our Ghettoball Company subsidiary.</span>
     </p>
     
     <p>
      <span><b>Note</b>. </span>
      <span>Our audio podcasts are published through the Anchor-Spotify partnership and can be listened to via the Spotify app under our tradename of Ghettoball®.</span>
    </p>
    <hr class='green-groove' />

    <hgroup class='text-left'>
      <h4>Medcoin Company Subsidiary</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span>Nothing has progressed further in the issuance project of our projected Medcoin (MDC) offering.</span>
      <span>We continue to market our concepts as the state registered original owners of our Medcoin (MDC) proposed hybrid crypto currency.</span>
      <span>Nothing that we can glean suggests Medtronics has abandoned the development of their project and the usage of their World Mark that was obtained AFTER the state registration of our Medcoin subsidiary.</span>
      <span>Though given current market conditions those aspirations may also be on hold.</span>
      <span>We have since removed the Twitter moment pointing to our establishment from our subsidiary account timeline that clearly shows our pre-date position given the form housed a valid signature, as well.</span>
      <span>This act does not negate the fact that we established our Medcoin subsidiary and were actively marketing our subsidiary, and continue to market our Medcoin subsidiary prior to the capture of a World Mark for same by Medtronics.</span>
     </p>
     <hr class='green-groove' />

    <p>
      <span>Changes from last year so noted.</span>
    </p>
    <hr class='green-groove' />

    <hgroup class='text-left'>
      <h4>Appointment of Officers and Directors</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span>A vote on the measure to allow Robert Weber to remain as primary Director of the MMINAIL is now closed and has passed unanimously.</span>
    </p>

    <p>
      <span>Robert Weber is now the appointed Chairman of the Board of Directors of the MMINAIL, as well as President, Treasurer, and Secretary for the current year of operation.</span>
    </p>
    <hr class='green-groove' />

    <p>
      <span><b>Note</b>. </span>
      <span>Robert Weber is the primary solo shareholder of all registered and outstanding Class A common shares of the MMINAIL.</span>
      <span>There are no other shareholders at this time nor are there any other classes of common shares issued or outstanding other than the initial Class A common shares registered at the inception of our Benefit Corporation.</span>
    </p>
    <hr class='green-groove' />

    <hgroup class='text-left'>
      <h4>Setting of Annual Meeting Date</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span>The next annual meeting of the shareholders of the MMINAIL is set to be held in St Louis, Missouri USA at 9:00 pm on December 31st, 2023.</span>
    </p>
    <hr class='green-groove' />

    <hgroup class='text-left'>
      <h4>Closing Remarks</h4>
    </hgroup>
    <hr class='green-groove' />

    <p>
      <span><b>Note A</b>.</span>
      <span>The corporation is required to file with the Arizona Corporation Commission at a minimum an annual report required under A.R.S. § 10-1622 ($45 filing fee).</span>
    </p>

    <p>
      <span>The Annual Report for fiscal 2022 was due at the Arizona Corporate Commission offices no later than September 30, 2022.</span>
      <span>The Treasurer of the MMINAIL reports we complied with this requirement in a timely fashion.</span>
    </p>

    <p>
      <span><b>Note B</b>.</span>
      <span>If a corporation is designated as a Benefit Corporation at start up, then an annual benefit report is required pursuant to A.R.S. §§ 10-2441 and 10-2442 ($10 filing fee).</span>
    </p>

    <p>
      <span>Robert Weber, Chairman noting no other topics of discussion on the agenda to discuss moves for adjournment of the current session.</span>
      <span>The Chairman, therefore, directs the <em>Secretary of Recording</em> to type the general minutes of the meeting and to enter a copy of same into the archives of the MMINAIL at GitHub.</span>
    </p>

    <p>
      <span>Session so terminated, meeting adjourned, seal affixed.</span>
    </p>

    <p>
      <span>11:59 pm MST, December 31st, 2022.</span>
    </p>
    <hr class="green-groove" />

    {% include sources-and-uses.htm %}

    {% include alt-footer-cash-me.htm %}

  </div>
</div>
