---
layout: default
title: Governance Source Links
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<hgroup class="text-left">
	<h3>Governance Source Links {% include case-icon-svg.htm icon="MMINAIL" %}</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Source Links page for the Governance Lessons Project.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Navigate It</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The Governance Lessons Project is a division of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Source-Links' selection just north of the Concept Library <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at the of 'Source-Links' page of the Governance Lessons Project.</span>
</p>
	<hr class="green-groove" />
		
{% include working-repo.htm %}

<hgroup class='text-left'>
	<h4>Concepts Library</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>For example, here is a set of external source links to the various sources used in the 'Governance Lessons Project'.</span>
</p>

<p>
	<span>The source links are segregated first by 'Governance Lessons Project' topic, secondly by 'title', and then thirdly by 'author'.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Governance Lessons Project - External Source Links</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span><b>Note</b>.</span>
	<span>The first link is a ping-back to this page.</span>
</p>

<ol type="1">
	<li><a href="https://mminail.github.io/Governance/Source-Governance-Links.htm" title="Click to Visit the Source Links Page for the Governance Lessons Project at our GitHub Pages Concept Library" target="_blank">Source Links</a>: A page of external links to 3rd party sources for the Governance Lessons Project</li>

</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Learn Governance</h4>
</hgroup>
	<hr class='green-groove' />

<p>
  <span>The next link takes the end-user to the 'Learn Governance Now' page at the Concept Library.</span>
</p>

<ol type="1">
	<li><a href="https://mminail.github.io/Governance/Learn-Governance-Now.htm" title="Click to Visit the Learn Governance Now page for the Governance Lessons Project at our GitHub Pages Concept Library" target="_blank">Learn Governance Now</a>: A list of Governance Lessons Written In Markdown For The Governance Lessons Project</li>

</ol>
  <hr class='green-groove' />

<p>
  <span><b>Note</b>.</span>
  <span>The 'Learn Governance Now' page is located at the Concept Library under the Navigator 'Governance' title.</span>
</p>

<p>
  <span>The 'Learn Governance Now' page lists the various lessons that have been written in Markdown and uploaded to the 'Governance Lessons Project' repo at GitHub pages.</span> 
</p>

<hgroup class='text-left'>
  <h4>External Source Links</h4>
</hgroup>
  <hr class='green-groove' />
		
<p>
	<span>The following <b>External Source Links</b> are segregated first by 'Governance' topic, secondly by 'title', and then thirdly by 'author'.</span>
</p>
  <hr class='green-groove' />

<hgroup class='text-left'>
  <h4>Parliamentary Procedure</h4>
</hgroup>
  <hr class='green-groove' />

<ol type="1">
  <li><a href="https://medmj.us/HowToParliament" title="Click to Visit the The Complete Idiot's Guide to Parliamentary Procedure: Fast Track by Jim Slaughter" target="_blank">Guide to Parliamentary Procedure</a>: A Guide to Parliamentary Procedure by Jim Slaughter</li>
  
</ol>
  <hr class='green-groove' />
  
<hgroup class='text-left'>
	<h4>USA Constitution</h3>
</hgroup>
	<hr class='green-groove' />
		
<ol type="1">
	<li><a href="https://medmj.us/LearnConstitution" title="Click to Visit the USA Constitution in #2017 at Online dot Hillsdale dot edu" target="_blank">The USA Constitution in #2017</a>: Prof. Larry P. Arnn, President, Hillsdale College Online</li>
	<li><a href="https://online.hillsdale.edu/" title="Click to Visit the Online Course Catalog of Hillsdale College - Michigan" target="_blank">Online.hillsdale.edu</a>: Online Course Catalog of Hillsdale College - Michigan</li>
  
</ol>
  <hr class='green-groove' />

<hgroup class='text-left'>
  <h4>Case Law</h4>
</hgroup>
  <hr class='green-groove' />
  
<ol type="1">
  <li><a href="https://medmj.us/ReasonableAccommodation" title="Click to Visit the case of Barbuto v Advantage Sales, 2017" target="_blank">Barbuto v Advantage Sales</a>: Massachusetts Supreme Court, Dtd 071717</li>
    
</ol>
  <hr class='green-groove' />

{% include sources-and-uses.htm %}

</div>
</div>
