---
title: Hybrid Table
layout: default
version: Markdown Lesson Template htm Dtd 02-05-18
categories: tables
topic: Markdown
---
<!-- {{ page.version }} -->
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

{% include welcome-title-zoom-mminail.htm %}

<hgroup class="text-left">
	<h4>Hybrid Table Construction</h4>
</hgroup>
	<hr class="green-groove" />

<table class="table">
	<colgroup>
  	<col width="33.33%" />
    <col width="33.33%" />
    <col width="33.33%" />
	</colgroup>

	<thead>
  	<tr class="header">
    	<th>English - Fruits</th>
      <th>Photo</th>
      <th>Spanish - Frutas</th>
    </tr>
  </thead>

  <tbody>
  	{% for bag in site.data.bags.fruits %}
    <tr class="center">
			<td markdown="span">{{ bag.fruitNameEn }}</td>
			<td markdown="span">
				<picture>
					<a href='https://mminail.github.io' title='Click To Review the Home page of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation' target='_blank'>
					<img class="center" src="{{ bag.photo }}" alt="The USPTO Registered Logo Badge of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation" /></a>
				</picture>
			</td>
			<td markdown="span">{{ bag.fruitNameEs }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
	<hr class="green-groove" />

<p>
	<span>More to come ...</span>
</p>
	<hr class="green-groove" />

{% include jquery-library.htm %}

{% include sources-and-uses.htm %}

{% include alt-footer-cash-me.htm %}

  </div>
</div>

<script src='../jq/min/core/331/js/jquery-v331.min.js'></script>
<script src='../js/scripts/corresponding-javascript-file.js'></script>
