---
layout: default
title: Learn Markdown
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<main>
<article>

<hgroup class="text-left">
	<h3>Learn Markdown</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Learn Markdown page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h3>Navigate It</h3>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Learn-Topic' selection just north of the <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at one of those 'Learn-Topic' pages ...</span>
</p>
	
<p>
	<pan>Specifically, the 'Learn Markdown Now' page.</span>
</p>
    <hr class="green-groove" />

{% include working-repo.htm %}

<hgroup class='text-left'>
	<h3>Concepts Library</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>For example, here is a set of external links to the current 'Markdown Lessons Project' markdown pages segregated first by 'Markdown Lesson Template - Home Page', and then secondly by 'Markdown Lesson Topics'.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Markdown Lesson Project Template - Home Page</h3>
</hgroup>
	<hr class='green-groove' />

<ul type="">
	<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/" title="Click to Visit the Markdown Lesson Project Template - Home Page at GitHub" target="_blank">Lesson Template</a>: The Markdown Lessons Project is a Git Hub repo of coding lessons that emphasize both the GFM and Kramdown engines ...</li>

</ul>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Markdown Lesson Topics</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following set of topics segregate the lessons for easy find by the end user.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Tables Construction</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to Markdown Lessons of Table Construction ...</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Citrus-Table.html" title="Click to Visit the Citrus Table Lesson at GitHub" target="_blank">Citrus Table</a>: How To Create A Table In Pure Markdown</li>
	<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Spanish-Tables.html" title="Click to Visit the Spanish Tables Page at GitHub" target="_blank">Spanish Tables</a>: How To Force a New Target Blank When Clicking A GFM Hyperlink</li>
	<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Markdown-Table.html" title="Click to Visit the Markdown Table Lesson at GitHub" target="_blank">Markdown Table</a>: How To Create A Table In Markdown</li>
</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Emoji Placement</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to Markdown Lessons of Emoji Placement ...</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Markdown-Emoji.html" title="Click to Visit the Markdown Emoji Lesson at GitHub" target="_blank">Markdown Emoji</a>: It's a funny part of programming in GFM, but nevertheless still currently quite important</li>
</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Link Rendering</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to Markdown Lessons of Link Rendering ...</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Reference-Hyperlinks.html" title="Click to Visit the Reference Hyperlinks Lesson Page at GitHub" target="_blank">Reference Hyperlinks</a>: Place the introducing line of text ie.) the 'tagline' here ...</li>
	
</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Misc Tips</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to Markdown Lessons of Misc Tips ...</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Markdown-Tips.html" title="Click to Visit the Markdown Tips Page at GitHub" target="_blank">Markdown Tips</a>: A bunch of Markdown - Kramdown - Liquid Short Lessons ...</li>
	
	<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Target-Blank.html" title="Click to Visit the Target Blank Page at GitHub" target="_blank">Target Blank</a>: How To Force a New Target Blank When Clicking A Markdown Hyperlink</li>
	
	<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Inline-Images.html" title="Click to Visit the Inline Images Page at GitHub" target="_blank">Inline Images</a>: Inline images may be displayed in Markdown using the exclamation point `!` followed by a bracketed `[Alt Text]` followed by a relative `URL` enclosed in a single set of parenthesis `(...)`.</li>
	
	<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Terminal-Markdown.html" title="Click to Visit the Terminal Markdown Page at GitHub" target="_blank">Terminal Markdown</a>: Markdown is a set of common rules on how to easily write readable and formatted digitally text quickly ...</li>

</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Project Sources</h4>
</hgroup>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Source-Links.html" title="Click to Visit the Source Links for the Markdown Lessons Project at GitHub" target="_blank">Source Links</a>: Please support the authors and publishers who aggregate the Source Links for the Ng Lessons Project ...</li>
</ol>
	<hr class='green-groove' />

{% include forkit.htm %}

<footer id="page-footer" class="center-block">
	<br />
	<p>
		<span><b>Source</b>:</span>
    	<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Square Up</a>
	</p>

	<p>
		<span>See: <a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Cash Me</a>
		<span>by</span>
		<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Today</a>
	</p>
		<hr class="green-groove" />
	
	.
</footer>

</article>
</main>

</div>
</div>