---
layout: default
title: Shell Lesson
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<hgroup class="text-left">
	<h3>Shell Lesson</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Shell Lesson page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>Featured Shell Topic</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>More to come ...</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>New Shell Topic</h4>
</hgroup>
	<hr class="green-groove" />
		
<p>
	<span>More to come ...</span>
</p>
	<hr class="green-groove" />

  <hgroup class="text-left">
    <h4>Table Construction</h4>
  </hgroup>
    <hr class="green-groove" />
      
    <p>
      <span>The following group of pages refer to Markdown Lessons of Table Construction ...</span>
    </p>
      <hr class='green-groove' />
      
    <ol type="1">
      <li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Citrus-Table.html" title="Click to Visit the Citrus Table Lesson at GitHub" target="_blank">Citrus Table</a>: How To Create A Table In Pure Markdown</li>
      <li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Spanish-Tables.html" title="Click to Visit the Spanish Tables Page at GitHub" target="_blank">Spanish Tables</a>: How To Force a New Target Blank When Clicking A GFM Hyperlink</li>
      <li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Markdown-Table.html" title="Click to Visit the Markdown Table Lesson at GitHub" target="_blank">Markdown Table</a>: How To Create A Table In Markdown</li>
    </ol>
      <hr class='green-groove' />
      
	<hgroup class='text-left'>
			<h4>Misc Tips</h4>
		</hgroup>
			<hr class='green-groove' />
		
		<p>
			<span>The following group of pages refer to Markdown Lessons of Misc Tips ...</span>
		</p>
			<hr class='green-groove' />
		
		<ol type="1">
			<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Markdown-Tips.html" title="Click to Visit the Markdown Tips Page at GitHub" target="_blank">Markdown Tips</a>: A bunch of Markdown - Kramdown - Liquid Short Lessons ...</li>
			
			<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Target-Blank.html" title="Click to Visit the Target Blank Page at GitHub" target="_blank">Target Blank</a>: How To Force a New Target Blank When Clicking A Markdown Hyperlink</li>
			
			<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Inline-Images.html" title="Click to Visit the Inline Images Page at GitHub" target="_blank">Inline Images</a>: Inline images may be displayed in Markdown using the exclamation point `!` followed by a bracketed `[Alt Text]` followed by a relative `URL` enclosed in a single set of parenthesis `(...)`.</li>
			
			<li><a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Terminal-Markdown.html" title="Click to Visit the Terminal Markdown Page at GitHub" target="_blank">Terminal Markdown</a>: Markdown is a set of common rules on how to easily write readable and formatted digitally text quickly ...</li>
		
		</ol>
			<hr class='green-groove' />

<hgroup class="text-left">
	<h4>jQuery Library</h4>
</hgroup>
	<hr class="green-groove" />
	
<p>
	<span><b>Note</b>.</span>
	<span>This page has explicit access to the local jQuery library as well as a local complimentary working (<a href="../js/scripts/corresponding-javascript-file.js" title="Click To Review the complimentary Javascript file for this partitioned Worksheet" target="_blank">.js</a>) file.</span> 
</p>
	<hr class='green-groove' />
	
<p>
	<span>More to come ...</span>
</p>

{% include sources-and-uses.htm %}

<hgroup class='text-left'>
  <h4>External Sources</h4>
</hgroup>
  <hr class='green-groove' />
  
  <ul>
    <li>
      <span>The <a href="https://mminail.github.io/Shell/Source-Shell-Links.htm" title="Click to Visit the Source Links page for the Shell Lessons Project" target="_blank">Source Links</a>: Shell Lessons Project</span>
      <span>Published by © 2017 <a href="https://mminail.github.io/" title="Click to Visit the Concept Library for the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation" target="_blank">Mminail.github.io</a>.</span>
    </li>
  </ul>

{% include alt-footer-cash-me.htm %}

</div>
</div>

<script src='../js/jquery.min.js'></script>
<script src='../js/scripts/corresponding-javascript-file.js'></script>
