---
title: Source Links
layout: default
version: Markdown Source Links Template htm Dtd 02-05-18
categories: hyperlinks
topic: Markdown
---
<!-- {{ page.version }} -->
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

  {% include welcome-title-zoom-mminail.htm %}
  
  <hgroup class="text-left">
    <h4>Very Special Markdown Links</h4>
  </hgroup>
    <hr class="green-groove" />

    <p>
      <span>This is a container for some <em>Very Special</em> Markdown lesson links.</span>
    </p>

    <p>
      <span>Created especially for our viewers at the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
    </p>

    <p>
      <span>Each hyperlink points to an individual <em>Article or Lesson</em> crafted by expert authors.</span>
    </p>

    <p>
      <span>Scroll down to the <b>Link Construction</b> section to review the hyperlinks.</span>
    </p>
      <hr class="green-groove" />
    
      {% include navigate-it.htm %}

      {% include topic-lesson-template.htm %}
    
      {% include external-source-links.htm %}

    <hgroup class="text-left">
      <h4>Link Construction</h4>
    </hgroup>
      <hr class="green-groove" />

    <p>
      <span>The following group of pages refer to the Markdown Lessons Project at GitHub Pages.</span>
    </p>

    <p>
      <span>Click on any of the following hyperlinks to be transported directly to the underlying lesson or article at the Markdown
        Lessons Project.</span>
    </p>
      <hr class='green-groove' />

    <ol type="1">
      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/" 
        title="Click to Visit the Home Page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">Home Page</a>: {{ site.tagline }} ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Base-Links.html" 
        title="Click to Visit the Base Links page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">Base Links</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Block-Quotes.html" 
        title="Click to Visit the For Block Quotes page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">Block Quotes</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/_gists/Citrus-Table.html" 
        title="Click to Visit the Citrus Table page of the Liquid Lessons Project at GitHub Pages"
        target="_blank">Citrus Table</a>: The footer for each page is split into two (2) classes ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/Inline-Images.html" 
        title="Click to Visit the For Inline Images page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">Inline Images</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/_gists/Markdown-Table.html" 
        title="Click to Visit the Markdown Table page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">Markdown Table</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/_gists/Markdown-Tips.html" 
        title="Click to Visit the Markdown Tips page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">Markdown Tips</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/_gists/Reference-Hyperlinks.html" 
        title="Click to Visit the Reference-Hyperlinks page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">Reference Hyperlinks</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/_gists/Spanish-Tables.html" 
        title="Click to Visit the Spanish Tables page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">Spanish Tables</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/_gists/Target-Blank.html" 
        title="Click to Visit the Target Blank page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">Target Blank</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/_gists/Terminal-Markdown.html" 
        title="Click to Visit the Terminal Markdown page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">Terminal Markdown</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/pages/The-Flammarion.html" 
        title="Click to Visit The Flammarion page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">The Flammarion</a>: The Flammarion is an ancient portrait of a medieval man poking his head into the ether ...</li>
      <br />
    </ol>
      <hr class='green-groove' />

    <hgroup class='text-left'>
      <h5>Gists</h5>
    </hgroup>
      <hr class='green-groove' />
        
    <p class="lead">
      <span>
        <b>Gists</b> are pages of <em>Markdown</em> and/or <em>Html</em> that are not yet ready for prime time.</span>
    </p>
        
    <ul>
      <li><span>Something has yet to jell on the page that is precluding its official publishment</span>.</li>
      <br />
      <li><span>Perhaps the <em>gist</em> is simply a new <em>Topic of Interest</em> and the author of this website simply has not yet had the time to fully expound the details</span>.</li>
      <br />
      <li><span>These pages of the gist type are ripe for pulling</span>.</li>
    </ul>
      <hr class='green-groove' />
        
    <ol type='1'>
      
      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/_gists/Emoji-Markdown.html" 
        title="Click to Visit the For Emoji Markdown page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">Emoji Markdown</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/_gists/Gist-Two.html" 
        title="Click to Visit the Gist Two page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">Gist Two</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/_gists/Markdown-Stuff.html" 
        title="Click to Visit the Markdown Stuff page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">Markdown Stuff</a>: Place intro line (lead) of article here ...</li>
      <br />

      <li>
        <a href="https://rwebaz.github.io/Markdown-Lessons-Project/_gists/New-Title.html" 
        title="Click to Visit the New Title page of the Markdown Lessons Project at GitHub Pages" 
        target="_blank">New Title</a>: Place intro line (lead) of article here ...</li>
      <br />
    </ol>
      <hr class='green-groove' />
      
      {% include sources-and-uses.htm %}
      
      {% include alt-footer-cash-me.htm %}

	</div>
</div>
