/* Set the Properties for the Flex Boxes ... */
div#main-body {
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-flow: row;
    flex-direction: row;
    }

/* Give the flex item and inflow-child 'aside-navigator' of the parent body element a position in the 'main-body' flex container */
aside#navigator {
	-webkit-flex: 1 2 50%;
	flex: 1 2 50%; /* Three values: flex-grow | flex-shrink | flex-basis */
	-webkit-order: 1;
	order: 1;
	}

/* Give the flex item and inflow-child 'article-main-article' of the parent body element a position in the 'body' flex container */
article#main-article {
    -webkit-flex: 2 1 100%;
	flex: 2 1 100%; /* Three values: flex-grow | flex-shrink | flex-basis */
	-webkit-order: 2;
	order: 2;
    }

/* Give the flex item and inflow-child 'aside-supporting-content' of the parent body element a position in the 'body' flex container */
aside#supporting-content {
    -webkit-flex: 1 2 50%; 
	flex: 1 2 50%; /* Three values: flex-grow | flex-shrink | flex-basis */
	-webkit-order: 3;
	order: 3;
    }

/* Give the flex item and inflow-child 'footer-page-footer' of the parent body element a position in the 'body' flex container */
footer.page-footer {
	-webkit-flex: 2 1 100%;
	flex: 2 1 100%; /* Three values: flex-grow | flex-shrink | flex-basis */
	-webkit-order: 8;
	order: 8;
    }

/* Give the flex item and inflow-child 'site-page-footer' of the parent body element a position in the 'body' flex container */
footer.site-footer {
	-webkit-flex: 2 1 100%;
	flex: 2 1 100%; /* Three values: flex-grow | flex-shrink | flex-basis */
	-webkit-order: 9;
	order: 9;
    }

/* MEDIA QUERY SECTION */

@media screen and (min-width: 801px), (max-width: 1200px) {

div#main-body {
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-flow: row;
    flex-direction: row;
    }

/* Give the flex item and inflow-child 'aside-navigator' of the parent body element a position in the 'main-body' flex container */
aside#navigator {
	-webkit-flex: 1 2 50%;
	flex: 1 2 50%; /* Three values: flex-grow | flex-shrink | flex-basis */
	-webkit-order: 1;
	order: 1;
	}

/* Give the flex item and inflow-child 'article-main-article' of the parent body element a position in the 'body' flex container */
article#main-article {
    -webkit-flex: 2 1 100%;
	flex: 2 1 100%; /* Three values: flex-grow | flex-shrink | flex-basis */
	-webkit-order: 2;
	order: 2;
    }

/* Give the flex item and inflow-child 'aside-supporting-content' of the parent body element a position in the 'body' flex container */
aside#supporting-content {
    -webkit-flex: 1 2 50%; 
	flex: 1 2 50%; /* Three values: flex-grow | flex-shrink | flex-basis */
	-webkit-order: 3;
	order: 3;
    }

/* Give the flex item and inflow-child 'footer-page-footer' of the parent body element a position in the 'body' flex container */
footer.page-footer {
	-webkit-flex: 2 1 100%;
	flex: 2 1 100%; /* Three values: flex-grow | flex-shrink | flex-basis */
	-webkit-order: 8;
	order: 8;
    }

/* Give the flex item and inflow-child 'site-page-footer' of the parent body element a position in the 'body' flex container */
footer.site-footer {
	-webkit-flex: 2 1 100%;
	flex: 2 1 100%; /* Three values: flex-grow | flex-shrink | flex-basis */
	-webkit-order: 9;
	order: 9;
    }
}

@media screen and (min-width: 641px), (max-width: 800px) {

div#main-body {
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-flow: row;
    flex-direction: row;
	}
	
	* Give the flex item and inflow-child 'aside-navigator' of the parent body element a position in the 'main-body' flex container */
	aside#navigator {
		-webkit-flex: 1 2 50%;
		flex: 1 2 50%; /* Three values: flex-grow | flex-shrink | flex-basis */
		-webkit-order: 1;
		order: 1;
		}
	
	/* Give the flex item and inflow-child 'article-main-article' of the parent body element a position in the 'body' flex container */
	article#main-article {
		-webkit-flex: 2 1 100%;
		flex: 2 1 100%; /* Three values: flex-grow | flex-shrink | flex-basis */
		-webkit-order: 2;
		order: 2;
		}
	
	/* Give the flex item and inflow-child 'aside-supporting-content' of the parent body element a position in the 'body' flex container */
	aside#supporting-content {
		-webkit-flex: 1 2 50%; 
		flex: 1 2 50%; /* Three values: flex-grow | flex-shrink | flex-basis */
		-webkit-order: 3;
		order: 3;
		}

.page-footer {
        font-size: large;
    }

.site-footer {
        font-size: large;
    }
}

@media screen and (min-width: 341px), (max-width: 640px) {

div#main-body {
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-flow: row;
    flex-direction: row;
    }

div#main-body > aside, article, footer {
	/* Return to document order */
	-webkit-order: 0;
	order: 0;
	}

.page-footer {
    font-size: medium;
    }

.site-footer {
    font-size: medium;
    }
}

@media screen and (max-width: 360px) {

div#main-body {
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-flow: row;
    flex-direction: row;
    }

.page-footer {
        font-size: small;
        position: absolute;
        -webkit-flex: 2 1 100%;
        flex: 2 1 100%;
        -webkit-order: 8;
        order: 8;
    }

.site-footer {
        font-size: small;
        position: absolute;
        -webkit-flex: 2 1 100%;
        flex: 2 1 100%;
        -webkit-order: 9;
        order: 9;
    }
}

/* SMALLEST MEDIA QUERY END */
