---
layout: default
title: Blockchain Wallet
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

{% include welcome-title-zoom-mminail.htm %}

  <p>
    <span>If you need to recover your <b>Blockchain Wallet</b> for any reason ...</span>
    <span>Then please <em>Copy n Paste</em> or type the following URL into your Web-browser:</span>
    <span><a href='https://www.blockchain.info/wallet/recover' title='Click To Recover your Blockchain Wallet ... Have your "seed-word-phrase" ready!' target='_blank'>https://www.blockchain.info/wallet/recover</a>     </span>
  </p>

  <p>
    <span><b>Note</b>.</span>
    <span>We will not send you any email messages requesting that you recover your wallet at a different URL.</span>
    <span>So, please be aware of phishing attempts to enter your secret wallet recovery information on malicious websites.</p>
    <span>Write your twelve (12) "seed-word-phrase" wallet recovery ensemble here:</span>
  </p>

  <!-- <table class="table" style="width:100%"> -->
  <table class="table">
    <colgroup>
      <col width="16.66%" />
      <col width="16.66%" />
      <col width="16.66%" />
      <col width="16.66%" />
      <col width="16.66%" />
      <col width="16.66%" />
    </colgroup>

    <thead>
      <tr>
        <th>First Seed</th>
        <th>Second Seed</th> 
        <th>Third Seed</th>
        <th>Forth Seed</th>
        <th>Fifth Seed</th>
        <th>Sixth Seed</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><span>01. ______</span></td>
        <td><span>02. ______</span></td>
        <td><span>03. ______</span></td>
        <td><span>04. ______</span></td>
        <td><span>05. ______</span></td>
        <td><span>06. ______</span></td>
      </tr>

      <tr>
        <th>Seventh Seed</th>
        <th>Eighth Seed</th> 
        <th>Ninth Seed</th>
        <th>Tenth Seed</th>
        <th>Eleventh Seed</th>
        <th>Twelfth Seed</th>
      </tr>

      <tr>
        <td><span>07. ______</span></td>
        <td><span>08. ______</span></td>
        <td><span>09. ______</span></td>
        <td><span>10. ______</span></td>
        <td><span>11. ______</span></td>
        <td><span>12. ______</span></td>
      </tr>
    </tbody>
  </table>

  <p>
    <span>Keep this document safe and your "seed-word-phrase" ensemble a secret.</span>
    <span>Print this document and store this page in your lock box at the bank.</span>
  </p>

  <p>
    <span><b>Note</b>.</span>
    <span>Anyone who gains access to this page will be able to gain access to your transaction history.</span>
    <span>And, even more importantly ...</span>
    <span>Anyone who gains access to this page will also be able to gain access to your crypto coins!</span>
  </p>

  <p>
    <span>If you wish to be the one to sell your crypto coins for cash, then you will heed these instructions.</span>
  </p>
    <hr class="green-groove" />
    
{% include sources-and-uses.htm %}

{% include alt-footer-cash-me.htm %}

</div>
</div>
