---
layout: default
title: Cash App
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h3>How to Donate Cash to the MMINAIL</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
          <span>To donate simply click on the following link ... <a href='https://www.cash.me/MMINAIL' title='Click to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up - Cash Me' target='_blank'>Square Up - Cash Me</a></span>
      </p>
      <hr class="green-groove" />

      <p>
      <span>Or, to download the Cash App to your Smartphone, click on the following link ... <a href='https://cash.me/app/VQDPDDT' title='Click To Download the Cash App to Your Smartphone' target='_blank'>Download the Cash App to Your Smartphone</a></span>
      
    </p>



      <p>
      <span>In the interim, the capitalist spirit sprints ahead. Try the "Cash App" using my QR referral code and we’ll each get a $5 cash bonus C=> https://cash.me/app/VQDPDDT #GotReferralCode? = VQDPDDT</span>
      </p>

    </div>
    <hr class="green-groove" />

    <hgroup class="text-left">
      <h3>New Sub Title #2</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>Lead in statement</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span>More to come ...</span>
      </p>

      <p>
        <span>More to come ...</span>
      </p>
    </div>
    <hr class="green-groove" />
  </div>
  <hr class="green-groove" />

  {% include sources-and-uses.htm %}

  {% include alt-footer-cash-me.htm %}

</div>
</div>
