---
layout: default
title: Paying It Forward
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h2>Paying It Forward</h2>
    </hgroup>
    <hr class="green-groove" />

    <p class="lead">
      <span>The Paying It Forward page identifies specific areas of contribution that can save the Benefit Corp money in
        the long run.</span>
    </p>
    <hr class="green-groove" />

    <hgroup class="text-left">
      <h3>Another Topic</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
        <p class="lead">
            <span>More to come ...</span>
          </p>
            <hr class="green-groove" />

      <p>
        <span>"The best way to get an industry to collapse in on itself in a capitalist society is to take away its
          potential for profit!"</span>
        <span>~</span>
        <span>Robert Hempaz, PhD Trichometry™</span>
      </p>
    </div>
    <hr class="green-groove" />

      <hgroup class="text-left">
        <h3>The Annual Report</h3>
      </hgroup>
      <hr class="green-groove" />

      <p>
        <span>Each September, at the end of the month the Annual Report of the Benefit Corp comes due.</span>
      </p>

      <p>
        <span>The cost to file the annual report with the Secretary of State is $45 USD.</span>
      </p>

      <p>
        <span>Why not pay that expense forward for the corporation?</span>
      </p>

      <p>
        <span>Your donation of $450 will ensure the annual report is submitted in a timely fashion without the added
          surprise of monthly late penalties of $9 per month ( in Arizona ).</span>
      </p>

      <p>
        <span>Simply click on the following hyperlink to be transported directly to our <a
            href='https://www.cash.me/$MMINAIL'
            title='Click to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up - Cash Me'
            target='_blank'>Cash Me</a> landing page at <a href='https://www.cash.me/$MMINAIL'
            title='Click to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up - Cash Me'
            target='_blank'>Square Up</a>.</span>
      </p>

      <p>
        <span>There, you will find instructions on how to safely enter your credit or debit card number securely, in
          order to <a href='https://www.cash.me/$MMINAIL'
            title='Click to Donate To The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up - Cash Me'
            target='_blank'>donate instantly</a>.</span>
      </p>

      <div>
        <p class="lead">
          <span>More to come ...</span>
        </p>
        <hr class="green-groove" />

        <p>
          <span>"The best way to get an industry to collapse in on itself in a capitalist society is to take away its
            potential for profit!"</span>
          <span>~</span>
          <span>Robert Hempaz, PhD Trichometry™</span>
        </p>
      </div>
      <hr class="green-groove" />

      {% include sources-and-uses.htm %}

      {% include alt-footer-cash-me.htm %}


    </div>
  </div>
