---
title: Shell Page
layout: default
excerpt: Place the introducing line of text ie.) the 'lead' here ...
description: Issue, Rule, Analysis, Conclusion = IRAC
repo: Shell Lessons Project
ver_date: 11-12-19
navigation_weight: 1
categories: page
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h3>The Shell</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>Here is the story of the Shell.</span>
      </p>
      <hr class="green-groove" />
    </div>
      <hr class="green-groove" />

    {% include sources-and-uses.htm %}

    {% include alt-footer-cash-me.htm %}

  </div>
</div>
 