---
layout: default
title: Ivy Source Links | MMINAIL
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<hgroup class="text-left">
	<h3>Ivy Source Links</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Source Links page for the Ivy Lessons Project.</span> 
	<span>The Ivy Lessons Project is a division of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />
	
<hgroup class='text-left'>
	<h3>Navigate It</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Source-Links' selection just north of the Concept Library <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at the of 'Source-Links' page of the Ivy Lessons Project.</span>
</p>
	<hr class="green-groove" />
		
{% include working-repo.htm %}

<hgroup class='text-left'>
	<h3>Concepts Library</h3>
</hgroup>
	<hr class='green-groove' />

	<p>
		<span>For example, here is a set of external source links to the various sources used in the 'Ivy Lessons Project'.</span>
		<span>The source links are segregated first by 'Ivy Lessons Project' topic, secondly by 'title', and then thirdly by 'author'.</span>
	</p>
		<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Ivy Lessons Project - External Source Links</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span><b>Note</b>.</span>
	<span>The first link is a ping-back to this page.</span>
</p>

<ol type="1">
	<li><a href="https://mminail.github.io/Ivy/Source-Links.htm" title="Click to Visit the Source Links Page for the Ivy Lessons Project at our GitHub Pages Concept Library" target="_blank">Source Links</a>: A page of external links to 3rd party sources for the Ivy Lessons Project</li>

</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Learn Ivy</h4>
</hgroup>
	<hr class='green-groove' />

	<p>
		<span>The next link takes the end-user to the 'Learn Ivy Now' page that lists the various lessons for the 'Ivy Lessons Project' that have been written in Markdown and uploaded to the the 'Ivy Lessons Project' repo at GitHub pages.</span>
		<span>The lesson links are segregated first by 'Ivy Lessons Project' topic, secondly by 'title', and then thirdly by 'author'.</span>
	</p>
		<hr class='green-groove' />

<ol type="1">
	<li><a href="https://mminail.github.io/Ivy/Learn-Ivy-Now.htm" title="Click to Visit the Learn Ivy Now page for the Ivy Lessons Project at our GitHub Pages Concept Library" target="_blank">Learn Ivy Now</a>: A list of Ivy Lessons Written In Markdown For The Ivy Lessons Project</li>
</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Ivy Lesson Template</h3>
</hgroup>
	<hr class='green-groove' />
	
	<p>
		<span>The following set of topics segregate the lessons for easy find by the end user.</span>
	</p>
		<hr class='green-groove' />
	
		<hgroup class='text-left'>
			<h4>Segregate Topics</h4>
		</hgroup>
			<hr class='green-groove' />
		
		<p>
			<span>The following group of pages refer to Ivy Lessons of ...</span>
		</p>
			<hr class='green-groove' />
		
		<ol type="1">
			<li><a href="https://mmiail.github.io/Ivy-Lessons-Project/Ivy-Lesson.htm" title="Click to Visit the Ivy Lesson page for the Ivy Lessons Project at our GitHub Pages Concept Library" target="_blank">Ivy Lesson</a>: A template Lesson page for the Ivy Lesson Project</li>
			
		</ol>
			<hr class='green-groove' />

{% include sources-and-uses.htm %}

</div>
</div>
