---
layout: default
title: DO$H App
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h3>Formula</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>Here's the tweet for the new DO$H account (it's free) ...</span>
      </p>
      <hr class="green-groove" />

      <ul class="disc">
        <li>@<a href='https://www.madebylia.com' title='Click To Visit Made by Lia dot com'
            target='_blank'>MadeByLia</a>: DO$H will "Cash App" or "Venmo" $5 to your account if you do this:</li>
        <li>C=> <a href='https://link.dosh.cash/ROBERTW230' title='Click To Visit the DO$H app' target='_blank'>https://link.dosh.cash/ROBERTW230</a>
        </li>
      </ul>

      <ol type="a" start="a">
        <li>Download app</li>
        <li>Sign up with code ROBERTW230</li>
        <li>Add a card</li>
      </ol>

      <ul class="disc">
        <li>Reply: Done (Hecho) For $ On Your DO$H</li>
        <li>"Even a blind pig finds an acorn now and then!" ~ Billy Bligh</li>

      </ul>
    </div>
    <hr class="green-groove" />

    {% include sources-and-uses.htm %}

    {% include alt-footer-cash-me.htm %}

  </div>
</div>
