---
layout: default
title: About Us
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h4>Who We Are</h4>
    </hgroup>
    <hr class="green-groove" />

    <p>
      <span>"The best way to get an industry to collapse in on itself in a capitalist society is to take away its
        potential for profit!"</span>
      <span>~</span>
      <span>Robert Hempaz, PhD Trichometry™</span>
    </p>
    <hr class="green-groove" />

    {% include jquery-library.htm %}

    {% include sources-and-uses.htm %}

    {% include alt-footer-cash-me.htm %}

  </div>
</div>

<script src='../jq/min/core/331/js/jquery-v331.min.js'></script>
<script src='../js/scripts/corresponding-javascript-file.js'></script>
