---
layout: default
title: Contact Us
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

{% include welcome-title-zoom-mminail.htm %}

<hgroup class="text-left">
	<h4>Snail Mail</h4>
</hgroup>
	<hr class="green-groove" />

	<p>
		<span>You may contact us directly at the following mailing address via the US Post Office ...</span>
	</p>
		<hr class="green-groove" />

<ul class="list-unstyled"> <!-- Tip ... Use 'list-inline' to remove the bullets and to set the <li> horizontal -->
	<li>Robert Weber, Director</li>
	<li>MMINAIL</li>
	<li>1776 N Scottsdale Rd</li>
	<li>Unit 1961</li>
	<li>Scottsdale Arizona USA 85252-3680</li>
</ul>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>Electronic Mail</h4>
</hgroup>
	<hr class="green-groove" />

	<p>
  	<span>Or, you may also contact the Director of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr> directly via email at</span>
  	<a href="MailTo:mminail@icloud.com?subject=[Patient Contact - Contact Us]&body=Hello: I am following up from the Contact Us page of the MMINAIL Concept Library.">mminail@icloud.com</a></span>
	</p>
  	<hr class="green-groove" />
	
{% include jquery-library.htm %}

{% include sources-and-uses.htm %}
	
{% include alt-footer-cash-me.htm %}

	</div>
</div>

<script src='../jq/min/core/331/js/jquery-v331.min.js'></script>
<script src='../js/scripts/corresponding-javascript-file.js'></script>
