---
layout: default
title: Liquid Angular Page | Carbon Free Footprint Project
---
<hgroup class="leftalign">
	<h3>Liquid Angular</h3>
</hgroup>
	<hr class="green-groove" />
	
<p>
	<span>Welcome! This is the 'Liquid Angular' page of the <b>Carbon Free Footprint</b> project.</span>
</p>
	<hr class="green-groove" />

<p>
	<span>As both Liquid and Angular dot js share the double-curly brace enclosure for the separate Directives of each language ...</span>
</p>
	<hr class="green-groove" />
	
<h4>Liquid Time</h4>
<p>
	<span>Intro to Liquid Time ...</span>
</p>

<p>
	<span>Or, from an Unordered List of Date - Time possibilities ...</span>
</p>

<h5>Site dot time</h5>
<p>
	<span>The Liquid site dot time pipe date and time liquid statement accepts a set of short parameters, as follows:</span>
</p>

<p>
	<span><b>Note</b>.</span>
	<span>The double ( open curly brace 'U+007b' character ) &#0123;{&nbsp;...&nbsp;}&#0125; ( closing curly brace 'U+007b' character ) Liquid wrapper has been removed from the following code statement to prevent execution.</span>
</p>

<pre>
<span>Liquid Site dot Time pipe Date ...</span>
<code>
{% highlight liquid linenos %}
site.time | date: "Date: %a, %b %d, %Y
<br />
Time: %X %Z"
{% endhighlight %}
</code>
<span lang="es" title="Sp. 'For Finish'">Finito!</span>&nbsp;...&nbsp;<i class="icon-large icon-flower"></i>
</pre>

<p>
	<span>When rendered locally, the current local server ( machine ) date and 24 hour spot-time for the most recent rendition of this page ...</span>
	<span>is based on a geo-location of ( GMT -7 ).</span>
</p>

<p>
	<span>{{ site.time | date: "Date: %a, %b %d, %Y<br />Time: %X %Z" }}</span>
</p>

<p>
	<span><b>Note</b>.</span>
	<span>The time shown above is as of the moment of page rendering.</span>
</p>

<p>
	<span>When rendered from a remote server to your local browser ...</span>
</p>

<p>
	<span>The date, time, and deviation from Greenwich Mean Time (GMT) are based on the geo-location of the remote server.</span>
</p>
	<hr class="green-groove" />

<h5>If Else Loop</h5>
<p>
	<span>An If Else Loop can be established within a Liquid tag, as follows:</span>
</p>
	<hr class="green-groove" />
<p>
	<span><b>Note</b>.</span>
	<span>The single curly brace - single percentage wrapper &#0123;\%&nbsp;...&nbsp;\%&#0125; has been removed from the code statement to prevent execution.</span>
</p>

<pre>
<span>If Else Loop via Liquid ...</span>
<code>
{% highlight liquid linenos %}
if page.url == '/index.htm'
elseif page.url == '../pages/pagetwo.htm'
endif
{% endhighlight %}
</code>
<span lang="es" title="Sp. 'For Finish'">Finito!</span>&nbsp;...&nbsp;<i class="icon-large icon-flower"></i>
</pre>
	<hr class="green-groove" />

<h5>Liquid Highlighting</h5>
<p>
	<span>For html, enclose in a liquid wrapper with a language qualifier and a line marker, as follows:</span>
</p>

<p>
	<span><b>Note</b>.</span>
	<span>The &#0123;/%liquid wrapper/%&#0125; shown here has been 'defanged' with the back-slash key and corresponding unicode for illustration purposes only.</span>
</p>

<p>
	<span>To render the code ... Simply remove the back-slash from the liquid wrapper.</span>
</p>

<pre>
<span>Highlighting Html code with Rouge via Liquid</span>
<code>
{% highlight html linenos %}
&#0123;\% highlight html linenos \%&#0125;
```liquid

<% comment %>
	A Liquid comment tag using triple backticks and a language qualifier
<% endcomment %>

```
&#0123;\% endhighlight \%&#0125;
{% endhighlight %}
</code>
<span lang="es" title="Sp. 'For Finish'">Finito!</span>&nbsp;...&nbsp;<i class="icon-large icon-flower"></i>
</pre>
	<hr class="green-groove" />

<h4>Liquid Angular</h4>

<p>
	<span>Are Angular dot js Directives allowed within a Liquid model when served w Jekyll?</span>
</p>
	<hr class="green-groove" />

<h5>Data-ng-model</h5>

<p>
	<span>Intro to the Angular dot js 'data-ng-model' Directive ...</span>
</p>

<div class="container-fluid">
	
	<p>
		<span><b>Name</b>:</span>
		<input type="text" data-ng-model="personaname" />
		<span>{{ personaname }}</span>
	</p>

	<ul>
		<li>open_li</li>
	</ul>

	<p>
		<span>More to come ...</span>
	</p>

</div>

	<hr class="green-groove" />

<h5>Data-ng-model</h5>

<p>
	<span>Intro to the Angular dot js 'data-ng-init' Directive ...</span>
</p>
	<hr class="green-groove" />

<p>
	</span>The 'data-ng-init' is a primitive way to establish data on an Html page using Angular dot js.</span>
</p>

<div class="container-fluid"
	data-ng-init="customers=[{name:"Dave"},{name:"Napur"},{name:"Heedy"},{name:"Shriva"}]">

	<p>
		<span><b>Customer</b>:</span>
		<input type="text" data-ng-model="cust" />
		<span>{{ cust }}</span>
	</p>

	<ul>
		<li>open_li</li>
		<li data-ng-repeat="cust in customers">{{ cust.name }}</li>
	</ul>

	<p>
		<span>More to come ...</span>
	</p>
	
</div>
	<hr class="green-groove" />

<footer class="page-footer">
	<p>
        <span>The code snippets for this article have been extracted ( and, spruced up a little bit ) from <a href="http://weblogs.asp.net/dwahlin" title="Click to Review the Angular dot js in 60 Minutes eBook by Dan Wahlin" target="_blank">Angular dot js in 60 Minutes</a> by Dan Wahlin</span>
    </p>
	{% include footer.htm %}
</footer>