@{
    Page.Title = "Test (.cshtml) Page | MMINAIL";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@Page.title</title>
</head>

<body>
    <p>The time is @DateTime.Now</p>
    
    <span>All rights reserved. <a href="../pages/Privacy-Policy.cshtml">Privacy Policy</a>.</span>
</body>
</html>