---
layout: default
title: Learn Liquid
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<main>
<article>

<hgroup class="text-left">
	<h3>Learn Liquid</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Learn Liquid page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />
	
<hgroup class='text-left'>
	<h3>Navigate It</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Learn-Topic' selection just north of the <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at one of those 'Learn-Topic' pages ...</span>
</p>
	
<p>
	<pan>Specifically, the 'Learn Liquid Now' page.</span>
</p>
		<hr class="green-groove" />
		
<hgroup class='text-left'>
	<h3>The Working Repo</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>At this website, we have the Html working repo for the Benefit Corp.</span>
</p>

<p>
	<span>Each topic of interest here may have separate repos developed in GitHub Flavored Markdown, or <abbr class='oblique-text' title='GitHub Flavored Markdown'>GFM</abbr> that will house short tutorials and lessons.</span>
</p>

<p>
	<span>A list of hyperlinks to those markdown pages will be set here, at each "Learn Now" offering.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Concepts Library</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>For example, here is a set of external links to the current 'Learn Liquid Project' markdown pages segregated first by 'Liquid Lesson Template - Home Page', and then secondly by 'Liquid Lesson Topics'.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Liquid Lesson Template - Home Page</h3>
</hgroup>
	<hr class='green-groove' />

<ul type="">
	<li><a href="https://rwebaz.github.io/Liquid-Lessons-Project/" title="Click to Visit the Liquid Lesson Template - Home Page at GitHub" target="_blank">Lesson Template</a>: State the Issue of the Problem in the Form of a Question</li>
</ul>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Liquid Lesson Topics</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following set of topics segregate the lessons for easy find by the end user.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Liquid y Markdown</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to <b>Liquid y Markdown</b> Code Lessons</span>.
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Liquid-Lessons-Project/pages/Craft-A-Link.html" title="Click to Visit the Liquid Lesson Craft-A-Link Page at GitHub" target="_blank">Craft A Link</a>: How To Craft An External Hyperlink In Markdown With Liquid ...</li>
	<li><a href="https://rwebaz.github.io/Liquid-Lessons-Project/pages/Relative-Anchors.html" title="Click to Visit the Liquid Lesson Relative Anchors Page at GitHub" target="_blank">Relative Anchors</a>: How To Craft An Internal Hyperlink In Markdown With Liquid ...</li>
	
</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Other Liquid Topics</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to <b>Liquid y Markdown</b> Code Lessons</span>.
</p>
	<hr class='green-groove' />

<ol type="1">
  <li><a href="https://rwebaz.github.io/Liquid-Lessons-Project/pages/Block-Quotes.html" title="Click to Visit the Block Quotes Lesson Page at GitHub" target="_blank">Block Quotes</a>: When quoting text in blocks ( Blockquote ) using GitHub Flavored Markdown (.md) ...</li>
	
	<li><a href="https://rwebaz.github.io/Liquid-Lessons-Project/pages/Footer-Types.html" title="Click to Visit the Footer Types Lesson Page at GitHub" target="_blank">Footer Types</a>: The footer for each page is split into two (2) classes ...</li>
	
	<li><a href="https://rwebaz.github.io/Liquid-Lessons-Project/pages/Liquid-Highlights.html" title="Click to Visit the Liquid Highlights Lesson Page at GitHub" target="_blank">Liquid Highlights</a>: Jekyll offers powerful support for code snippets via the Liquid language.</li>
	
	<li><a href="https://rwebaz.github.io/Liquid-Lessons-Project/pages/Roll-Call-CL.html" title="Click to Visit the Liquid Lesson Roll Call Page at GitHub" target="_blank">Roll Call</a>: How to Render Data From a Data Store In Jekyll</li>

	<li><a href="https://rwebaz.github.io/Liquid-Lessons-Project/pages/Page-Path.html" title="Click to Visit the Liquid Lesson Page Path Page at GitHub" target="_blank">Page Path</a>: How to Render Data From a Data Store In Jekyll</li>

	<li><a href="https://rwebaz.github.io/Liquid-Lessons-Project/pages/Repo-Users.html" title="Click to Visit the Liquid Lesson Repo Users Page at GitHub" target="_blank">Repo Users</a>: How to Render Data From a Data Store In Jekyll</li>

</ol>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Shopify Lessons</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to Shopify Lessons.</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Liquid-Lessons-Project/pages/Liquid-Tips.html" title="Click to Visit the Liquid Tips Lesson Page at GitHub" target="_blank">Liquid Tips</a>: GFM is an acronym for Git Hub Flavor'd Markdown ...</li>

	<li><a href="https://rwebaz.github.io/Liquid-Lessons-Project/pages/Liquid-Lists.html" title="Click to Visit the Liquid Lesson Lists Page at GitHub" target="_blank">Liquid Lists</a>: How To Create a Liquid List in Shopify ...</li>

	<li><a href="https://rwebaz.github.io/Liquid-Lessons-Project/pages/Liquid-Raw.html" title="Click to Visit the Liquid Lesson Raw Page at GitHub" target="_blank">Liquid Raw</a>: Fence in all multi-line code references using a Liquid Raw tag ...</li>

</ol>
	<hr class='green-groove' />

{% include project-serve.htm %}

<hgroup class='text-left'>
	<h4>Project Sources</h4>
</hgroup>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Liquid-Lessons-Project/pages/Source-Links.html" title="Click to Visit the Source Links for the Liquid Lessons Project at GitHub" target="_blank">Source Links</a>: Please support the authors and publishers who aggregate the Source Links for the Ng Lessons Project ...</li>
</ol>
	<hr class='green-groove' />

{% include forkit.htm %}

<footer id="page-footer" class="center-block">
	<br />
	<p>
		<span><b>Source</b>:</span>
    	<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Square Up</a>
	</p>

	<p>
		<span>See: <a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Cash Me</a>
		<span>by</span>
		<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Today</a>
	</p>
		<hr class="green-groove" />
	
	.
</footer>

</article>
</main>

</div>
</div>