<hgroup class="text-left">
	<h4>The Code</h4>
</hgroup>
  <hr class="green-groove" />

<pre class='flex-box'>
<span>This is an instructional line above the &lt;code&gt; block followed by a break ...</span>
<br />
<code class='html'>This is text inside of a closed &lt;code&gt; tag with a class attribute of html using the given highlighter js style foundation.</code>
{% highlight html %}
<!-- Kal El™ Hemp Farmer logo badge Zoom Out Image Link -->
<a href='https://rwebaz.github.io/Hemp-Lessons-Project/' title='Click To Review the Hemp Lessons Project Home Page' target='_blank'>
  <i class="icon-large">
    <picture>
      <img class="icon-thumb" src="../assets/img/png/Kal-El-Farmer-Circle-w-script-120-x-120.png"
        alt="The Kal El™ Hemp Farmer logo badge - Large Icon" />
      <img class="icon-zoom" src="../assets/img/png/Kal-El-Farmer-Circle-w-script-120-x-120.png"
        alt="The Kal El™ Hemp Farmer logo badge - Large Icon" />
    </picture>
  </i>✨</a>
{% endhighlight %}
<code class='javascript'>This is text inside of a closed &lt;code&gt; tag with a class attribute of javascript using the given highlighter js style foundation.</code>
<br />
<span>This is a closing line below the &lt;code&gt; block preceded by a break ...</span>
</pre>
  <hr class='green-groove' />

<hgroup class="text-left">
	<h4>Live Example</h4>
</hgroup>
  <hr class="green-groove" />

<p>
  <span>What follows is a rendition of a <b>Zoom Out Image Link</b> featuring the <b>Kal El™ Hemp Farmer</b> logo badge.</span>
</p>

<a href='https://rwebaz.github.io/Hemp-Lessons-Project/' title='Click To Review the Hemp Lessons Project Home Page' target='_blank'>
<i class="icon-large">
	  <picture>
		  <img class="icon-thumb" src="../assets/img/png/Kal-El-Farmer-Circle-w-script-120-x-120.png" alt="The Kal El™ Hemp Farmer logo badge - Large Icon" />
			<img class="icon-zoom" src="../assets/img/png/Kal-El-Farmer-Circle-w-script-120-x-120.png" alt="The Kal El™ Hemp Farmer logo badge - Large Icon" />
		</picture>
</i>✨</a>
  <hr class="green-groove" />