---
title: Learn Brew
layout: default
version: Learn Brew Now Template htm Dtd 02-07-18
categories: template
Topic: Brew
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

		{% include welcome-title-zoom-mminail.htm %}
	
    {% include navigate-it.htm %}
    
    {% include topic-lesson-template.htm %}

    {% include learn-topic.htm %}

    {% include external-source-links.htm %}
		
    {% include sources-and-uses.htm %}
    
    <hgroup class="text-left">
      <h4>Version</h4>
    </hgroup>
    <hr class="green-groove" />

    <p>
      <span>
        <b>Note</b>.</span>
      <span>This page crafted with {{ page.version }}.</span>
    </p>
    <hr class="green-groove" /> 

		{% include alt-footer-cash-me.htm %}

	</div>
</div>

<!-- <script language='javascript' type='text/javascript' src='../js/scripts/corresponding-javascript-file.js'></script> -->
