---
title: Lesson Template
layout: default
version: Brew Lesson Template htm Dtd 02-15-18
categories: template
topic: Brew
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

{% include welcome-title-zoom-mminail.htm %}

<hgroup class="text-left">
	<h4>Very Special Brew Lesson</h4>
</hgroup>
	<hr class="green-groove" />

	<p>
		<span>This is a container for a Very Special Brew lesson.</span>
	</p>

	<p>
		<span>This Very Special Brew lesson is currently in draft.</span>
	</p>

	<p>
		<span>The language for this container is Html.</span>
  </p>
  
  <p>
    <span>The type of this container is <em>page</em>.</span>
  </p>
		<hr class="green-groove" />

<hgroup class="text-left">
	<h4>El Futuro Brew Lesson</h4>
</hgroup>
	<hr class="green-groove" />

	<p>
		<span>This is a container for the El Futuro Brew lesson.</span>
	</p>
	
  <p>
	  <span>This El Futuro Brew lesson is currently in draft.</span>
  </p>

  <p>
	  <span>The language for this container is Html.</span>
  </p>

  <p>
    <span>The type of this container is <em>gist</em>.</span>
  </p>
  <hr class="green-groove" />
  
  <hgroup class="text-left">
    <h4>Version</h4>
  </hgroup>
  <hr class="green-groove" />

  <p>
    <span>
      <b>Note</b>.</span>
    <span>This page crafted with {{ page.version }}.</span>
  </p>
  <hr class="green-groove" />
		
{% include sources-and-uses.htm %}

{% include alt-footer-cash-me.htm %}

  </div>
</div>

<!-- <script language='javascript' type='text/javascript' src='../js/scripts/corresponding-javascript-file.js'></script> -->
