---
title: Source Links
layout: default
version: Brew Source Links Template htm Dtd 02-15-18
categories: template
topic: Brew
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h4>Very Special Brew Links</h4>
    </hgroup>
    <hr class="green-groove" />

    <p>
      <span>This is a container for some
        <em>Very Special</em> Brew lesson links.</span>
    </p>

    <p>
      <span>Created especially for our
        <abbr class='oblique-text'
          title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>
        viewers ...</span>
    </p>

    <p>
      <span>Each hyperlink points to an individual
        <em>Article or Lesson</em> crafted by expert authors.</span>
    </p>

    <p>
      <span>Scroll down to the
        <a href="#hyperlinks" title="Click to Jump To the Link Construction section of this page" target="_self">Link
          Construction</a> section to review the hyperlinks.</span>
    </p>
    <hr class="green-groove" /> {% include navigate-it.htm %} {% include topic-lesson-template.htm %}
    {% include external-source-links.htm %}

    <div class="hyperlinks">
      <hgroup class="text-left">
        <h4>Link Construction</h4>
      </hgroup>
      <hr class="green-groove" />

      <p>
        <span>The following group of pages refer to the
          <b>Brew Lessons Project</b> at GitHub Pages.</span>
      </p>

      <ul>
        <li>
          <span>Click on any of the hyperlinks to be transported directly to the underlying Article or Lesson at the
            <b>Brew Lessons Project</b>.</span>
        </li>
      </ul>
      <hr class='green-groove' />

      <ol type="1">

        <li>
          <a href="https://rwebaz.github.io/Brew-Lessons-Project/"
            title="Click to Visit the Home Page of the Brew Lessons Project at GitHub" target="_blank">Home Page</a>:
          {{ site.tagline }} ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Brew-Lessons-Project/pages/New-Title.html"
            title="Click to Visit the New Title page of the Brew Lessons Project at GitHub Pages" target="_blank">New
            Title</a>: Place intro line (lead) of article here ... ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Brew-Lessons-Project/pages/Blockquote-Footer.html"
            title="Click to Visit the Blockquote Footer page of the Brew Lessons Project at GitHub"
            target="_blank">Blockquote Footer</a>: {{ site.tagline }} ...</li>
        <br />

        <li>
          <a href="https://rwebaz.github.io/Brew-Lessons-Project/pages/The-Flammarion.html"
            title="Click to Visit The Flammarion Page of the Brew Lessons Project at GitHub" target="_blank">The
            Flammarion</a>: The Flammarion is an ancient portrait of a medieval man poking his head into the ether ...
        </li>
        <br />
      </ol>
      <hr class='green-groove' />

      <hgroup class='text-left'>
        <h4>Amazon Online Store</h4>
      </hgroup>
      <hr class='green-groove' />

      <p class="lead">
        <span>
          The following products were featured at the Satellite repo.</span>
      </p>
        <hr class='green-groove' />

      <hgroup class='text-left'>
        <h5><a href='https://amzn.to/2sTzBvR' title='Click To Review the Landing Page for the Brita Max Dispenser' target='_blank'>Brita Max Dispenser</a></h5>
      </hgroup>
        <hr class='green-groove' />

      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=achenes-2019-20&language=en_US&marketplace=amazon&region=US&placement=B015SY3VGM&asins=B015SY3VGM&linkId=aef8aca5a9d8865f955c2dab323da78c&show_border=true&link_opens_in_new_window=true"></iframe>
      <hr class='green-groove' />

      <hgroup class='text-left'>
        <h5><a href='https://amzn.to/38mVZy4' title='Click To Review the Landing Page for the Brita Standard Filter' target='_blank'>Brita Max Standard Filter</a></h5>
      </hgroup>
        <hr class='green-groove' />

      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=achenes-2019-20&language=en_US&marketplace=amazon&region=US&placement=B0000CF98Q&asins=B0000CF98Q&linkId=eb6107a8dae2d4dbb12a26fd89360223&show_border=true&link_opens_in_new_window=true"></iframe>
      <hr class='green-groove' />

      <hgroup class='text-left'>
        <h5><a href='https://amzn.to/2RHcS0i' title='Click To Review the Landing Page for the Oxygen Brewery Wash by National Chemical' target='_blank'>Oxygen Brewery Wash by National Chemical</a></h5>
      </hgroup>
        <hr class='green-groove' />

      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=achenes-2019-20&language=en_US&marketplace=amazon&region=US&placement=B013S1XAZY&asins=B013S1XAZY&linkId=8099032b5fc31f252aad29651ff33553&show_border=true&link_opens_in_new_window=true"></iframe>
      <hr class='green-groove' />

      <hgroup class='text-left'>
        <h5><a href='https://amzn.to/357X1Mh' title='Click To Review the Landing Page for the Standard 2-gallon Hops & Malt Extract for Oktoberfest Lager' target='_blank'>Standard 2-gallon Hops & Malt Extract for Oktoberfest Lager</a></h5>
      </hgroup>
        <hr class='green-groove' />
      
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=achenes-2019-20&language=en_US&marketplace=amazon&region=US&placement=B008UQ5EHU&asins=B008UQ5EHU&linkId=17409d7843db34a61910c2ae6ff24ed0&show_border=true&link_opens_in_new_window=true"></iframe>
      <hr class='green-groove' />

      <hgroup class='text-left'>
        <h4>Gists</h4>
      </hgroup>
      <hr class='green-groove' />

      <p class="lead">
        <span>
          <b>Gists</b> are pages of
          <em>Markdown</em> and/or
          <em>Html</em> that are not yet ready for prime time.</span>
      </p>

      <ul>
        <li>
          <span>Something has yet to jell on the page that is precluding its official publishment</span>.</li>
        <br />
        <li>
          <span>Perhaps the
            <em>gist</em> is simply a new
            <em>Topic of Interest</em> and the author of this website simply has not yet had the time to fully expound
            the details</span>.</li>
        <br />
        <li>
          <span>These pages of the gist type are ripe for pulling</span>.</li>
      </ul>
      <hr class='green-groove' />

      <ol type='1'>
        <li>
          <a href="https://rwebaz.github.io/Brew-Lessons-Project/_gists/New-Title.html"
            title="Click to Visit the New Title page of the Brew Lessons Project at GitHub Pages" target="_blank">New
            Title</a>: Place intro line (lead) of article here ...</li>
        <br />
      </ol>
      <hr class='green-groove' />
    </div>

    {% include jquery-library.htm %}

    <hgroup class="text-left">
      <h4>Version</h4>
    </hgroup>
    <hr class="green-groove" />

    <p>
      <span>
        <b>Note</b>.</span>
      <span>This page crafted with {{ page.version }}.</span>
    </p>
    <hr class="green-groove" />

    {% include sources-and-uses.htm %}

    {% include alt-footer-cash-me.htm %}

  </div>
</div>

<!-- <script language='javascript' type='text/javascript' src='../js/scripts/corresponding-javascript-file.js'></script> -->
