<!DOCTYPE html>
<!-- Set the base language to English -->
<html lang="en-US">

<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="p:domain_verify" content="6a5c3fc78a53419886f8c779ecd56e8a"/>
	<title>{{ page.title }} | {{ site.title }}</title>
	<!-- Comment Out: Highlight js remote css
	<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css" rel="stylesheet" /> -->
	<link href="../assets/css/foundation.css" rel="stylesheet" />
	<link href="../assets/css/prism.css" rel="stylesheet" />
	<link href="../assets/css/zocial.css" rel="stylesheet" />
	<!-- Comment Out: Bootstrap css -->
	<link href="../assets/bs/min/bootstrap.min.css" rel="stylesheet" />
	<link href="../assets/bs/min/bootstrap.icon-large.min.css" rel="stylesheet" />
	<!-- Comment Out: jQuery Mobile remote css
	<link href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" rel="stylesheet" /> -->
	<link href="../assets/jq/min/jquery.mobile-1.4.5.min.css" rel="stylesheet" />
	<link href="../assets/jq/min/jquery.mobile.icons-1.4.5.min.css" rel="stylesheet" />
	<!-- Comment Out: Main css -->
	<link href="../assets/css/mminail.css" rel="stylesheet" />
	<!-- Comment Out: Flex Box css -->
	<link href="../assets/css/flex-box.css" rel="stylesheet" />
	
	<!-- Add Standard favicon Link -->
	<link type="image/x-icon" href="/favicon.ico?" rel="shortcut icon" />
	<!-- Add Fav icon Generator Links -->
	<link rel="apple-touch-icon" sizes="57x57" href="../assets/ico/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../assets/ico/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../assets/ico/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/ico/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../assets/ico/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../assets/ico/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../assets/ico/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../assets/ico/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../assets/ico/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../assets/ico/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../assets/ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../assets/ico/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../assets/ico/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../assets/ico/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!-- End Fav icon Generator Links -->
</head>

<body>
	<main id="main-body">
		<section id="top-row">
			<header id="masthead">
				<hgroup id="primary-image" class="center-block">
					<!-- <hgroup class="panel-body"> -->
					{% include primary-image.htm %}
				</hgroup>

				<aside id="primary-header" class="center-block">
					{% include primary-header.htm %}
				</aside>
				
			</header>
		</section>

		<section id="row-two">
			
			<article id="main-article" class="main-article">
				{{content}}

				<article id="supporting-content">
					{% include supporting-content.htm %}
				</article>

			</article>
			
			<aside id="navigator">
					{% include nav.htm %}
		
					<aside id="secondary-header" class="center-block">
						{% include secondary-header-one.htm %}
					</aside>
					
			</aside>

		</section>

		<section id="row-three">
			
			 <!-- <footer class="panel-footer"> -->
			<footer id="page-footer" class="center-block">
				{% include page-footer.htm %}

				<aside id="secondary-header" class="center-block">
					{% include secondary-header-two.htm %}
				</aside>
			
			</footer>
		</section>
		
<!-- Place all Javascript Library packages north of the </body> closing tag and after the closing site-footer </footer> tag in order of execution -->

<!-- Comment Out: Jquery Library CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 

<!-- Comment Out: Jquery Library Local script 
<script src="../js/jquery.min.js"></script> -->

<!-- Comment Out: Jquery Mobile Library remote standard script 
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->

<!-- Comment Out: Jquery Mobile Library remote secure script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script> 

<!-- Comment Out: Jquery Mobile Library Local script 
<script src="../js/jquery.mobile-1.4.5.min.js"></script> -->

<!-- Comment Out: Jquery Cookie Library remote script 
<script src="#"></script> -->

<!-- Comment Out: jQuery Cookie Library Local script
<script src="../js/jquery.cookie.js"></script> -->

<!-- Comment Out: jQuery URI Library remote script 
<script src="#"></script> -->

<!-- Comment Out: jQuery URI Library Local script
<script src="../js/jquery.uri.min.js"></script> -->

<!-- Comment Out: Bootstrap Library CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 

<!-- Comment Out: Bootstrap Library Local script 
<script src="../js/bootstrap.min.js"></script> -->

<!-- Comment Out: Angularjs Library remote script 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script> -->

<!-- Comment Out: Angularjs Library Local script 
<script src="../js/angular.min.js"></script> -->

<!-- Comment Out: Animated Enhanced Library remote script 
<script src="#"></script> -->

<!-- Comment Out: Animated Enhanced library Local script 
<script src="../js/jquery.animate-enhanced.js"></script> -->

<!-- Comment Out: Class ( programming ) Library remote script 
<script src="#"></script> -->

<!-- Comment Out: Class ( programming ) Library Local script 
<script src="../js/class.js"></script> -->

<!-- Comment Out: Color Library remote script 
<script src="#"></script> -->

<!-- Comment Out: Color Library Local script 
<script src="../js/jquery.color.js"></script> -->

<!-- Comment Out: Form Validate Library Remote script 
<script src="#"></script> -->

<!-- Comment Out: Form Validate Library Local script 
<script src="../js/validate.js"></script> -->

<!-- Comment Out: Head Library remote script 
<script src="http://cdnjs.cloudflare.com/ajax/libs/headjs/0.99/head.load.min.js"></script> -->

<!-- Comment Out: Head Library Local script
<script src="../js/head.js"></script> -->

<!-- Comment Out: Highlighter Library remote script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script> 

<!-- Comment Out: Highlighter Library Local script 
<script src="../highlight-js/lib/highlight.js"></script> -->

<!-- Comment Out: Indexed DB Library remote script 
<script src="#"></script> -->

<!-- Comment Out: Indexed DB library Local script 
<script src="../js/db.js"></script> -->

<!-- Comment Out: Markdown Library Remote script 
<script src="#"></script> -->

<!-- Comment Out: Markdown Library Local script 
<script src="../js/markdown.js"></script> -->

<!-- Comment Out: Mask Input Library remote script 
<script src="#"></script> -->

<!-- Comment Out: Mask Input library Local script 
<script src="../js/jquery.maskedinput.js"></script> -->

<!-- Comment Out: Modernizr Library remote script 
<script src="#"></script> -->

<!-- Comment Out: Modernizr library Local script 
<script src="../js/modernizr.min.js"></script> -->

<!-- Comment Out: Moment ( time ) Library remote script 
<script src="#"></script> -->

<!-- Comment Out: Moment ( time ) library Local script 
<script src="../js/moment.min.js"></script> -->

<!-- Comment Out: Prism Library remote script 
<script src="#"></script> -->

<!-- Comment Out: Prism Library Local script
<script src="../js/prism.js"</script> -->

<!-- Comment Out: QR Code Library remote script 
<script src="#"></script> -->

<!-- Comment Out: QR Code library Local script 
<script src="../js/jquery.qrcode-0.2.min.js"></script> -->

<!-- Comment Out: Readmore Library remote script 
<script src="#"></script> -->

<!-- Comment Out: Readmore Library Local script 
<script src="../js/readmore.js"></script> -->

<!-- Comment Out: Tether Library remote script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script> 

<!-- Comment Out: Tether Library Local script 
<script src="../js/tether.min.js"></script> -->

<!-- Comment Out: Underscore ( data ) Library remote script 
<script src="#"></script> -->

<!-- Comment Out: Underscore ( data ) Library Local script 
<script src="../js/underscore.min.js"></script> -->

<!-- Comment Out: Dot epub (.mobi) maker -->
<script type="text/javascript" src="//dotepub.com/p/widget.php?lang=en&amp;img=f"></script>

<!-- Comment Out: Font Awesome -->
<script src="https://use.fontawesome.com/ab044f48cb.js"></script>

<!-- <div itemscope itemtype="https://schema.org/" class="container-fluid"> -->
<!-- <div class="row-fluid"> -->

<!-- <div class="container"> -->
<!-- <div class="panel panel-primary panel-padding"> -->

</main>
</body>
</html>
