<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="../css/mminail.css" rel="stylesheet">
</head>

<body>

<header class="masthead">
    <h1>MMINAIL.GitHub.io Home Page Directory</h1>
    {% include nav.htm %}
</header>

{{content}}
<footer>
<hr/>
<!-- MMINAIL Copyright footertxt -->
<div style="text-align: center; font-size: 11px">
	<p>
		<b>Copyright ©2016 <a href="http://cannabuds.us/" title="Clik to Jump To the Home Page of the MMINAIL" target="_blank">The Medical Marijuana Initiative of North America - International Limited</a>. All rights reserved.</b>
	</p>
	
	<p>
		<b>This Webpage is being hosted via:&nbsp;</b>
		<a href="https://pages.github.com/" title="Clik to Jump To GitHub Pages" target="_blank">GitHub Pages</a> 
	</p>
</div>
<!-- MMINAIL Copyright footertxt -->
</footer>
</body>
</html>