---
layout: default
title: BC Closed System
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h3>BC Northern Lights</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>90-day BC Northern Lights Closed System Campaign now Live at Fundly</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span><b>Hello</b>: As Director of the Medical Marijuana Initiative of North America - International - Limited,
          an Arizona Benefit corporation, I am personally raising money in an effort to assist two (2) Qualified
          Patients (QPs) domiciled in the State of Missouri and their Care Provider (Care Giver).</span>
      </p>

      <p>
        <span>On July 4th, 2019 the Missouri Dept of Health and Senior Services (DHSS) will be accepting applications
          from QPs and their Care Providers (Care Givers) for indoor grows.</span>
      </p>

      <p>
        <span>The funds of <a href='https://www.fundly.com/bc-northern-lights-closed-system-6250'
            title='Click To Visit the Campaing to Campaign to raise funds for two (2) Qualified Patients and their Care Giver'
            target='_blank'>$6.250</a> will go to purchase a BC Northern Lights closed system ($6250) that can be
          administered under the DHSS guidelines from the comfort of their home.</span>

      </p>

      <p>
        <span>Thank you in advance if you are able to participate.</span>
      </p>
    </div>
    <hr class="green-groove" />

    <hgroup class="text-left">
      <h3>Fundly</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>Here is the link to the Campaign over at Fundly ... Robert.</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span><a href='https://www.fundly.com/bc-northern-lights-closed-system-6250'
            title='Click to Donate To the BC Northern Lights Closed System Funding Campaign sponsored by the Medical Marijuana Initiative of North America - International Ltd, an Arizona Benefit Corporation via Fundly'
            target='_blank'>Fundly BC Northern Lights Closed System Campaign</a>Link to Donate</span>
      </p>

      <p>
        <span>Thank you for your contribution.</span>
      </p>
    </div>
    <hr class="green-groove" />
  </div>
  <hr class="green-groove" />

  {% include sources-and-uses.htm %}

  {% include alt-footer-cash-me.htm %}

</div>
</div>
