---
layout: default
title: Learn Economics | MMINAIL
---
<div class="container-fluid">
	<div class="row-fluid">

<main>
<article>

<hgroup class="text-left">
	<h3>Learn Economics</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Learn Economics Page page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />
	
<hgroup class='text-left'>
	<h3>Navigate It</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>In the <code>&lt;aside&gt;</code> section of this website ➡️ , you will find a navigation column.</span>
</p>
    <hr class="green-groove" />

<p>
    <span>When the end-user clicks on a topic of interest, the menu explodes vertically to reveal several Sub-menu choices.</span>
</p>

<p>
    <span>There is a 'Learn-Topic' selection just north of the <kbd>Home</kbd> page divider for each topic of interest.</span>
</p>

<p>
		<span>You, as the current end-user, are now at one of those 'Learn-Topic' pages ...</span>
</p>
	
<p>
	<pan>Specifically, the 'Learn Economics Now' page.</span>
</p>
		<hr class="green-groove" />
		
{% include working-repo.htm %}

<hgroup class='text-left'>
	<h3>Concepts Library</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>For example, here is a set of external links to the current 'Economic Lessons Project' markdown pages segregated first by 'Economic Lesson Template - Home Page', and then secondly by 'Economic Lesson Topics'.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Economic Lesson Template - Home Page</h3>
</hgroup>
	<hr class='green-groove' />

<ul type="">
	<li><a href="https://rwebaz.github.io/Shell-Page-Project/" title="Click to Visit the Economic Lesson Template - Home Page at GitHub" target="_blank">Lesson Template</a>: State the Issue of the Problem in the Form of a Question</li>
</ul>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h3>Economic Lessons</h3>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following set of topics segregate the lessons for easy find by the end user.</span>
</p>
	<hr class='green-groove' />

<hgroup class='text-left'>
	<h4>Segregate Topics</h4>
</hgroup>
	<hr class='green-groove' />

<p>
	<span>The following group of pages refer to Economic Lessons of ...</span>
</p>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Economic-Lessons-Project/pages/Economic-Lesson.html" title="Click to Visit the Economic Lesson Page at GitHub" target="_blank">Economic Lesson</a>: Place the introducing line of text ie.) the 'tagline' here ...</li>
	
</ol>
	<hr class='green-groove' />

{% include project-serve.htm %}

<hgroup class='text-left'>
	<h4>Project Sources</h4>
</hgroup>
	<hr class='green-groove' />

<ol type="1">
	<li><a href="https://rwebaz.github.io/Economic-Lessons-Project/pages/Source-Links.html" title="Click to Visit the Source Links for the Economic Lessons Project at GitHub" target="_blank">Source Links</a>: Please support the authors and publishers who aggregate the Source Links for the Ng Lessons Project ...</li>
</ol>
	<hr class='green-groove' />

{% include forkit.htm %}

<footer id="page-footer" class="center-block">
	<br />
	<p>
		<span><b>Source</b>:</span>
    	<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Square Up</a>
	</p>

	<p>
		<span>See: <a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Cash Me</a>
		<span>by</span>
		<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Today</a>
	</p>
		<hr class="green-groove" />
	
	
</footer>

</article>
</main>

</div>
</div>