---
layout: default
title: Pre-Application Funds
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
  <div class="row-fluid">

    {% include welcome-title-zoom-mminail.htm %}

    <hgroup class="text-left">
      <h2>Executive Summary</h2>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>Pre-Application Funds For Missouri Dispensary</span>
      </p>
      <hr class="green-groove" />

      <p>
        <span><b>Target</b>: <a href='https://fundly.com/pre-application-funds-24-300' title='Click To Help Fund the Pre-Application Fees for a Missouri Integrated Cultivation, Distillation and Dispensary Application' target='_blank'>Pre-Application Fees</a> for a Missouri Integrated Cultivation, Distillation and Dispensary Application.</span>
      </p>

      <p>
        <span><b>Amount</b>: The Medical Marijuana Initiative of North America - International Ltd (MMINAIL), an Arizona
          Benefit Corporation is seeking total funding of <span><a href='https://fundly.com/pre-application-funds-24-300' title='Click To Help Fund the Pre-Application Fees for a Missouri Integrated Cultivation, Distillation and Dispensary Application' target='_blank'>$24,300 USD</a> for the 'Campaign to File an Application for a Combined Cultivation, Manufacturing and Dispensary Facility' in southwest Missouri.</span>
      </p>

      <p>
        <span><b>Location</b>: Federal Congressional District Seven (7) of the State of Missouri.</span>
      </p>

      <p>
        <span><b>What</b>: The Missouri State Medical Marijuana Constitutional Amendment XIV of #2018 previously known
          as Amendment 2 from the November #2018 mid-term ballot.</span>
      </p>

      <p>
        <span><b>When</b>: Date of Mid-term Election; November 6th, #2018</span>
      </p>

      <p>
        <span><b>Note</b>. Missouri State statute dictates that Constitutional Amendments shall take effect thirty (30)
          days after their respective election unless otherwise indicated in the petition.</span>
      </p>
    </div>
    <hr class="green-groove" />

    <hgroup class="text-left">
      <h3>Main features of MO Amendment 2</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>MO Amendment 2 permits ...</span>
      </p>
      <hr class="green-groove" />

      <ol type="I" start="I">
        <li>
          <ol type="a" start="a">
            <li>a State Licensed Physician (SL-PHY) or</li>
            <li>a State Licensed Psychiatrist (SL-PSY)</li>
          </ol>
        </li>
      </ol>

      <p>
        <span>To recommend Medical Marijuana (MedMj) to a Qualified Patient (QP).</span>
      </p>

      <p>
        <span><b>Issue</b>: How to Register a Combined Cultivation, Manufacturing and Dispensary Facility in the State
          of Missouri</span>
      </p>

      <p>
        <span><b>Funds</b>: What are the Cash Requirements to apply for a Missouri Commercial Cannabis License
          (MCCL)</span>
      </p>

      <p>
        <span><a href=' https://www.triadbanking.com/' title='Click To Visit the Triad Bank of Frontenac, Missouri'
            target='_blank'>Triad Bank</a> charges a one-time $2,300 due diligence fee to apply for their Bank
          Services.</span>
      </p>

      <p>
        <span>The Missouri Dept of Health and Senior Services (<a href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>) charges a one-time $6,000 pre-application fee to apply for a #MedMj dispensary
          store license.</span>
      </p>

      <p>
        <span>The Missouri Dept of Health and Senior Services (<a href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>) charges a one-time $6,000 pre-application fee to apply for a #MedMj distillation
          and manufacturing facility license.</span>
      </p>

      <p>
        <span>The Missouri Dept of Health and Senior Services (<a href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>) charges a one-time $10,000 pre-application fee to apply for a #MedMj cultivation
          facility license.</span>
      </p>

      <p>
        <span><b>Note A</b>. The pre-application fees are Non-refundable.</span>
      </p>

      <p>
        <span><b>Note B</b>. The pre-application fees do NOT confer preferential treatment.</span>
      </p>

      <p>
        <span><b>Total</b>: Total Pre-application Fee Requirement = $24,300</span>
      </p>

      <p>
        <span><b>Note</b>. Licenses shall be awarded by the Missouri Dept of Health and Senior Services (<a
            href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>)
          territorially by Missouri Federal Congressional District.</span>
      </p>

    </div>
    <hr class="green-groove" />

    <hgroup class="text-left">
      <h3>Missouri Federal Congressional Districts</h3>
    </hgroup>
    <hr class="green-groove" />

    <div>
      <p class="lead">
        <span>Based on the population statistics from the 10-year Federal census of 2010, the State of Missouri was
          awarded a total of eight (8) Federal Congressional Districts.</span>
      </p>
      <hr class="green-groove" />

      <ol type="1" start="1">
        <li>MO Fed District One</li>
      </ol>

      <ul style="list-style-type: disc;">
        <li>St Louis City and North St Louis County</li>
        <li><a href='https://lacyclay.house.gov/' title='Click To Visit the Congressional website of the Hon. Lacy Clay'
            target='_blank'>Lacy Clay</a> (D), US House of Representatives</li>
        <li><b>Note</b>. As of May of #2019, Missouri’s 1st Federal Congressional District (St. Louis and North
          St. Louis County) has thirty-six (36) hopeful dispensary entities and owners that have already submitted their
          pre-application fees to the Missouri Dept of Health and Senior Services (<a
            href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>).</li>
      </ul>

      <ol type="1" start="2">
        <li>MO Fed District Two</li>
      </ol>

      <ul style="list-style-type: disc;">
        <li>St Louis County west and south</li>
        <li><a href='https://wagner.house.gov/' title='Click To Visit the Congressional website of the Hon. Ann Wagner'
            target='_blank'>Ann Wagner</a> (R), US House of Representatives</li>
        <li><b>Note</b>. As of May of #2019, Missouri’s 2nd Federal Congressional District (St Louis County west and
          south) has twenty-four (24) hopeful dispensary entities and owners that have already submitted their
          pre-application fees to the Missouri Dept of Health and Senior Services (<a
            href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>).</li>
      </ul>

      <ol type="1" start="3">
        <li>MO Fed District Three</li>
      </ol>

      <ul style="list-style-type: disc;">
        <li>St Charles County west</li>
        <li><a href='https://luetkemeyer.house.gov/'
            title='Click To Visit the Congressional website of the Hon. Blaine Luetkemeyer' target='_blank'>Blaine
            Luetkemeyer</a> (R), US House of Representatives</li>
        <li><b>Note</b>. As of May of #2019, Missouri's’ 3rd Federal Congressional District (St Charles County west) has
          forty (40) hopeful dispensary entities and owners that have already submitted their pre-application fees
          to the Missouri Dept of Health and Senior Services (<a href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>).</li>
      </ul>

      <ol type="1" start="4">
        <li>MO Fed District Four</li>
      </ol>

      <ul style="list-style-type: disc;">
        <li>West Central MO</li>
        <li><a href='https://hartzler.house.gov/'
            title='Click To Visit the Congressional website of the Hon. Vicky Hartzler' target='_blank'>Vicky
            Hartzler</a> (R), US House of Representatives</li>
        <li><b>Note</b>. As of May of #2019, Missouri's’ 4th Federal Congressional District (West Central MO) has
          thirty-two (32) hopeful dispensary entities and owners that have already submitted their pre-application fees
          to the Missouri Dept of Health and Senior Services (<a href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>).</li>
      </ul>

      <ol type="1" start="5">
        <li>MO Fed District Five</li>
      </ol>

      <p>
        <span></span>
      </p>

      <ul style="list-style-type: disc;">
        <li>Kansas City and East</li>
        <li><a href='https://cleaver.house.gov/'
            title='Click To Visit the Congressional website of the Hon. Emanuel Cleaver' target='_blank'>Emanuel
            Cleaver</a> (D), US House of Representatives</li>
        <li><b>Note</b>. As of May of #2019, Missouri's’ 5th Federal Congressional District (Kansas City) has
          seventy-one (71) hopeful dispensary entities and owners that have already submitted their pre-application fees
          to the Missouri Dept of Health and Senior Services (<a href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>).</li>
      </ul>

      <ol type="1" start="6">
        <li>MO Fed District Six</li>
      </ol>

      <ul style="list-style-type: disc;">
        <li>northern Missouri</li>
        <li><a href='https://graves.house.gov/' title='Click To Visit the Congressional website of the Hon. Sam Graves'
            target='_blank'>Sam Graves</a> (R), US House of Representatives</li>
        <li><b>Note</b>. As of May of #2019, Missouri's’ 6th Federal Congressional District (northern Missouri) has
          sixteen (16) hopeful dispensary entities and owners that have already submitted their pre-application fees
          to the Missouri Dept of Health and Senior Services (<a href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>).</li>
      </ul>

      <ol type="1" start="7">
        <li>MO Fed District Seven</li>
      </ol>

      <ul style="list-style-type: disc;">
        <li>southwest Missouri</li>
        <li><a href='https://long.house.gov/' title='Click To Visit the Congressional website of the Hon. Billy Long'
            target='_blank'>Billy Long</a> (R), US House of Representatives</li>
        <li><b>Note</b>. As of May of #2019, Missouri's’ 7th Federal Congressional District (southwest Missouri) has
          thirty-nine (39) hopeful dispensary entities and owners that have already submitted their pre-application fees
          to the Missouri Dept of Health and Senior Services (<a href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>).</li>
      </ul>

      <ol type="1" start="8">
        <li>MO Fed District Eight</li>
      </ol>

      <ul style="list-style-type: disc;">
        <li>southeast Missouri</li>
        <li><a href='https://jasonsmith.house.gov/'
            title='Click To Visit the Congressional website of the Hon. Jason Smith' target='_blank'>Jason Smith</a>
          (R), US House of Representatives</li>
        <li><b>Note</b>. As of May of #2019, Missouri's’ 8th Federal Congressional District (southeast Missouri) has
          nineteen (19) hopeful dispensary entities and owners that have already submitted their pre-application fees
          to the Missouri Dept of Health and Senior Services (<a href='https://health.mo.gov/safety/medical-marijuana/'
            title='Click to Visit the Medical Marijuana Page of the MO Dept of Health and Senior Services'
            target='_blank'>DHSS</a>).</li>
      </ul>
    </div>
    <hr class="green-groove" />

    {% include sources-and-uses.htm %}

    {% include alt-footer-cash-me.htm %}

  </div>
</div>
