---
layout: default
title: Social Engineering
---
<div itemscope itemtype="https://schema.org/" class="container-fluid">
	<div class="row-fluid">

<hgroup class="text-left">
	<h3>Social Engineering</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Social Engineering page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h3>Cannabis and Society</h3>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>Americans are fundamentally wired from birth to respond to the Cannabis plant.</span>
</p>

<p>
	<span>Cannabis helps regulate the human Endocannabinoid System, or <a href="http://medmj.us/Endocannabinoids" title="Click to Review the Human Endocannabinoid System" target="_blank">ECS</a> by adhering to receptors in each thinking neuron of the brain.</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h3>Endocannabinoid System</h3>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>By adhering to the receptors located at the apex of the dendrite of the neuron ...</span> 
</p>

<p>
	<span>Cannabis plant phytocannabinoids help regulate the neurotransmitters responsible for accentuated feelings of anxiety, remorse, and fear.</span>
</p>
	
<p>
	<span>Perceptions of unreal manifestations of expected reality experienced by members of our societal niches that are by nature over-reactive partly explains the Cannabis plant's socially built-in aura of mystique.</span>
</p>
	<hr class="green-groove" />

<p>
	<span>For example, one "knee-jerk" reaction to the Cannabis plant experienced by Prohibitionists who have been set by decades of deliberate <b>Social Engineering</b> both epigenetically and politically passed on from one generation to the next creates an abject fear of the natural medicines within the subject.</span>
</p>

<p>
	<span>In effect programmed from birth, these poor souls are devoid of any knowledge of the beneficial effects of terpenes and cannabinoids produced by the plant in a phenotypic display of palliative entourage.</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h3>Tribal Protectionism</h3>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>That is why, under the auspices of native, familial - tribal protectionism and groupthink, even after thirteen (13) successive changes of political White House administrations from Roosevelt to Trump we still have the plant technically illegal under a Federal statute enacted by a congress-past chock full of recipients of "Big Pharma", "Big Timber", and "Big Oil" political donations.</span>
<p>
	<hr class="green-groove" />

<p>
	<span>Never has such a detrimental hoax been socially engineered upon the American people to direct American money to targets conducive to losing 20,000 "guinea pig" lives per annum when contrasted with the ZERO fatalities of stashes past.</span>
</p>
	<hr class="green-groove" />

<p>
	<span>Why then is Cannabis still illegal to grow in America, whereas the Tobacco plant is not?</span>
</p>
<hr class="green-groove" />

<hgroup class="text-left">
	<h3>Cannabis v Tobacco</h3>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>Look no further than the last <b>General Election of November #2016</b> through the lens of the <a href="http://cookpolitical.com/story/10201" title="Click to Review the General Election of November 2016 Through The Lens of The Cook Report" target="_blank">Cook Report</a>.</span> 
</p>

<p>
	<span>The authors of the <a href="http://cookpolitical.com/story/10201" title="Click to Review the General Election of November 2016 Through The Lens of The Cook Report" target="_blank">Cook Report</a> foresaw the rise of <b>President Trump</b> and the demise of legal grows for patients throughout the Great State of Arizona.</span>
</p>

<p>
	<span>In President Trump's own words, an easily swayed chunk of the populace spread across many Arizonan counties hurriedly threw the "baby out with the bathwater".</span> 
</p>

<p>
	<span>At the behest of their GOP "masters", a majority of Arizona voters voted down Prop #203, the Arizona #RecMj initiative, as opposed to the voters in California, Nevada and Massachusetts who gave similar initiatives "thumbs up"!
</p>

<p>
	<span>In Arizona, as of Nov #2016 to the detriment of all unfortunate medical patients that reside within (25) miles of a branch of the rapacious medical marijuana dispensary profit and taxing machine of Arizona, your once given <b>Authority to Cultivate</b> remains revoked.</span>
</p>
	<hr class="green-groove" />

{% include forkit.htm %}

{% include fork-it-over.htm %}

{% include can-you-contribute.htm %}

{% include alt-footer-cash-me.htm %}

</div>
</div>
