---
layout: default
title: Social Media | MMINAIL
---
<div class="container-fluid">
	<div class="row-fluid">

<main>
<article>

<hgroup class="text-left">
	<h3>Social Media</h3>
</hgroup>
	<hr class="green-groove" />

<p class="lead">
	<span>Welcome! This is the Social Media page of the <abbr class='oblique-text' title='Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation'>MMINAIL</abbr>.</span>
</p>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>Amazon</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span>More to come ...</span>
</p>
	<hr class="green-groove" />

<div class="alignleft">
<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "cannabuds-2011-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Kindle Picks";
amzn_assoc_linkid = "b86c06f5ac9af36ff02a0f5b51dd2481";
amzn_assoc_asins = "B018T075DC,B00U3FPN4U,B018Y23MNM,B013TMNKAW";
</script>

<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
	<hr />
</div>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>Tumblr</h4>
</hgroup>
	<hr class="green-groove" />

<ul>
	<li><a href="https://cannabuds.tumblr.com" title="Click to Jump To The Cannabuds Web-log (blog) at Tumblr" target="_blank">Cannabuds at Tumblr</a></li>
</ul>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>Wordpress</h4>
</hgroup>
	<hr class="green-groove" />

<ul>
	<li><a href="https://hempaz.wordpress.com" title="Click to Jump To The Enlightenments Web-log (blog) at Wordpress" target="_blank">Enlightenments at Wordpress</a>{% include icon-mminail.svg %}</li>
</ul>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>Facebook</h4>
</hgroup>
	<hr class="green-groove" />

<ul>
	<li><a href="https://fb.me/hempaz.robert" title="Click to Jump To The Facebook Page of Robert Hempaz, PhD Trichometry™" target="_blank"><i class="zocial icon facebook"></i> {% include case-icon-svg.htm icon="Facebook" %} Robert Hempaz, PhD Trichometry</a>™</li>

</ul>
	<hr class="green-groove" />

<hgroup class="text-left">
	<h4>jQuery Library</h4>
</hgroup>
	<hr class="green-groove" />

<p>
	<span><b>Note</b>.</span>
	<span>This page has explicit access to the local jQuery library as well as a local complimentary working (<a href="../js/scripts/corresponding-javascript-file.js" title="Click To Review the complimentary Javascript file for this partitioned Worksheet" target="_blank">.js</a>) file.</span> 
</p>
	<hr class='green-groove' />

<p>
	<span>More to come ...</span>
</p>

<footer class="page-footer center-block">
	<br />
	<p>
		<span><b>Source</b>:</span>
    	<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Square Up</a>
	</p>

	<p>
		<span>See: <a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Cash Me</a>
		<span>by</span>
		<a href="https://www.cash.me/$MMINAIL" title="Click to Donate to The Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation via Square Up -  Cash Me" target="_blank">Today</a>
	</p>
		<hr class="green-groove" />
	
	{% include footer.htm %}
</footer>

</article>
</main>

</div>
</div>

<script src='../js/jquery.min.js'></script>
<script src='../js/scripts/corresponding-javascript-file.js'></script>